.el-table td, .el-table th{
    padding: 5px 0;
}
.el-table td{
    padding:5px 5px;
}
.el-table td .cell{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:keep-all;
}
.el-select .el-input .el-select__caret{
    margin-right: 3px;
}
.el-input--mini .el-input__icon{
    margin-left: 3px;
}
.title_wrap .my_label {
    /* width: 100px; */
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
}
.form_item {
    display: flex;
    /* width:48%; */
}

.top_sel {
    /* width: 200px; */
    max-width: 200px;
    /* margin: 0 3px; */
    /* padding: 0 3px !important; */
}
.top_sel .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
    padding-left: 1px;
}
.top_sel .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
    padding-right: 1px;
}
.my_title_wrap{
    height: 120px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
}
.forms {
    margin-top: 15px;
}
.higher_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.higher_wrap .form_item{
    margin-top: 15px;
    width:48%;
}
.higher_wrap .form_item .my_label{
    width:100px;
}
.el-table th div{
    line-height: 20px;
}
.layui-btn-group{
    display: flex;
}
.el-table th>.cell{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.selected_chosen {
    background-color: #428bca!important;
    color: #fff;
    transition: .3s;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: transparent;
    /* color:#000; */
}
.el-date-editor{
    max-width: 100%;
}
.el-input__suffix{
    display: none;
}
.el-input--suffix .el-input__inner{
    padding-right: 5px !important;
    padding-left: 5px !important;
}