@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv=Content-Type content="text/html; charset=gb2312">
    <style>
    </style>

</head>

<body lang=ZH-CN>

    <p align=center style='text-align:center'>
        <b>
            <span style='font-size:14.0pt;font-family:宋体'>用户注册协议</span>
        </b>
    </p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>尊敬的用户</span><span lang=EN-US>:</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>为获取网上办公服务，申办人应当同意本协议的条款并按照页面上的提示完成全部的注册程序，申办人在注册过程中点击“同意”按钮表示完全接受本协议项下的全部条款。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span lang=EN-US>1.</span><span style='font-family:宋体'>特别说明：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>为了保证申办人业务事项的顺利申报，申办人应当按照实际情况如实填写。申办人的基本信息在提交之后不能再擅自修改，如果发现有问题需要修改的，请及时申请变更。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span lang=EN-US>2.</span><span style='font-family:宋体'>服务内容：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>网上申报平台目前向申办人提供网上业务申报功能。在注册成功之后，申报人可以获取在互联网上申办业务事项的权利。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>目前网上申报平台给申办提供了一系列的功能，帮助申办人快速便捷的进行网上申报。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span lang=EN-US>3. </span><span style='font-family:宋体'>注册服务：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>申请成为系统用户时，申办人必须提供真实的注册信息；若您提供的信息不真实，网上办公系统有权暂停或终止对您的服务。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span lang=EN-US>4.</span><span style='font-family:宋体'>登录名，密码和安全：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>申办成功后，主管部门会分配给您一个账号和密码。</span></p>

    <p><span style='font-family:宋体'>申办人须做到：</span></p>

    <p><span style='font-family:宋体'>①对非授权使用您的用户名及密码以及其他破坏安全性的行为立即向网上申报平台报告；</span></p>

    <p><span style='font-family:宋体'>②确保每次使用网上申报平台后正确地离开该站点。网上申报平台对您因没有遵守此协议而造成的损失不负任何法律责任。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span lang=EN-US>5. </span><span style='font-family:宋体'>服务终止：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>网上申报平台有权在告知或未经告知的情况下随时终止您的会员服务。一旦您的会员服务被终止，您将不能使用网上申报平台；同时您在网上申报平台的注册资料及所有相关信息均会被删除或丢弃。</span></p>

    <p><span style='font-family:宋体'>对于用户的以下行为，网上申报平台有权暂停或终止对其的服务：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>①向网上申报平台的在线投诉功能滥发重复信息；</span></p>

    <p><span style='font-family:宋体'>②冒用其他企业的名义发布各种不良信息，办理有损于他人的业务；</span></p>

    <p><span style='font-family:宋体'>③攻击网上申报平台的数据、网络或服务；</span></p>

    <p><span style='font-family:宋体'>④盗用他人在网上申报平台上的用户名或密码。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span lang=EN-US>6. </span><span style='font-family:宋体'>协议修改：</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>①网上申报平台将有权随时修改本协议的有关条款，一旦本协议的内容发生变动，平台将会通过适当方式向用户提示修改内容。</span></p>

    <p><span style='font-family:宋体'>②如果不同意平台对本协议相关条款所做的修改，平台用户有权停止使用平台的各项服务。</span></p>

    <p><span style='font-family:宋体'>如果平台用户继续使用平台提供的服务，则视为其接受平台对本协议相关条款的修改。</span></p>

    <p><span lang=EN-US>&nbsp;</span></p>

    </div>

</body>

</html>

