<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>


    <style type="text/css">
        html,body{  
          height:97%;  
          margin:0px;  
          text-align:center;
        }  
        #d1 {  
            color:#60c066;
            text-align:center;
            padding-top:100px;
            font-size:25px;
            font-weight:bold;
            letter-spacing:5px;
            line-height:60px;
            padding-bottom:40px;
        }  
        #d2{
            font-size:30px;
            line-height:40px;
            font-weight:bolder;

        }
        #d3{
            padding-top:50px;
            font-size:30px;
            line-height:40px;
            font-weight:bolder;

        }
    </style>
</head>
<body>
    <div id="d1">您的浏览器不能正常使用系统，请下载安装专用浏览器<br />如您已安装专用浏览器，请用专用浏览器打开</div>
    <div id="d2"><a href="/downs/标点浏览器.exe">专用浏览器下载</a></div>
    <div id="d3">
        <a href="/help/iereadme" target="_blank">安装过程如遇到问题，请点击这里查看安装说明</a>
    </div>
</body>
</html>
