@using BD.Jcbg.Common;
@using BD.Jcbg.Web.Func;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>检测集团管理云平台</title>
    <link rel="stylesheet" href="/static/css/main/MainNew.css?2">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1612015_3nc4dw9qay.css">
    <style>
        #mainPage {
            position: relative;
            width: 100%;
            height: 100%;
        }

            #mainPage iframe {
                position: absolute;
                top: 0px;
                left: 0px;
                /*z-index: 9;*/
                width: 100%;
                height: 100%;
            }

        iframe {
            background: white;
        }

        #mainPage .active {
            z-index: 9;
        }

        .main_body {
            display: flex;
            width: 100%;
            height: calc(100% - 50px);
        }
    </style>
    <style>
        .icon-xiaoxi {
            background: linear-gradient(to right, red, blue);
            -webkit-background-clip: text;
            color: transparent;
        }
    </style>
</head>
<body>
    <div id="app">
        <div style="width: 100%;height:50px;position: relative;">
            <div style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 25px;background:#525357;"></div>
                <div style="width: 100%;height: 25px;background:#45464B;"></div>
            </div>
            <div class="top_nav">
                <div class="logo_box">
                    <div class="logo_icon">
                        @*<img src="/static/image/main/bd_logo.png" alt="">*@
                    </div>
                    <div class="logo_title">检测集团管理云平台</div>
                </div>
                <div class="top_nav_list">
                    <ul>
                        <li class="top_nav_list_select" name="homepage" style="padding:0 1vw;">
                            <span>首页</span>
                            <!-- <i class="iconfont icon-guanbi1"></i> -->
                        </li>
                    </ul>
                </div>
                <div class="top_nav_right">
                    <div class="top_nav_tips" id="opentask">
                        <i class="iconfont icon-xiaoxi">
                            <div id="dbsxCount" class="top_nav_number">0</div>
                        </i>
                    </div>
                    <div class="top_nav_message" id="openEmail">
                        <i class="iconfont icon-youjian">
                            <div id="mailCount" class="top_nav_number top_nav_number_max">0</div>
                        </i>
                    </div>
                    <div class="top_nav_tips" id="J_refresh">
                        <span style="color: #fff;font-size: 1.04vw;">刷新</span>
                    </div>
                    <div class="top_nav_more">
                        <span>更多</span><i class="iconfont icon-arrow-top"></i>
                        <div class="top_nav_more_option">
                            <div id="down" style="position: relative;">
                                <div style="width: 100%;height: 100%;">
                                    <div style="width: 100%;height: 25px;background:#525357;"></div>
                                    <div style="width: 100%;height: 25px;background:#45464B;"></div>
                                </div>
                                <div style="position: absolute;left: 0;top: 0;text-align: center;width: 100%;">下载</div>
                            </div>
                            <div style="position: relative;">
                                <div style="width: 100%;height: 100%;">
                                    <div style="width: 100%;height: 25px;background:#525357;"></div>
                                    <div style="width: 100%;height: 25px;background:#45464B;"></div>
                                </div>
                                <div style="position: absolute;left: 0;top: 0;text-align: center;width: 100%;">电话</div>
                            </div>
                            <div style="position: relative;">
                                <div style="width: 100%;height: 100%;">
                                    <div style="width: 100%;height: 25px;background:#525357;"></div>
                                    <div style="width: 100%;height: 25px;background:#45464B;"></div>
                                </div>
                                <div style="position: absolute;left: 0;top: 0;text-align: center;width: 100%;"><a href="/downs/使用帮助.doc">帮助</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="top_nav_account">
                        <div>
                            <i class="iconfont icon-denglu1"></i><div>@CurrentUser.RealName</div>
                        </div>
                    </div>
                    <div class="top_nav_return">
                        <div>
                            <i class="iconfont icon-tuichu"></i><div>退出</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_body">
            <div class="left_nav">
                <ul id="ui_left_nav">
                    <li class="nav_item" value="-1">
                        <div style="width: 100%;height: 100%;">
                            <div style="width: 100%;height: 25px;background:#525357;"></div>
                            <div style="width: 100%;height: 25px;background:#45464B;"></div>
                        </div>
                        <div class="nav_name nav_name_select" name="homepage">
                            <i class="iconfont icon-weibiaoti-" style="font-size: 18px;"></i>
                            <span class="nav_text">首页</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-page" id="mainPage">
                <iframe scrolling="auto" name="homepage" id="homepage" value="homepage" frameborder="0" src=""></iframe>
            </div>
        </div>
        <div id="layer" style="display: none;">
            <div id="layerContent">
                <div>
                    <div id="barIos" style="margin: 20px;"></div>
                    <div style="text-align: center;">IOS</div>
                </div>
                <div>
                    <div id="barAndroid" style="margin: 20px;"></div>
                    <div style="text-align: center;">Android</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/lib/jquery-2.0.3.min.js"></script>
<script src="/static/lib/layer/layer.js"></script>
<script src="/skins/default/js/jquery.qrcode.min.js"></script>

<script src="/static/js/main/load_new.js?v=4"></script>
<script>
    $(function () {
      
        //$("#homepage").attr("src", '/jcjt/index');
        //nav导航
        loadMenusNew();
        getWorkSum();
        setInterval(function () {
            getWorkSum();
        }, 30000);
        getNewMailSum();
    });
    var load
    $('#homepage')[0].onload = function () {
        load = $('#homepage')[0].contentWindow.app.load();
    }
    $('#J_refresh').on('click', function () {
        if ($('#mainPage>iframe.active').length) {
            $('#mainPage>iframe.active')[0].contentWindow.location.reload()
        } else {
            $('#mainPage>iframe')[0].contentWindow.location.reload()

        }
    })
    if ($('.left_nav')) {
        // console.log($('.left_nav'))
    }
</script>
</html>