@using BD.Jcbg.Web.Func;
@using BD.Jcbg.Common;
@{
    ViewBag.Title = "软件超市";
    Layout = "~/Views/User/_loginlayout.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">
        $(function () {
        });
    </script>
}

<div class="s_container font_size_normal font_faminly font_color_black">
    <div class="s_container_top sj_dark_red">
        <div class="width_1000">
            <div class="width_1000_left">
                <div class="img"> <img src="@SkinManager.GetImagePath("logo.png")" /> </div>
                <div class="word">
                    <p class="font_faminly_yishu font_size_xxl sj_dark_red logo_left_name">绍兴标点</p>
                    <p class="font_color_white font_size_m">好技术 好软件 好服务</p>
                </div>


            </div>
            <div class="shu">
                <img src="@SkinManager.GetImagePath("shu.png")" />
            </div>
            <div class="width_1000_right">
                <ul class="font_color_white font_size_l font_color_black top_tab_tiaozhuan">


                    <li class="" onclick="top_tiaozhun(1)" onmouseover="    this.style.background = '#888888'" onmouseout="    this.style.background = 'transparent'">首页</li>
                    <li class=" " onclick="top_tiaozhun(2)" onmouseover="    this.style.background = '#888888'" onmouseout="    this.style.background = 'transparent'">软件超市</li>
                    <li class="" onclick="top_tiaozhun(3)" onmouseover="    this.style.background = '#888888'" onmouseout="    this.style.background = 'transparent'">关于我们</li>
                    <li class="active hezuohuoban " onclick="top_tiaozhun(4)">合作伙伴</li>

                    <li class="" onclick="top_tiaozhun(5)" onmouseover="    this.style.background = '#888888'" onmouseout="    this.style.background = 'transparent'">下载</li>


                </ul>


            </div>



        </div>


    </div>
    <div class="s_container_kehu_middle ">
        <div class="top">
            <div class="width_1000" style="text-align:right;padding-right:50px;padding-top:70px;">
                <img src="@SkinManager.GetImagePath("top_img.png")" />
            </div>



        </div>
        <div class="width_1000 middle">
            <div class="name_kehuming font_size_l left ">
                <div class="title_kehuming">
                    <div class="huoban_circle">浙</div>
                    <label>浙江客户</label>
                </div>
                <p>
                    丽水市建筑工程质量检测检验中心
                </p><p>
                    青田县建设工程试验室
                </p><p>
                    缙云县建筑工程质量监督站
                </p><p>
                    龙泉市科正建设工程材料检测有限公司
                </p><p>
                    松阳县建筑材料试验室
                </p><p>
                    景宁畲族自治县建筑工程材料检测中心
                </p><p>
                    庆元县建筑工程质量监督站
                </p><p>
                    遂昌县建筑工程试验室
                </p><p>
                    云和县永和建筑材料检测有限公司
                </p><p>
                    云和县泰禾建材检测有限公司
                </p><p>
                    温州市科宏工程检测有限公司
                </p><p>
                    温州市科正建设工程检测有限公司
                </p><p>
                    温州经济技术开发区建设工程检测室
                </p><p>
                    温州华星建材检测有限公司
                </p><p>
                    瑞安市建设工程检测科学研究所有限公司(检测中心）
                </p><p>
                    瑞安市经纬建设工程检测有限公司
                </p><p>
                    瑞安市建设工程质量监督站职工技协服务部（质监站）
                </p><p>
                    瑞安市发展新型墙体材料办公室
                </p><p>
                    浙江大合检测有限公司温州分公司
                </p><p>
                    温州瑞诚工程检测技术有限公司
                </p><p>
                    乐清市建设工程质量监督站
                </p><p>
                    乐清市乐建工程检测中心
                </p><p>
                    乐清市红升建设工程检测有限公司
                </p><p>
                    浙江创先建筑工程检测有限公司
                </p><p>
                    乐清市华厦建筑材料检测有限公司
                </p><p>
                    温州市白象建筑材料检测有限公司
                </p><p>
                    乐清市合力市政工程检测有限公司
                </p><p>
                    洞头县建筑工程质量监督站试验室
                </p><p>
                    泰顺县建设工程质量检测鉴定中心
                </p><p>
                    平阳县建筑材料检测所
                </p><p>
                    温州精诚工程检测有限公司
                </p><p>
                    温州科圆建筑材料检测有限公司
                </p><p>
                    温州市龙湾区建设工程质量检测中心
                </p><p>
                    温州市灵霓建工质量检测有限公司
                </p><p>
                    温州市正诚工程质量检测有限公司
                </p><p>
                    温州市瓯江口新区开发建设管理委员会
                </p><p>
                    浙江大玮检测科技有限公司（2014.4改名后）
                </p><p>
                    温州市水利电力勘测设计院
                </p><p>
                    温州市聚源水利水电检测有限公司
                </p><p>
                    苍南县加利建筑材料检测有限公司
                </p><p>
                    苍南县建设工程质量监督站
                </p><p>
                    苍南县浙南建筑质监科学研究所有限公司
                </p><p>
                    温州市民和建筑检测有限公司
                </p><p>
                    永嘉县建筑工程质量监督站检测室
                </p><p>
                    温州市建交工程检测有限公司
                </p><p>
                    文成县建筑工程质量监督站
                </p><p>
                    文成县建设工程检测所有限公司
                </p>

                <p>
                    嘉兴市建设工程质量检测有限公司
                </p><p>
                    嘉兴市汇丰建设工程检测有限公司
                </p><p>
                    嘉兴市天宇工程检测有限公司
                </p><p>
                    浙江南和工程检测有限公司
                </p><p>
                    嘉兴市禾正工程检测有限公司
                </p><p>
                    嘉兴市恒特工程质量检测有限公司
                </p><p>
                    嘉兴市叁壹工程检测有限公司
                </p><p>
                    嘉兴市求是工程试验有限责任公司
                </p><p>
                    嘉兴市振业建设工程检测有限公司
                </p><p>
                    嘉兴市春秋建设工程检测中心有限责任公司
                </p><p>
                    嘉兴市秀洲区晟大工程检测有限公司
                </p><p>
                    嘉兴市南湖区众易工程质量检测有限公司
                </p><p>
                    嘉兴市嘉地岩土工程研究所有限公司
                </p><p>
                    浙江煤炭测绘院建设工程检测分院
                </p><p>
                    嘉兴市乐嘉工程质量检测有限公司
                </p><p>
                    浙江省地球物理技术应用研究所
                </p><p>
                    浙江瑞邦建设工程检测有限公司
                </p><p>
                    海宁市欣业建设工程检测中心
                </p><p>
                    海盐县恒立建设工程检测中心
                </p><p>
                    桐乡市大正建设工程检测有限公司
                </p><p>
                    平湖市正信建设工程检测有限公司
                </p><p>
                    平湖市建筑工程质量监督站
                </p><p>
                    诸暨市建筑业管理局
                </p><p>
                    诸暨市宏泰建设工程检测所
                </p><p>
                    诸暨市建筑工程质量监督站
                </p><p>
                    嵊州市建信工程检测有限公司
                </p><p>
                    新昌县兴信建设工程检测中心
                </p><p>
                    绍兴市安全生产监督管理局
                </p><p>
                    绍兴袍江工业区建设工程质量检测中心有限公司
                </p><p>
                    绍兴市上虞区方兴建设工程检测有限公司
                </p><p>
                    东阳市建设工程质量安全监督站
                </p><p>
                    义乌市山川建筑材料检测有限公司
                </p><p>
                    横店集团控股有限公司
                </p><p>
                    磐安县建设工程检测中心
                </p><p>
                    兰溪市程远建筑材料检测有限公司
                </p><p>
                    金华市建筑材料试验所有限公司
                </p><p>
                    温岭市建筑工程质量安全监督站
                </p><p>
                    温岭市建筑工程质量检测有限公司
                </p><p>
                    温岭市城市建设综合开发有限责任公司
                </p><p>
                    玉环县建设工程质量监督站改名成玉环县建设工程检测中心有限公司
                </p><p>
                    台州市交通工程试验检测中心有限公司
                </p><p>
                    建德市永义建设工程检测中心
                </p><p>
                    淳安华胜数码科技有限公司
                </p><p>
                    淳安县建设工程检测有限公司
                </p><p>
                    舟山市建筑工程质量安全监督站检验测试中心
                </p>
                <p>
                    江山市建筑工程质量监督站建筑材料试验中心
                </p>
            </div>
            <div class="name_kehuming font_size_l left ">

                <div class="title_kehuming">
                    <div class="huoban_circle">蒙</div>
                    <label>内蒙古客户</label>
                </div>
                <p>
                    赤峰市建筑科学研究所
                </p><p>
                    内蒙古自治区能效测评东部区分站
                </p><p>
                    赤峰市建设工程质量检测中心
                </p><p>
                    赤峰铸泰混凝土搅拌有限责任公司
                </p><p>
                    赤峰坤源建筑材料有限公司
                </p><p>
                    敖汉旗建筑工程检测试验中心
                </p><p>
                    敖汉旗瑞佳建材有限责任公司
                </p><p>
                    赤峰博雅建筑咨询有限公司
                </p><p>
                    敖汉旗金源商砼有限公司
                </p><p>
                    敖汉旗住房和城乡建设局
                </p><p>
                    赤峰广源新型建材有限公司
                </p><p>
                    赤峰市松山区住房和城乡建设局
                </p><p>
                    赤峰久久建筑劳务有限公司
                </p><p>
                    宁城县建设工程质量检测中心
                </p><p>
                    宁城县风水山混凝土有限责任公司
                </p><p>
                    宁城万达混凝土有限公司
                </p><p>
                    宁城县住房和城乡建设局
                </p><p>
                    巴林右旗建设工程质量检测中心
                </p><p>
                    辽河工程局股份有限公司大板混凝土分公司
                </p><p>
                    巴林左旗精信工程检测有限公司
                </p><p>
                    巴林左旗达峰水泥制品有限公司
                </p><p>
                    巴林左旗住房和城乡建设局
                </p><p>
                    巴林左旗筑友水泥制品有限责任公司
                </p><p>
                    巴林左旗东昊水泥制品有限责任公司
                </p><p>
                    元宝山区建设工程检测试验中心
                </p><p>
                    赤峰市金昌混凝土有限责任公司
                </p><p>
                    赤峰元建混凝土有限公司
                </p><p>
                    赤峰瑞邦混凝土有限公司
                </p><p>
                    翁牛特旗建设工程质量检测中心
                </p><p>
                    赤峰五佳铸诚搅拌有限责任公司
                </p><p>
                    翁牛特旗住房和城乡建设局
                </p><p>
                    翁牛特旗万里川混凝土制造有限公司
                </p><p>
                    赤峰市红山区建设工程质量检测中心
                </p><p>
                    内蒙古方圆土木工程质量检测有限公司
                </p><p>
                    赤峰市建研建材检测有限公司
                </p><p>
                    赤峰龙翔混凝土有限公司
                </p><p>
                    赤峰正邦建设工程质量检测有限公司 （赤峰二建）
                </p><p>
                    赤峰永建混凝土有限责任公司
                </p><p>
                    赤峰同人混凝土有限责任公司
                </p><p>
                    赤峰昌通工程质量检测有限公司（原路达）
                </p><p>
                    克什克腾旗建设局
                </p><p>
                    克什克腾旗森源商砼有限责任公司
                </p><p>
                    克什克腾旗建设工程质量检测试验中心
                </p><p>
                    赤峰亿辰商砼有限责任公司
                </p><p>
                    阿鲁科尔沁旗建设工程质量检测中心
                </p><p>
                    阿鲁科尔沁旗双兴建材水泥制品有限责任公司
                </p><p>
                    阿鲁科尔沁旗锋合商品混凝土有限责任公司
                </p><p>
                    阿鲁科尔沁旗建设局
                </p><p>
                    林西县建筑工程质量检测中心
                </p><p>
                    林西聚恒混凝土工程有限责任公司
                </p><p>
                    喀喇沁旗建设工程质量监督检测试验中心
                </p><p>
                    赤峰中兴首创混凝土搅拌有限责任公司
                </p><p>
                    喀喇沁旗恒伟商品混凝土有限公司
                </p><p>
                    赤峰力明商品混凝土有限公司
                </p><p>
                    喀喇沁旗住房和城乡建设局
                </p><p>
                    赤峰弘毅膨混润土有限公司喀旗混凝土搅拌站
                </p><p>
                    通辽市建设工程质量检测中心
                </p><p>
                    库伦旗建设工程质量检测中心
                </p><p>
                    科左中旗建筑产品建筑材料检测中心
                </p><p>
                    开鲁县建筑材料产品质量检测中心
                </p><p>
                    开鲁县天工建设工程材料检测有限公司
                </p><p>
                    乌兰浩特市铭威建设工程质量检测中心
                </p><p>
                    兴安盟科信建设工程质量检测中心
                </p><p>
                    兴安盟鑫安建设工程质量检测有限责任公司
                </p><p>
                    突泉县方正建设工程质量检测中心　　
                </p><p>
                    扎赉特旗建设工程质量检测中心
                </p><p>
                    科右中旗建设工程质量检测中心
                </p><p>
                    科右前旗安兴建设工程质量检测站
                </p><p>通辽市开鲁县新元建筑安装工程有限公司</p>
                <div class="title_kehuming">
                    <div class="huoban_circle">晋</div>
                    <label>山西客户</label>
                </div>
                <p>
                    汾阳市精誉工程检测试验有限公司
                </p>
                <div class="title_kehuming">
                    <div class="huoban_circle">湘</div>
                    <label>湖南客户</label>
                </div>
                <p>
                    津市市建筑材料检测中心站
                </p><p>
                    湖南澧县建筑工程质量监督站
                </p><p>
                    桃源县建筑工程质量检测站
                </p><p>
                    鼎城区建筑工程质量监督站
                </p>
            </div>

        </div>

    </div>
</div>
