@using BD.Jcbg.Common;
@using BD.Jcbg.Web.Func;
@{
    Layout = "~/Views/User/_welcomelayout.cshtml";
}
@section head
{

    <script language="javascript" type="text/javascript">
    var g_menus = [];
    var g_menugroups = [];
    var g_imageRoot = "@SkinManager.GetImagePath("")";

    $(function () {
        //loadMenus();
        setReportSum();
        setSums();
        run();
        setGcs();
        setAnnounce();
    });
    function loadMenus() {
        try {
            $.ajax({
                type: "POST",
                url: "/user/getmenus",
                dataType: "json",
                async: false,
                success: function (data) {
                    g_menus = data;


                    $.each(g_menus, function(index,group){
                        if (!group.IsGroup)
                            return true;
                        g_menugroups[g_menugroups.length] = group;
                        var menuIcon = group.ImageUrl;
                        if (menuIcon == "")
                            menuIcon = "fa fa-balance-scale";
                        var menustr = "<li><a href=\"javascript:void(0)\" onclick=\"zhu_ci_tiz('"+group.MenuCode+"')\"><div class=\"kuang_left_top\"><i class=\""+menuIcon+"\"></i></div><div class=\"kuang_left_last\">"+group.MenuName+"</div></a></li>";

                        $("#menu_group").append(menustr);
                        menustr = "<div class=\"fenlei_middle\" id=\"" + group.MenuCode + "\"></div>";
                        $("#menu_item").append(menustr);
                        $("#" + group.MenuCode).append("<div class=\"middle_word\">" + group.MenuName + "</div>");
                        $("#" + group.MenuCode).append("<ul class=\"nei_tubiao\" id=\"ul_" + group.MenuCode + "\"></ul>");
                        $.each(g_menus, function (index, item) {
                            if (item.ParentCode == group.MenuCode) {
                                var menuIcon = item.ImageUrl
                                if (menuIcon == "")
                                    menuIcon = "fa fa-object-group";
                                $("#ul_" + group.MenuCode).append("<li ><a onclick=\"tubiao_zhu_nei('" + item.MenuCode + "','" + item.MenuName + "','" + item.MenuUrl + "')\" href=\"javascript:void(0)\"><div class=\"nei_tubiao_div\"><i class=\"" + menuIcon + "\"></i></div><div class=\"nei_tubiao_word\">" + item.MenuName + "</div><div class='shangbiao display_no' id='count_" + item.MenuCode + "'></div></a></li>");
                                getSumString(item.MenuCode);
                            }
                        });
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                    layer.closeAll('loading');
                },
                beforeSend: function (XMLHttpRequest) {
                    layer.load();
                }
            });
        } catch (e) {
            layer.open({ title: '错误', content: e.message, icon: 2 });
        }
    }

    //var g_run_menus = ["QYGL_QYSQSP", "QYGL_QYZZSP", "NBYJ","DBGZ","GCBAGL"];
    var g_run_menus = ["NBYJ", "DBGZ"];
    // 设置轮询
    function run() {
        setInterval("setSums()", 5000);
    }
    function setSums(){
        for (var i=0; i<g_run_menus.length; i++){
            getSumString(g_run_menus[i]);
        }
    }
    var g_haswork_img = "@SkinManager.GetImagePath("side_icon04.gif")";
    var g_nowork_img = "@SkinManager.GetImagePath("side_icon04.png")";
    /*
    function getSumString(menucode) {
        if ($("#count_" + menucode).length == 0 &&
            $(window.parent.document).find("#pcount_" + menucode).length == 0 &&
            $(window.parent.document).find("#spcount_" + menucode).length == 0)
            return;
        if (menucode == "QYGL_QYSQSP" ||
            menucode == "QYGL_QYZZSP" ||
            menucode == "NBYJ" ||
            menucode == "DBGZ" ||
            menucode == "GCBAGL") {
            var sum = 0;
            if (menucode == "QYGL_QYSQSP")
                sum = getQysqsl() * 1;
            else if (menucode == "QYGL_QYZZSP")
                sum = getQyzzsqsl() * 1;
            else if (menucode == "NBYJ") {
                sum = getNewMailSum() * 1;
                if ($("#mail_count").length > 0)
                    $("#mail_count").html(sum);
            }
            else if (menucode == "GCBAGL")
                sum = getGcsbSum() * 1;
            else if (menucode == "DBGZ") {
                sum = getWorkSum() * 1;
                if ($(window.parent.document).find("#sp_work_sum").length > 0) {
                    $(window.parent.document).find("#sp_work_sum").text(sum);
                }

                if ($(window.parent.document).find("#img_todo").length > 0) {
                    var imgsrc = "";
                    if (sum == 0)
                        imgsrc = g_nowork_img;
                    else
                        imgsrc = g_haswork_img;
                    $(window.parent.document).find("#img_todo").attr("src", imgsrc);
                }
                if ($("#task_count").length > 0) {
                    $("#task_count").html(sum);
                }
            }
            if ($("#count_" + menucode).length > 0) {
                if (sum > 0) {
                    if ($("#count_" + menucode).hasClass("display_no")) {
                        $("#count_" + menucode).removeClass("display_no");
                        $("#count_" + menucode).text(sum);
                    }
                } else {
                    if (!$("#count_" + menucode).hasClass("display_no")) {
                        $("#count_" + menucode).addClass("display_no");
                    }
                }
            }
            if ($(window.parent.document).find("#pcount_" + menucode).length > 0) {
                if (sum > 0) {
                    if ($(window.parent.document).find("#pcount_" + menucode).hasClass("display_no")) {
                        $(window.parent.document).find("#pcount_" + menucode).removeClass("display_no");
                        $(window.parent.document).find("#pcount_" + menucode).text(sum);
                    }
                } else {
                    if (!$(window.parent.document).find("#pcount_" + menucode).hasClass("display_no")) {
                        $(window.parent.document).find("#pcount_" + menucode).addClass("display_no");
                    }
                }
            }
            if ($(window.parent.document).find("#spcount_" + menucode).length > 0) {
                if (sum > 0) {
                    if ($(window.parent.document).find("#spcount_" + menucode).hasClass("display_no")) {
                        $(window.parent.document).find("#spcount_" + menucode).removeClass("display_no");
                        $(window.parent.document).find("#spcount_" + menucode).text(sum);
                        console.log($(window.parent.document).find("#spcount_" + menucode).text());
                    }
                } else {
                    if (!$(window.parent.document).find("#spcount_" + menucode).hasClass("display_no")) {
                        $(window.parent.document).find("#spcount_" + menucode).addClass("display_no");
                    }
                }
            }
        }
    }*/
    function getSumString(menucode) {
        if (menucode == "NBYJ" ||
            menucode == "DBGZ") {
            var sum = 0;
            if (menucode == "NBYJ") {
                sum = getNewMailSum() * 1;
                if ($("#mail_count").length > 0)
                    $("#mail_count").html(sum);
            }
            else if (menucode == "DBGZ") {
                sum = getWorkSum() * 1;
                if ($(window.parent.document).find("#sp_work_sum").length > 0) {
                    $(window.parent.document).find("#sp_work_sum").text(sum);
                }

                if ($("#task_count").length > 0) {
                    $("#task_count").html(sum);
                }
                /*
                if ($(window.parent.document).find("#img_todo").length > 0) {
                    var imgsrc = "";
                    if (sum == 0)
                        imgsrc = g_nowork_img;
                    else
                        imgsrc = g_haswork_img;
                    $(window.parent.document).find("#img_todo").attr("src", imgsrc);
                }*/
            }
        }
    }
    function getQysqsl() {
        var ret = 0;
        try {
            $.ajax({
                type: "POST",
                url: "/qy/getqysqsl",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.code == 0)
                        ret = data.msg;
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (e) {
        }
        return ret;
    }
    function getQyzzsqsl() {
        var ret = 0;
        try {
            $.ajax({
                type: "POST",
                url: "/qy/getqyzzsqsl",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.code == 0)
                        ret = data.msg;
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (e) {
        }
        return ret;
    }
    function getNewMailSum() {
        var ret = 0;
        try {
            $.ajax({
                type: "POST",
                url: "/oa/getnewmailsum",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.code == 0)
                        ret = data.msg*1;
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
            setMail();
        } catch (e) {
        }
        return ret;
    }
    function getWorkSum() {
        var ret = 0;
        try {
            $.ajax({
                type: "POST",
                url: "/workflow/getworktodocount",
                dataType: "json",
                async: false,
                success: function (data) {
                    ret = data.count * 1;
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
            showWorkList();
        } catch (e) {
        }
        return ret;
    }

    function getGcsbSum() {
        var ret = 0;
        try {
            $.ajax({
                type: "POST",
                url: "/jdbg/getgcsbsum",
                dataType: "json",
                async: false,
                success: function (data) {
                    ret = data.msg * 1;
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (e) {
        }
        return ret;
    }

    function setReportSum() {
        var ret = 0;
        try {
            $.ajax({
                type: "POST",
                url: "/jdbg/getreportsum?jcjg=",
                dataType: "json",
                async: true,
                success: function (data) {
                    $("#report_sum_1").html(data.msg);
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
            $.ajax({
                type: "POST",
                url: "/jdbg/getreportsum?jcjg=1",
                dataType: "json",
                async: true,
                success: function (data) {
                    $("#report_sum_2").html(data.msg);
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
            $.ajax({
                type: "POST",
                url: "/jdbg/getreportsum?jcjg=2",
                dataType: "json",
                async: true,
                success: function (data) {
                    $("#report_sum_3").html(data.msg);
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (e) {
            alert(e);
        }
        return ret;
    }
    function showReport(reporttype) {
        try {
            var title = '';
            var JCJG = '';
            switch (reporttype) {
                case "1":
                    title = '所有报告';
                    JCJG = 'ALL';
                    break;
                case "2":
                    title = '合格报告';
                    JCJG = '1';
                    break;
                case "3":
                    title = '不合格报告';
                    JCJG = '2';
                    break;
                default:
                    break;

            }
            window.parent.tubiao_zhu_nei("BGCX", title, "/WebList/EasyUiIndex?FormDm=BGCX&FormStatus=0&FormParam=PARAM--ALL|" +JCJG);
        } catch (ex) {
            alert(ex);
        }
    }
    function setGcs() {
	return;
        try {
            $.ajax({
                type: "POST",
                url: "/jdbg/getgcs",
                dataType: "json",
                async: true,
                success: function (data) {
                    $.each(data, function (index, row) {
                        //$("#table_gc").append("<tr><td>" + row.zjdjh + "</td><td>" + row.gcmc + "</td><td>" + row.sy_jsdwmc + "</td><td>" + row.sgdwmc + "</td><td>" + row.jldwmc + "</td><td>" + row.kcdwmc + "</td><td>" + row.sjdwmc + "</td><td>" + row.spzt + "</td><td>" + row.jdgcsxm + "," + row.tjjdyxm + "," + row.azjdyxm + "</td></tr>");
                        $("#table_gc").append("<tr><td>" + row.zjdjh + "</td><td>" + row.gcmc + "</td><td>" + row.sy_jsdwmc + "</td><td>" + row.sgdwmc + "</td><td>" + row.jldwmc + "</td><td>" + row.spzt + "</td><td>" + row.jdgcsxm + "," + row.tjjdyxm + "," + row.azjdyxm + "</td></tr>");
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (ex) {
            alert(ex);
        }
    }
    function setAnnounce() {
        try {
            $.ajax({
                type: "POST",
                url: "/oa/getannounce?page=1&rows=100&hasread=0&key=",
                dataType: "json",
                async: true,
                success: function (data) {
                    $.each(data.rows, function (index, row) {
                        $("#table_announce").append("<tr><td onclick='showAnnounce(\""+row.recid+"\")' style='cursor:pointer'>" + row.title + "</td></tr>");
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (ex) {
            alert(ex);
        }
    }
    function showAnnounce(recid) {
        parent.layer.open({
            type: 2,
            title: '公告详情',
            shadeClose: true,
            shade: 0.8,
            area: ['98%', '98%'],
            content: "/oa/announceview?read=true&id=" + recid,
            //content: "/jdbg/player",
            end: function () {
            }
        });
    }
    function showWorkList() {
        $.ajax({
            type: "POST",
            url: "/workflow/getworktodolist?page=1&rows=1000&key=",
            dataType: "json",
            async: true,
            success: function (data) {
                $("#table_task").html("");
                if (data.total > 0) {
                    $.each(data.rows, function (i, item) {
                        var extrainfo = "";
                        if (item.ExtraInfo2 != "")
                            extrainfo = "[" + item.ExtraInfo2 + "]";

                        var dt = eval("new " + item.DateAccepted.substr(1, item.DateAccepted.length - 2));
                        var acceptDate = dt.pattern("yyyy-MM-dd HH:mm");

                        $("#table_task").append("<tr><td><a href='javascript:showCheckWorkDialog(" + item.Taskid + ")'>[" + acceptDate + "][来自：" + item.PreUserRealName + "]" + item.ActivityName + extrainfo + "</a></td></tr>");
                    });
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
            },
            beforeSend: function (XMLHttpRequest) {
            }
        });
    }

    function showCheckWorkDialog(taskid) {
        parent.layer.open({
            type: 2,
            title: '',
            shadeClose: true,
            shade: 0.5,
            area: ['95%', '95%'],
            content: "/workflow/checkwork?taskid=" + taskid + "&DlgId=1&_=" + Math.random(),
            end: function () {
            }
        });

    }
    function setMail() {
        try {
            $.ajax({
                type: "POST",
                url: "/oa/getmails?page=1&rows=100&hasread=0",
                dataType: "json",
                async: true,
                success: function (data) {
                    $("#table_mail").html("");
                    $.each(data.rows, function (index, row) {
                        $("#table_mail").append("<tr><td onclick='showMail(\"" + row.recid + "\")' style='cursor:pointer'>["+row.sy_sendtime+"]&nbsp;&nbsp;" + row.title + "&nbsp;&nbsp;[来自："+row.senderrealname+"]</td></tr>");
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (ex) {
            alert(ex);
        }
    }
    function showMail(recid) {
        parent.layer.open({
            type: 2,
            title: '邮件详情',
            shadeClose: true,
            shade: 0.8,
            area: ['98%', '98%'],
            content: "/oa/mailview1?read=true&id=" + recid,
            //content: "/jdbg/player",
            end: function () {
            }
        });
    }
    function showAllWorkList() {
        try {
            window.parent.tubiao_zhu_nei("DBGZ", "待办工作", "/workflow/worktodo");
        } catch (ex) {
            alert(ex);
        }
    }
    function showAllAnnounce() {
        try {
            window.parent.tubiao_zhu_nei("GRGL_GGCK", "公告查看", "/oa/announcelist2");
        } catch (ex) {
            alert(ex);
        }
    }
    function showAllMail() {
        try {
            window.parent.tubiao_zhu_nei("NBYJ", "内部邮件", "/oa/maillist");
        } catch (ex) {
            alert(ex);
        }
    }
    </script>
}

<div id="page2">

    <div class="page2_last">
        <div class="page2_last_left">
            <div class="nei">
                <div class="title" style="cursor:pointer" onclick="showAllWorkList();">
                    <i class="fa fa-file-text-o"></i>
                    <div class="title_word">  <p><span id="task_count"></span>条</p> <p>待办任务</p></div>

                </div>

                <div class="table-responsive">
                    <table class="table table-hover" id="table_task">
                        <tbody></tbody>
                    </table>
                </div>



            </div>

        </div>


        <div class="page2_last_right">
            <div class="nei">
                <div class="title" style="cursor:pointer" onclick="showAllMail();">
                    <i class="fa fa-envelope-square"></i>
                    <div class="title_word">  <p><span id="mail_count"></span>封</p> <p>新邮件</p></div>

                </div>

                <div class="table-responsive">
                    <table class="table table-hover" id="table_mail">


                        <tbody></tbody>
                    </table>
                </div>



            </div>
        </div>





    </div>

</div> 