@{
    Layout = "~/Views/jdbg/_baselayout.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">
        $(function () {
            try {


                LoadGC();
            } catch (err) {
                alert(err);
            }
        });

        function LoadGC() {
            try {
                var divid = "div_fgc";
                $.ajax({
                    type: "POST",
                    url: "/dwgxwz/getsamegc",
                    data: "gcbh=" + encodeURIComponent('@ViewBag.gcbh'),
                    dataType: "json",
                    async: false,
                    success: function (datas) {
                        var countt = 0;
                        $.each(datas, function (index, node) {

                            $("#" + divid).append("<a href=\"#\" class=\"list-group-item\"><div class=\"checkbox\"><label><input type=\"checkbox\" value=\"" + node.zjdjh + "\" id=\"item_" + node.zjdjh + "\"><span id=\"sp_" + node.zjdjh + "\">" + node.gcmc + "</span></label></div></a>");

                            countt = countt + 1;

                        });
                        if (countt == 0)
                        {

                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                    },
                    beforeSend: function (XMLHttpRequest) {
                    }
                });
            } catch (e) {
                alert(e);
            }
        }

        function setFgcDiv(fgc) {
            var divid = "div_fgc";
            try {
                var arr = fgc.split("||");
                var content = "";
                $.each(arr, function (i, item) {
                    var arrItem = item.split('|');
                    $("#" + divid).append("<a href=\"#\" class=\"list-group-item\"><div class=\"checkbox\"><label><input type=\"checkbox\" value=\"" + arrItem[0] + "\" id=\"item_"+arrItem[0]+"\"><span id=\"sp_"+arrItem[0]+"\">" + arrItem[1] + "</span></label></div></a>");
                });
            } catch (ex) {
                alert(ex);
            }
        }
        function checkAllChange(ischecked) {
            $('input[type="checkbox"][id*="item_"]').each(function () {
                $(this).prop("checked", ischecked);
            });
        }
        function getValues() {
            var fgcids = "";
            var fgcmcs = "";
            try {
                $('input[type="checkbox"]').each(function () {

                    if ($(this).is(':checked')) {
                        if ($(this).val() != ""){
                            if (fgcids != "")
                                fgcids += ",";
                            fgcids += $(this).val();
                            var id = $(this).attr("id").replace("item_", "sp_");
                            if (fgcmcs != "")
                                fgcmcs += ",";
                            fgcmcs += $("#" + id).html();
                        }
                    }

                });
            } catch (e) {
                alert(e);
            }
            var ret = {};
            ret.fgcid = fgcids;
            ret.fgcmc = fgcmcs;
            return ret;
        }
    </script>
}

<div class="list-group" id="div_fgc">
    <a href="#" class="list-group-item active">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" id="check_all" onchange="checkAllChange(this.checked)">全选（不选工程表示不用合并）
            </label>
        </div>
    </a>

</div>