@using BD.Jcbg.Common;
<!DOCTYPE html>

<html>
<head>
    <!--移动设备-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--高速模式,webkit内核-->
    <meta name="renderer" content="webkit">
    <!--禁止搜索引擎转码,并附带广告-->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Configs.Title</title>
    @RenderSection("head", false)

</head>
<body>
    @RenderBody()
</body>
</html>
