@using BD.Jcbg.Web.Func;
@using BD.Jcbg.Common;
@{
    ViewBag.Title = "专用浏览器安装手册";
    Layout = "~/Views/help/_helplayout.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">

    </script>
    <style type="text/css">
        html,body{  
          height:97%;  
          margin:10px;  
          text-align:left;
        }  
        .r1 {  
            color:#3333aa;
            text-align:left;
            font-size:16px;
            font-weight:bold;
            line-height:25px;
            padding-top:5px;
            padding-bottom:5px;
        }  
        .r2{
            padding-left:30px;

        }
		.r0{
			font-size:20px;
			color:#ff0000;
			font-weight:bolder;
		}
    </style>
}
<div class="r0">
    重要提示：安装过程中杀毒软件可能会误报，请关闭杀毒软件；如果实在无法关闭，安装过程中安全提示请按下图操作（360杀毒软件为例）
</div>
<div class="r2">
    <img src='/skins/default/images/help/ieinstall/9.png' alt="" border="0" />
</div>
<div class="r1">
    一、双击运行"标点浏览器.exe"，如提示"确定要安装此软件吗？"，请点击"是"。
</div>
<div class="r2">
    <img src='/skins/default/images/help/ieinstall/1.png' alt="" border="0" />
</div>
<div class="r1">
    二、专用浏览器需要.Net4.0框架，如果电脑没有安装该框架，会自动进行安装；如果已经安装，这个步骤不会显示。安装步骤依次如下：
</div>
<div class="r2">
    <img src='/skins/default/images/help/ieinstall/2.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/3.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/4.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/5.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/6.png' alt="" border="0" />
</div>
<div class="r1">
    三、安装专用浏览器。安装步骤依次如下：
</div>
<div class="r2">
    <img src='/skins/default/images/help/ieinstall/7.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/8.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/11.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/12.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/13.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/14.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/15.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/16.png' alt="" border="0" /><br />
    <img src='/skins/default/images/help/ieinstall/18.png' alt="" border="0" /><br />
</div>