@using BD.Jcbg.Common;
@{
    Layout = "~/Views/jc/_tablayout.cshtml";
}

@section head
{
    <script language="javascript" type="text/javascript">

        var g_gcbh = "@ViewBag.gcbh";
        var g_gcmc = "@ViewBag.gcmc";
        var g_qybh = "@ViewBag.qybh";
        var g_workdata = "@ViewBag.workdata";
        //var g_dwinfo = {};
        //var g_syxmfl1 = [];
        //var g_syxmfl = [];
        //var g_syxm = [];
        //var g_sjwtzs = [];
        //var g_gcinfo = {};
        //var g_htinfo = {};
        var g_syxmlist = [];

        $(function () {
            try {
                initData();
                //showData();
                //showWtzs();

            } catch (err) {
                alert(e);
            }
        }); 
        function initData() {
            try {
                $.ajax({
                    type: "POST",
                    url: "/dwgxwz/GetSyxms?qybh=" + encodeURIComponent(g_qybh),
                    dataType: "json",
                    async: false,
                    success: function (ret) {
                        if (ret.code == "0") {
                            g_syxmlist = ret.syxmlist;
                            showSYXM(g_syxmlist);
                        }
                        else {
                            alert(ret.msg || "加载试验项目失败！");
                        }
                        
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        layer.closeAll();
                    },
                    beforeSend: function (XMLHttpRequest) {
                        layer.msg('正在加载数据……', { icon: 16 });
                    }
                });
            } catch (e) {
                alert(e);
            }
        }

        function showSYXM() {
            try {
                var totalWidth = 0;
                var isfirst1 = true;
                $.each(g_syxmlist, function (i, value) {
                    var otaba1 = "";
                    var otaba2 = "";
                    if (isfirst1) {
                        otaba1 = "in active";
                        otaba2 = "active";
                        isfirst1 = false;
                    }
                    var o_div_id = "o_tab_" + value.xsflbh;
                    var o_cur_div = "<div class=\"tab-pane fade " + otaba1 + "\" id=\"" + o_div_id + "\" style='padding:10px 10px 10px 10px'></div>";
                    $("#out_tab_content").append(o_cur_div);
                    $("#out_tab_tab").append("<li class=\"" + otaba2 + "\"><a href=\"#" + o_div_id + "\" data-toggle=\"tab\">" + value.xsflmc + "</a></li>");
                    $("#" + o_div_id).append("<div id=\"main_tab_content_" + value.xsflbh + "\" ></div>");

                    if (totalWidth == 0)
                        totalWidth = $("#" + o_div_id).width();
                    var subfls = value.subs;
                    
                    if (subfls.length == 0)
                        return true;
                    var divWidth = (totalWidth - 20) / subfls.length;
                    divWidth = divWidth - divWidth % 1;

                    $.each(subfls, function (j, value2) {
                        var div_id = "block_" + value2.xsflbh;
                        var cur_div = "<div id=\"" + div_id + "\" style='padding:10px 10px 10px 10px;width:" + divWidth + "px;float:left;'></div>";
                        $("#main_tab_content_" + value.xsflbh + "").append(cur_div);
                        $("#" + div_id).append("<a class=\"list-group-item active text-center\">" + value2.xsflmc + "</a>");

                        $.each(value2.syxms, function (k, syxm) {
                            
                            //$("#" + div_id).append("<li class=\"list-group-item\"><span style='cursor:pointer;' onclick='showWtdLrDialog(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\")'>" + syxm.syxmmc + "</span><div style='cursor:pointer;' id='div_wtzs_" + syxm.syxmbh + "' class='badge' style='display:inline' onclick='showWtdCkDialog(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\")'></div></li>");
                            $("#" + div_id).append("<li class=\"list-group-item\" ><div class=\"stj_span_wai\" style='cursor:pointer; z-index:1;'  onclick='startwtrws(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\")'><span >" + syxm.syxmmc + "</span></div></li>");


                        });
                    });
                });
            } catch (e) {
                alert(e);
            }
        }

        function startwtrws(syxmbh, syxmmc) {
            try {
                if (g_workdata != "") {
                    var bcode = new Base64();
                    var workdata = JSON.parse(bcode.decode(decodeURIComponent(g_workdata)));
                    var workurl = workdata.workurl;
                    workurl = workurl + "&syxmbh=" + encodeURIComponent(syxmbh) + "&syxmmc=" + encodeURIComponent(syxmmc);
                    var rdm = Math.random();
                    var url = workurl +
                        // 加密的条件信息（表单中用到）
                        "&extrainfo=" + encodeURIComponent(workdata.extrainfo1) +
                        // 流程中显示的主体信息
                        "&extrainfo2=" + encodeURIComponent(workdata.extrainfo2) +
                        // 流程中用到的跟工程关联的主键
                        "&extrainfo3=" + encodeURIComponent(workdata.extrainfo3) +
                        // 流程中用到的分工程主键
                        "&extrainfo4=" + encodeURIComponent(workdata.extrainfo4) +
                        "&fgcmc=" + encodeURIComponent(workdata.fgcmc) +
                        "&callbackjs=" + encodeURIComponent("parent.layer.closeAll();") +
                        "&_=" + rdm;

                    parent.layer.open({
                        type: 2,
                        title: workdata.title,
                        shadeClose: false,
                        shade: 0.8,
                        area: ['95%', '95%'],
                        content: url,
                        end: function () {
                        }
                    });
                }
                

            }
            catch (ex) {
                alert(ex);
            }
        }
        
        function showData() {
            try {
                var totalWidth = 0;
                var isfirst1 = true;
                $.each(g_syxmfl1, function (i, value) {
                    var otaba1 = "";
                    var otaba2 = "";
                    if (isfirst1) {
                        otaba1 = "in active";
                        otaba2 = "active";
                        isfirst1 = false;
                    }
                    var o_div_id = "o_tab_" + value.xsflbh;
                    var o_cur_div = "<div class=\"tab-pane fade " + otaba1 + "\" id=\"" + o_div_id + "\" style='padding:10px 10px 10px 10px'></div>";
                    $("#out_tab_content").append(o_cur_div);
                    $("#out_tab_tab").append("<li class=\"" + otaba2 + "\"><a href=\"#" + o_div_id + "\" data-toggle=\"tab\">" + value.xsflmc + "</a></li>");
                    $("#" + o_div_id).append("<div id=\"main_tab_content_" + value.xsflbh + "\" ></div>");

                    if (totalWidth == 0)
                        totalWidth = $("#" + o_div_id).width();
                    var subfls = [];
                    $.each(g_syxmfl, function (j, value2) {
                        if (value2.sjxsflbh == value.xsflbh)
                            subfls.push(value2);
                    });
                    if (subfls.length == 0)
                        return true;
                    var divWidth = (totalWidth-20) / subfls.length;
                    divWidth = divWidth - divWidth % 1;

                    $.each(subfls, function (j, value2) {


                        var div_id = "block_" + value2.xsflbh;
                        var cur_div = "<div id=\"" + div_id + "\" style='padding:10px 10px 10px 10px;width:"+divWidth+"px;float:left;'></div>";
                        $("#main_tab_content_" + value.xsflbh + "").append(cur_div);
                        $("#" + div_id).append("<a class=\"list-group-item active text-center\">" + value2.xsflmc + "</a>");

                        $.each(g_syxm, function (k, syxm) {
                            if (syxm.xsflbh != value2.xsflbh)
                                return true;
                            //$("#" + div_id).append("<li class=\"list-group-item\"><span style='cursor:pointer;' onclick='showWtdLrDialog(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\")'>" + syxm.syxmmc + "</span><div style='cursor:pointer;' id='div_wtzs_" + syxm.syxmbh + "' class='badge' style='display:inline' onclick='showWtdCkDialog(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\")'></div></li>");
                            $("#" + div_id).append("<li class=\"list-group-item\" ><div class=\"stj_span_wai\" style='cursor:pointer; z-index:1;'  onclick='showWtdLrDialog(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\",\"" + syxm.wtdlrbj + "\",\"" + syxm.xmdh + "\")'><span >" + syxm.syxmmc + "</span></div><div style='cursor:pointer;' id='div_wtzs_" + syxm.syxmbh + "' class='badge' style='display:inline'   onclick=' showWtdCkDialog(\"" + syxm.syxmbh + "\",\"" + syxm.syxmmc + "\",\"" + this + "\")'   ></div></li>");


                        });
                    });
                });
            } catch (e) {
                alert(e);
            }
        }
        function showWtdLrDialog(syxmbh, syxmmc, wtdlrbj, xmdh) {
            try {
                var tabledesc = syxmmc + "委托单录入";
                var zdzdtable = encodeURIComponent("XTZD_BY_JDY,DWZD_" + syxmbh + ",ZDZD_" + syxmbh); // zdzd名
                var tablename = encodeURIComponent("M_BY,M_D_" + syxmbh + ",M_" + syxmbh); 			// 表名
                var tablerecid = encodeURIComponent("RECID"); 	// 表主键
                var title = encodeURIComponent(tabledesc); 	// 标题
                var formdm = tablename;
                var buttons = encodeURIComponent("保存|BC| ||提交|TJ| "); // 按钮
                var js = encodeURIComponent("wtdService.js");
                var callback = encodeURIComponent("wtdService.setSubmit('$$RECID$$')");
                var rdm = Math.random();

                var s_tablename = encodeURIComponent("S_BY,S_D_" + syxmbh + ",S_" + syxmbh);
                var s_pri = encodeURIComponent("BYZBRECID,RECID");
                var s_title = encodeURIComponent("记录");

                var dllname = "BD.JC.JS.Common.dll";
                var dllclass = "BD.JC.JS.Common.ComSetJcyj";
                var sufproc = encodeURIComponent("CheckJcWtdcb|$JYDBH$");


                var fieldparam = "M_BY,SYXMBH," + syxmbh +
                    "|M_BY,YTDWBH," + g_dwbh +
                    "|M_BY,YTDWMC," + g_dwinfo.qymc +
                    "|M_BY,SYXMMC," + syxmmc +
                    "|M_BY,GCBH," + g_gcbh +
                    "|M_BY,GCMC," + g_gcinfo.gcmc +
                    "|M_BY,JSDWBH," + g_gcinfo.jsdwbh +
                    "|M_BY,JSDWMC," + g_gcinfo.jsdwmc +
                    "|M_BY,ZJDJH," + g_gcinfo.zjdjh +
                    "|M_BY,SSZJZBH," + g_gcinfo.zjzbh +
                    "|M_BY,GCDZ," + g_gcinfo.gcdd +
                    "|M_BY,NBHTBH," + g_htinfo.jchtbh +
                    "|M_BY,JG_XMDH," + xmdh +
                    "|M_BY,HTBH," + g_htinfo.recid +
                    "|M_BY,SSZJZMC," + g_htinfo.khdwmc

                fieldparam = encodeURIComponent(fieldparam);

                var url = "/datainput/Index?zdzdtable=" + zdzdtable +
                    "&t1_tablename=" + tablename +
                    "&t1_pri=" + tablerecid +
                    "&t1_title=" + title +
                    "&button=" + buttons +
                    "&js=" + js +
                    "&callback=" + callback +
                    "&LX=W" +
                    "&rownum=2" +
                    "&t2_tablename=" + s_tablename +
                    "&t2_pri=" + s_pri +
                    "&t2_title=" + s_title +
                    "&type=" +wtdlrbj+
                    "&fieldparam=" + fieldparam +
                    "&dllname=" + dllname +
                    "&dllclass=" + dllclass +
                    "&redefinebh=S_BY.ZH" +
                    "&cf=1" +
                    "&t2_checknum=" + 1 +
                    "&companycode=" + g_dwbh +
                    "&sylbzdzd=" + syxmbh +
                    "&sufproc=" + sufproc +
                    "&individualZdzdtable=DATAZDZD_INDIVIDUAL" +
                    "&_=" + rdm;

                parent.layer.open({
                    type: 2,
                    title: tabledesc,
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: url,
                    end: function () {
                        showWtzs();
                    }
                });
            } catch (e) {
                alert(e);
            }
        }
        function showWtzs() {
            $.ajax({
                type: "POST",
                url: "/jc/getgcdwsjwtzs?gcbh=" + encodeURIComponent(g_gcbh)+"&dwbh="+g_dwbh,
                dataType: "json",
                async: false,
                success: function (data) {
                    g_sjwtzs = data;
                    $("div[id^='div_wtzs_']").each(function () {
                        var id = $(this).attr("id");
                        var divObj = $(this);
                        var find = false;
                        $.each(g_sjwtzs, function (i, item) {
                            if (id.toLowerCase() == ("div_wtzs_" + item.syxmbh).toLowerCase()) {
                                divObj.html(item.wtzs);
                                find = true;
                                return false;
                            }
                        });
                        if (!find) {
                            divObj.html(0);
                        }
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                    layer.closeAll();
                },
                beforeSend: function (XMLHttpRequest) {
                    layer.msg('正在加载数据……', { icon: 16 });
                }
            });
        }
        function showWtdCkDialog(syxmbh, syxmmc) {
            try {
                var title = "["+g_gcmc+"]["+syxmmc+"]委托清单";

                var url = "/WebList/EasyUiIndex?FormDm=WTDGL&FormStatus=1&FormParam=PARAM--" + g_gcbh + "|" + syxmbh + "|" + g_dwbh;

                parent.layer.open({
                    type: 2,
                    title: title,
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: url,
                    end: function () {
                    }
                });
            } catch (e) {
                alert(e);
            }
        }

        function gotoStarkWork(workurl, title, extrainfo1, extrainfo2, extrainfo3, extrainfo4, fgcmc) {
            try {

                var rdm = Math.random();
                var url = workurl +
                    // 加密的条件信息（表单中用到）
                    "&extrainfo=" + encodeURIComponent(extrainfo1) +
                    // 流程中显示的主体信息
                    "&extrainfo2=" + encodeURIComponent(extrainfo2) +
                    // 流程中用到的跟工程关联的主键
                    "&extrainfo3=" + encodeURIComponent(extrainfo3) +
                    // 流程中用到的分工程主键
                    "&extrainfo4=" + encodeURIComponent(extrainfo4) +
                    "&fgcmc=" + encodeURIComponent(fgcmc) +
                    "&callbackjs=" + encodeURIComponent("parent.layer.closeAll();") +
                    "&_=" + rdm;

                parent.layer.open({
                    type: 2,
                    title: title,
                    shadeClose: false,
                    shade: 0.8,
                    area: ['95%', '95%'],
                    content: url,
                    end: function () {
                    }
                });

            }
            catch (ex) {
                alert(ex);
            }
        }

        function Base64() {

            // private property
            _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";

            // public method for encoding
            this.encode = function (input) {
                var output = "";
                var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
                var i = 0;
                input = _utf8_encode(input);
                while (i < input.length) {
                    chr1 = input.charCodeAt(i++);
                    chr2 = input.charCodeAt(i++);
                    chr3 = input.charCodeAt(i++);
                    enc1 = chr1 >> 2;
                    enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                    enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                    enc4 = chr3 & 63;
                    if (isNaN(chr2)) {
                        enc3 = enc4 = 64;
                    } else if (isNaN(chr3)) {
                        enc4 = 64;
                    }
                    output = output +
                    _keyStr.charAt(enc1) + _keyStr.charAt(enc2) +
                    _keyStr.charAt(enc3) + _keyStr.charAt(enc4);
                }
                return output;
            }

            // public method for decoding
            this.decode = function (input) {
                var output = "";
                var chr1, chr2, chr3;
                var enc1, enc2, enc3, enc4;
                var i = 0;
                input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
                while (i < input.length) {
                    enc1 = _keyStr.indexOf(input.charAt(i++));
                    enc2 = _keyStr.indexOf(input.charAt(i++));
                    enc3 = _keyStr.indexOf(input.charAt(i++));
                    enc4 = _keyStr.indexOf(input.charAt(i++));
                    chr1 = (enc1 << 2) | (enc2 >> 4);
                    chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                    chr3 = ((enc3 & 3) << 6) | enc4;
                    output = output + String.fromCharCode(chr1);
                    if (enc3 != 64) {
                        output = output + String.fromCharCode(chr2);
                    }
                    if (enc4 != 64) {
                        output = output + String.fromCharCode(chr3);
                    }
                }
                output = _utf8_decode(output);
                return output;
            }

            // private method for UTF-8 encoding
            _utf8_encode = function (string) {
                string = string.replace(/\r\n/g, "\n");
                var utftext = "";
                for (var n = 0; n < string.length; n++) {
                    var c = string.charCodeAt(n);
                    if (c < 128) {
                        utftext += String.fromCharCode(c);
                    } else if ((c > 127) && (c < 2048)) {
                        utftext += String.fromCharCode((c >> 6) | 192);
                        utftext += String.fromCharCode((c & 63) | 128);
                    } else {
                        utftext += String.fromCharCode((c >> 12) | 224);
                        utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                        utftext += String.fromCharCode((c & 63) | 128);
                    }

                }
                return utftext;
            }

            // private method for UTF-8 decoding
            _utf8_decode = function (utftext) {
                var string = "";
                var i = 0;
                var c = c1 = c2 = 0;
                while (i < utftext.length) {
                    c = utftext.charCodeAt(i);
                    if (c < 128) {
                        string += String.fromCharCode(c);
                        i++;
                    } else if ((c > 191) && (c < 224)) {
                        c2 = utftext.charCodeAt(i + 1);
                        string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                        i += 2;
                    } else {
                        c2 = utftext.charCodeAt(i + 1);
                        c3 = utftext.charCodeAt(i + 2);
                        string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                        i += 3;
                    }
                }
                return string;
            }
        }
    </script>
}

<ul id="out_tab_tab" class="nav nav-tabs"></ul>
<div id="out_tab_content" class="tab-content"></div>
<div id="div1"></div>