@using BD.Jcbg.Common;
@{
    
    Layout = "~/Views/dwgxzjdh/_pdflayout.cshtml";
}

@section head
{
<script language="javascript" type="text/javascript">
    var g_fid = "@ViewBag.fid";
    var g_pdfpath = "@SkinManager.GetPdfViewPath("")";

    $(function () {
        try {
            showData();

        } catch (err) {
            alert(e);
        }
    });
    function showData() {
        try {
            var frmHeight = $(document).height() - 70;
            var divId = "tab_" + g_fid;
            var frmId = "frm_" + g_fid;
            var title = "报告详情";
            var fileurl = "/dwgxzjdh/GetReportFileV2?id=" + g_fid + "&reportfile=" + encodeURIComponent("JCBG");
            var reportUrl = g_pdfpath + 'web/viewer.html?file=' + encodeURIComponent(fileurl);
            var curDiv = "<div class=\"tab-pane fade in active" + "\" id=\"" + divId + "\" style='padding:0px 10px 0px 10px'><iframe frameborder=\"0\" height=\"" + frmHeight + "\" id=\"" + frmId + "\" name=\"" + frmId + "\" marginheight=\"0\" marginwidth=\"0\" scrolling=\"auto\" width=\"100%\" src=\"" + reportUrl + "\"  /></div>";
            $("#main_tab_content").append(curDiv);
            $("#main_tab_tab").append("<li class=\"active\"><a href=\"#" + divId + "\" data-toggle=\"tab\">" + title + "</a></li>");

        } catch (e) {
            alert(e);
        }
    }
</script>
}
<ul id="main_tab_tab" class="nav nav-tabs"></ul>
<div id="main_tab_content" class="tab-content"></div>