<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/static/lib/jquery-z.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=Nqv7EOZ2k8lYjVVh8n5E8aFB"></script>
    <script language="javascript" type="text/javascript">
        function IsIE() {
            return true;
            if (!!window.ActiveXObject || "ActiveXObject" in window) {
                var browser = navigator.appName
                var b_version = navigator.appVersion
                var version = b_version; //b_version.split(";")
                var trim_Version = version[1].replace(/[ ]/g, "");
                if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0") {
                    alert("您的浏览器版本是IE 6.0，请使用IE 9.0或以上版本");
                    return false;
                } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0") {
                    alert("您的浏览器版本是IE 7.0，请使用IE 9.0或以上版本");
                    return false;
                } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0") {
                    alert("您的浏览器版本是IE 8.0，请使用IE 9.0或以上版本");
                    return false;
                } else {
                    return true;
                }

            } else {
                alert("您的浏览器不是IE浏览器，请使用IE 9.0或以上版本");
                return false;
            }

        }
    </script>
    <link href="/static/common/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/oh/css/show.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .key-search {
            position: relative;
            left: -10px;
            background: white;
            display: inline-block;
            height: 34px;
            line-height: 34px;
            vertical-align: middle;
            width: 40px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            cursor: pointer;
        }

        #mapInfo3 .layui-input {
            width: 80%;
            margin-bottom: 10px;
        }

        #mapInfo3 .btn {
            display: inline-block;
            width: 100px;
            height: 40px;
            line-height: 32px;
            font-size: 18px;
            color: white;
            background: #5180D8;
            border-radius: 20px;
            /*margin-right: 20px;*/
            text-align: center;
            cursor: pointer;
            /*  margin-left: 20%;*/
            margin-bottom: 10px;
        }

        #distpicker5 .bs-placeholder {
            height: 34px;
        }

        #distpicker5 .filter-option {
            line-height: 20px;
        }

        .dltabs dt:first-child,
        .dltabs dt:nth-child(3) {
            z-index: 9;
        }

        .dltabs dt:nth-child(5) {
            z-index: 5;
        }

        .form-msg {
            display: inline-block;
            width: 40px;
            height: 25px;
            background: #549BDD;
            color: white;
            text-align: center;
            line-height: 25px;
            border-radius: 5px;
            font-weight: 600;
            vertical-align: middle;
        }

        #formData {
            background: rgb(245, 248, 253);
            ;
            width: 100%;
            display: inline-block;
            position: fixed;
            /* padding-left: 5%; */
        }

        #formData .dropdown-toggle {
            height: 34px;
            padding: 0 25px 0 12px;
        }

        #keyVal {
            background: #EBEFF8;
            padding: 0 10px;
        }

        .bigscreen {
            display: inline-block;
            width: 40px;
            height: 25px;
            background: #549BDD;
            color: white;
            text-align: center;
            line-height: 25px;
            border-radius: 5px;
            font-weight: 600;
            vertical-align: middle;
        }

        .dltabs dt:nth-child(7) {
            z-index: 4;
        }

        #mapInfo3 {
            /*display: none;*/
            width: 20%;
            height: 100%;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 40px 0 0 40px;
            position: absolute;
            z-index: 9;
            top: 0px;
            right: 0px;
            bottom: 0px;
        }

        #mapInfo3 ul {
            cursor: pointer;
        }

        #mapInfo3 li span {
            display: inline-block;
        }

        #mapInfo3 .active p,
        #mapInfo3 .active span {
            font-size: 18px;
        }

        .openInfoGc {
            cursor: pointer;

        }

        .openInfoGc span:first-child {
            display: inline-block;
            margin-right: 10px;
            width: 80px;
            text-align: center;
        }



        #mapInfo3 ul {
            cursor: pointer;
        }

        #mapInfo3 li {
            height: 50px;
            padding: 5px 0;
            width: 80%;
        }


        #mapInfo3 li p {
            display: inline-block;
            /*margin: 0 20% 10px 0;*/
            margin-right: 20px;
            /* width: 60px; */
            width: 111px;
            text-align: right;
            line-height: 40px;
            padding-left: 10px;
        }

        #mapInfo3 li span {
            display: inline-block;
            line-height: 40px;
        }

        #mapInfo3 .active {
            border: 1px solid #e5e5e5;
            background: lightgray;
            border-radius: 50px;
            width: 80%;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
        }

        #mapInfo3 .active p,
        #mapInfo3 .active span {
            font-size: 18px;
            line-height: 40px;
        }

        #tabTitle {
            background: #F8F8F8;
            width: 100%;
        }

        #tabTitle span {
            display: inline-block;
            width: 120px;
            text-align: center;
            height: 43px;
            line-height: 43px;
            font-size: 18px;
        }

        .layui-this {
            height: 43px;
            border-right: 1px solid #eee;
            background-color: #fff;
            z-index: 10;
            font-weight: 800;

        }

        #bug {
            color: red;
            font-size: 30px;
            margin-top: 100px;
            text-align: center;
        }

        .dltabs {
            width: 98%;
            margin: 10px auto;
        }

        dl.dltabs dd {
            border-radius: 12px;
        }
        .btn_wrap{
            margin-top: 10px;
        }
    </style>
</head>

<body class="wai_body font_faminly">
    <form class="form-inline" id="formData" style="display:none;">
        <div class="form-group" style="margin-left: 10px;">
            <div class="form-msg">省</div>
            <select class="form-control" id="province10">
            </select>
        </div>
        <div class="form-group">
            <div class="form-msg">市</div>
            <select class="form-control" id="city10">
            </select>
        </div>
        <div class="form-group">
            <div class="form-msg">区</div>
            <select class="form-control" id="district10">
                <option value=''>请选择</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-msg">街道</div>
            <select class="form-control" id="street10">
                <option value=''>请选择</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="selectQylx" style="display: none;">
                <option value="">所有企业</option>
                <option value="11">施工企业</option>
                <option value="12">监理企业</option>
                <option value="13">建设企业</option>
                <option value="14">设计企业</option>
                <option value="15">勘察企业</option>
            </select>
            <div class="form-msg">企业</div>
            <select class="form-control selectpicker" data-live-search="true" id="selectQy"
                style="width: 120px;"></select>
            <div class="form-msg">状态</div>
            <select class="form-control" id="selectGczt" style="width: 180px;">
                <option value="">所有工程</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-msg">类型</div>
            <select class="form-control" id="gcxz" style="width: 120px;">
                <option selected='selected' value=''>全部类型</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-msg" style="width: 60px;">关键字</div>
            <input type="text" name="" id="keyVal" class="form-control" style="width: 180px;" placeholder="公司名称/工程名称" />
            <span id='keySearch' class="key-search">搜索</span>
        </div>
        <div class="form-group" style="float: right;margin: 6px 20px 0 0;cursor: pointer;">
            <span class="bigscreen" id="bigscreen" onclick="window.open('/bigscreen/8.html');">大屏</span>
        </div>
    </form>
    <section class="panel" id="panel1" data-section-name="section3"
        style="background: rgb(233, 236, 243);margin-bottom: 0px;">
        <dl class="dltabs" id="tabs" style="position: relative;">
            <dd class="active" id="gczzt">
                <div id="mapwrap">
                    <div id="map"></div>
                    <div id="mapInfo3">
                        @*<select class="area  layui-input" id="area" style="-webkit-appearance: menulist;"></select>*@
                        <input type="text" class="layui-input" id="gcmc" placeholder="请输入工程名称" />
                        <input type="text" class="layui-input" id="startTime" />
                        <input type="text" class="layui-input" id="endTime" />
                        <span class="btn" id="sure" style="margin-top: 10px;width:70px;" onclick="tab(1)">全部</span>
                        <span class="btn" id="sure2" style="margin-top: 10px;width:70px;background-color:#FF5722;"
                            onclick="tab(2)">异常</span>
                        <span class="btn" id="sure2" style="margin-top: 10px;width:70px;background-color:#898989;"
                            onclick="tab(3)">离线</span>
                        <div class="list" style="overflow: auto;"></div>
                    </div>
                </div>
            </dd>
        </dl>
    </section>
    <div id="ifWarp" style="display: none;height: 100%;overflow: hidden;">
        <div id="tabTitle" style="padding:0px;cursor: pointer;">
            <span class="layui-this">统计图</span>
            <span>统计表</span>
        </div>
        <!-- onclick="tab(1)" onclick="tab(2)"-->
        <div id="tabWarp" style="height: 80%;">
            <iframe style="width: 100%;height: 100%;" id="ifa" src=""></iframe>
            <iframe style="width: 100%;height: 100%;display: none;" id="ifb" src=""></iframe>
        </div>
    </div>
    <script src="/static/common/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    <link href="/static/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/lib/bootstrap-select-1.12.4/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/lib/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" type="text/javascript" charset="utf-8" src="/static/oh/js/pub.js"></script>
    <script type="text/javascript" type="text/javascript" charset="utf-8" src="/static/oh/js/initMap.js"></script>
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <script src="/static/lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script type="text/javascript" type="text/javascript" charset="utf-8" src="/static/wgry/js/head-select.js"></script> -->
    <script type="text/javascript">
        var tempCity = "浙江省温州市";
        $("#tabTitle").on("click", "span", function () {
            var idx = $(this).index();
            $(this).addClass("layui-this").siblings().removeClass("layui-this");
            $("#tabWarp").children().eq(idx).show().siblings().hide();
            if (idx == 0) {
                try {
                    document.getElementById("ifa").contentWindow.LoadCharts();
                } catch (e) {

                }
            }

        })

        //$("#tabTitle").on("click", "span", function() {});

        // functab(){}
        var page = 1; //页面page，1，2，3


        var setHeight = function () {
            var height = $("#panel1").height();
            $("#gczzt").height(height - 20);
            $(".list").height(height - 20 - 320 - 30)
            // $("#tabTitle").find("dd").height(height - 110);
        }
        $(function () {
            //全局初始化

            init();
            if (window.innerWidth > 1400) {
                $("#map").width("80%");
                $("#mapInfo3").css({
                    width: '20%'
                });
            } else {
                $("#map").width("75%");
                $("#mapInfo3").css({
                    width: '25%'
                });
            }


            var height = $("#panel1").height()


            var wid = $(window).width();
            if (wid < 1400) {
                $(".form-msg").hide();
            }
            setHeight();
        });

        function Refresh() {

        }





        //全局初始化
        function init() {

            //鼠标滚动全屏
            $('.panel').css({
                'height': $(window).height()
            });

        }
        var paramsData = {};

        $(function () {
            // $("body").html('<div id="bug">系统调试中。。。暂时无法使用。。。</div>');
            // return false;
            layui.use('laydate', function () {
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#startTime',
                    type: 'datetime',
                    value: new Date(new Date().getTime() - 3600 * 2 * 1000 - 3 * 60 * 1000)

                });
                laydate.render({
                    elem: '#endTime',
                    type: 'datetime',
                    value: new Date(new Date().getTime() - 3 * 60 * 1000)
                });
                setTimeout(function () {
                    getData()
                }, 100)

            });
            initMap();
            map.enableScrollWheelZoom(true);


            //ajaxTpl("/DwgxWzOh/GetXQList", {
            //    province: "浙江省",
            //    city: "台州市"
            //}, function (list) {
            //    var tmp, str = "<option value='0'>所有地区</option>";
            //    for (var i = 0; i < list.length; i++) {
            //        tmp = list[i];
            //        str += "<option>" + tmp.szxq + "</option>";
            //    }
            //    $("#area").append(str);
            //});
        })

        var ary;

        // function getDay(start) {
        //     var day;
        //     if (start) {
        //         day = new Date(new Date().getTime() - 3600 * 24 * 1000)
        //     } else {
        //         day = new Date();
        //     }
        //     var date = day.getFullYear() + '-' + (day.getMonth() + 1) + '-' + day.getDate() + ' ' + day.getHours() + ':' + day.getMinutes() + ":" + day.getSeconds()
        //     return date;
        // }
        var DeviceList = [];
        var ErrNum = 0;
        var OffLine = 0;
        var SensorsTotal = 0;

        function getData() {

            var start = $('#startTime').val();
            var end = $('#endTime').val();
            if (!start || !end) {
                layer.msg("请选择开始时间或结束时间", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }
            var a = (new Date(start)).getTime();
            var b = (new Date(end)).getTime();

            if (b - a > 3 * 24 * 60 * 60 * 1000) {
                layer.msg("间隔时间在三天之内", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            if (b > new Date().getTime() - 3 * 60 * 1000 - 100) {
                layer.msg("请查询3分钟之前的数据", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }
            tab(1)
            // var paramsData = {
            //     page: 1,
            //     rows: 10000,
            //     key: $('#area').val() == 0 ? "" : $('#area').val(),
            //     gcmc: $('#gcmc').gcmc,
            //     StartTime: start,
            //     EndTime: end
            // };
            // ajaxTpl("/DwgxWzOh/GetDeviceGeneralView", paramsData, function (res) {
            //     if (res.Code == 0) {
            //         var d = res.Datas
            //         DeviceList = d.DeviceList
            //         ErrNum = d.ErrNum
            //         OffLine = d.OffLine
            //         SensorsTotal = d.SensorsTotal
            //         addMarker(1)
            //     }
            // });
        }
        function setList(type){
            if(type==3){
                $("#mapInfo3 .list").html('<div style="width:100%;text-align:center;text-indent:-2em;">离线 共'+OffLine+'个</div>')
                console.log(OffLine);
                return
            }
            var str=""

            SensorsTotal.forEach(function(e){
                var total=0
                if(type==1){
                    total=e.SensorTotal
                }else if(type==2){
                    total=e.SensorErrTotal
                }
                str+="<li value='"+total+"' sensorcode='"+e.SensorCode+"'>"+
                        "<p>"+e.SensorName+"</p>"+
                        "<span style='color:#F08E59'>共"+total+"个</span>"
                    +"</li>"
            })
            var d="<ul>"+str+"</ul>"
            $("#mapInfo3 .list").html(d)
        }
        function tab(type) {
            var paramsData = {
                page: 1,
                rows: 10000,
                key: "",
                gcmc: $('#gcmc').val(),
                StartTime: $('#startTime').val(),
                EndTime: $('#endTime').val()
            };
            var idx = layer.load(1);
            ajaxTpl("/DwgxWzOh/GetDeviceGeneralView", paramsData, function (res) {
                layer.close(idx);
                if (res.Code == 0) {
                    var d = res.Datas
                    DeviceList = d.DeviceList
                    ErrNum = d.ErrNum
                    OffLine = d.OffLine
                    SensorsTotal = d.SensorsTotal
                    addMarker(type)
                    setList(type)
                }
            });
        }

        function addMarker(type) {
            layer.closeAll();
            switch (type) {
                case 1:
                    var d = DeviceList
                    if(!d.length){
                        layer.msg("暂无设备", {
                            icon: 1,
                            time: 2000
                        });
                    }
                    mark(d)
                    break;
                case 2:
                    var d = DeviceList.filter(function (e) {
                        return e.DeviceStatus === 2
                    })
                    if(!d.length){
                        layer.msg("暂无设备异常", {
                            icon: 1,
                            time: 2000
                        });
                    }
                    mark(d)
                    break;
                case 3:
                    var d = DeviceList.filter(function (e) {
                        return e.DeviceStatus === 0
                    })
                    if(!d.length){
                        layer.msg("暂无离线设备", {
                            icon: 1,
                            time: 2000
                        });
                    }
                    mark(d)
                    break;
                default:
                    break;
            }

            function mark(d) {
                map.clearOverlays();
                // markerClusterer.clearMarkers()
                
                d.forEach(function (e) {
                    var pt = new BMap.Point(e.Lon, e.Lat);
                    var url = ""
                    if (e.DeviceStatus == 1) {
                        url = "/static/image/show/icon-2.png"
                    } else if (e.DeviceStatus === 0) {
                        url = "/static/image/show/icon-4.png"
                    } else if (e.DeviceStatus === 2) {
                        url = "/static/image/show/icon-1.png"
                    }
                    var marker = new BMap.Marker(pt, {
                        icon: new BMap.Icon(url, new BMap.Size(22, 22), {
                            imageSize: new BMap.Size(22, 22)
                        })
                    });
                    map.addOverlay(marker);
                    showWindow(e,marker)
                })
            }
            
        }
        function showWindow( info,marker){
            marker.addEventListener("onclick", function (e) {
                    var opts = {
                        width: 300, // 信息窗口宽度
                        height:80, // 信息窗口高度
                    }
                    var tmpCode = info.DeviceCode;
                    var start=new Date($('#startTime').val()).getTime()
                    var end=new Date($('#endTime').val()).getTime()
                    var gcmc=info.Custom.split("|")[1]
                    console.log(info);
                    var btns=""
                    if(info.DeviceStatus==2){
                        btns="<div class='btn_wrap'><button  class='layui-btn layui-btn-sm' onclick='showtj(3,"+tmpCode+","+start+","+end+",\""+gcmc+"\")'>查看异常统计</button></div></div>"
                    }else{
                        btns="<div class='btn_wrap'><button class='layui-btn layui-btn-sm' onclick='showtj(1,"+tmpCode+","+start+","+end+",\""+gcmc+"\")'>查看统计图</button>"+
                                            "<button  class='layui-btn layui-btn-sm' onclick='showtj(2,"+tmpCode+","+start+","+end+",\""+gcmc+"\")'>查看统计表</button></div>"
                    }
                    var enginnersingle = "<div class='openInfoGc' >"+
                                            "<h4 class='gcmc'>" + info.Custom.split('|')[1] +
                                            "</h4>"+
                                            btns
                                        "</div>";
                    var infoWindow = new BMap.InfoWindow(enginnersingle, opts);

                    this.openInfoWindow(infoWindow);
                });
        }
        function showtj(type,deviceCode,start,end,gcmc){
            var url=""
            if(type==1){
                url="/DwgxWzOh/DeviceChart?deviceCode="+deviceCode+'&start='+start+'&end='+end+'&gcmc='+gcmc
            }else if(type==2){
                url="/DwgxWzOh/PageDustList?deviceCode="+deviceCode+'&start='+start+'&end='+end+'&gcmc='+gcmc
            }else{
                url="/DwgxWzOh/DustErrorList?sensorcode=1807&deviceCode="+deviceCode+'&start='+start+'&end='+end+'&gcmc='+gcmc
            }
            layer.open({
                type: 2,
                content: url,
                area: ['80%', '80%'],
                title: '统计查看'
            })
        }
        function beforeAddCgq(type) {

            var key = "";
            var gcmc = $("#gcmc").val() || "";

            // if (type == 1 || type == 3) {
            ajaxTpl("/DwgxWzOh/GetProjectDust", {
                page: 1,
                rows: 10000,
                key: key,
                gcmc: gcmc
            }, function (res) {
                // if (res.rows && res.rows.length) {
                var isSearch = gcmc != "";
                beforeData = res.rows || [];
                addCgq(type, isSearch);
            });
            // } else if (type == 2) {
            //     addCgq(type);
            // }
        }


        function addCgq(type, isSearch) {
            //传感器
            try {
                map.clearOverlays();
                markerClusterer.clearMarkers()
            } catch (e) {}
            var start = $('#startTime').val();
            var end = $('#endTime').val();

            if (!start || !end) {
                layer.msg("请选择开始时间或结束时间", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }


            var a = (new Date(start)).getTime();
            var b = (new Date(end)).getTime();

            if (b - a > 3 * 24 * 60 * 60 * 1000) {
                layer.msg("间隔时间在三天之内", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            if (b > new Date().getTime() - 3 * 60 * 1000 - 100) {
                layer.msg("请查询3分钟之前的数据", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }

            paramsData.StartTime = start;
            paramsData.EndTime = end;
            var idx = layer.load(1);
            var url = "/DwgxWzOh/GetALLDustMap";
            if (type == 2) {
                url = "/DwgxWzOh/GetWarnDustMap";
            }
            ajaxTpl(url, paramsData, function (data) {
                layer.close(idx);
                if (data.Code == -2) {
                    // setTimeout(function() {
                    loadAgin(url, paramsData, type);
                    // }, 1000)
                    return false;
                }


                if (type == 1) {
                    cqgObj.initIpt();
                }
                cqgObj.init();

                if (data.Datas && data.Datas.length) {} else {
                    data.Datas = [];
                    // cqgObj.setPage(type);
                    if (url == "/DwgxWzOh/GetWarnDustMap") {
                        layer.msg("暂无设备异常", {
                            icon: 1,
                            time: 2000
                        });
                    }

                }
                cqgObj.data = changeDataCgq(data, type, isSearch);
                cqgObj.sumData(type);
                cqgObj.addMaker(type);
                cqgObj.setPage(type);
            });
        }

        function loadAgin(url, paramsData, type) {
            var idx = layer.load(1);
            ajaxTpl(url, paramsData, function (data) {
                layer.close(idx);
                // alert(JSON.stringify(data.Datas))
                if (type == 1) {
                    cqgObj.initIpt();
                }
                cqgObj.init();

                if (data.Datas && data.Datas.length) {} else {
                    data.Datas = [];
                }
                cqgObj.data = changeDataCgq(data, type);
                cqgObj.sumData(type);
                cqgObj.addMaker(type);
                cqgObj.setPage(type);
            });
        }

        function changeDataCgq(data, type, isSearch) {
            var ary = [];
            var tmp, tmp2, a, len;
            for (var i = 0, len = data.Datas.length; i < len; i++) {
                tmp = data.Datas[i];
                if (tmp.Custom) {
                    a = tmp.Custom.split('|');
                    tmp.gcmc = a[1] || '';
                    tmp.gcbh = a[0] || '';
                } else {
                    continue;
                }

                for (var k = 0, len2 = cqgObj.keyObj.length; k < len2; k++) {
                    if (cqgObj.keyObj[k].sensorcode == tmp.SensorCode) {
                        tmp.sensorname = cqgObj.keyObj[k].sensorname;
                        break;
                    }
                }
            }

            for (var i = 0, len = data.Datas.length; i < len; i++) {
                tmp = data.Datas[i];
                if (tmp.SensorCode) { //&& tmp.SensorCode != "0" ){ //&& tmp.sensorname) {
                    tmp.data = [{
                        sensorcode: tmp.SensorCode,
                        sensorname: tmp.sensorname,
                        status: tmp.Total,
                        DeviceCode: tmp.DeviceCode,
                        // isErr: tmp.status //是否异常
                    }];
                    ary.push(tmp);

                    for (var j = i + 1; j < len; j++) {
                        tmp2 = data.Datas[j];
                        if (tmp.gcbh == tmp2.gcbh && tmp.DeviceCode == tmp2.DeviceCode) {
                            // if (ary[len].isErr != '-1' && tmp2.status == "-1") {
                            //     ary[len].isErr = -1;
                            // }
                            ary[ary.length - 1].data.push({
                                sensorcode: tmp2.SensorCode,
                                sensorname: tmp2.sensorname,
                                status: tmp2.Total
                            });
                            data.Datas.splice(j, 1);
                            j--;
                            len--;
                        }
                    }
                }
            }
            // var list = [];
            // for (var i = 0; i < ary.length; i++) {
            //     list.push(ary[i].DeviceCode)
            // }
            // for (var i = 0; i < list.length; i++) {
            //     var tmp = list.pop();
            //     if (list.indexOf(tmp) > -1) {
            //     }
            // }
            var listData;
            if (isSearch) {
                listData = changeData3(ary, type);
            } else {
                listData = changeData2(ary, type);
            }
            try {
                var allNum = 0;
                for (var i = 0; i < ary.length; i++) {
                    allNum += ary[i].data ? ary[i].data.length : 0
                }
            } catch (e) {
                console.log(e)
            }


            // if (type == 1 || type == 3) {
            // listData = changeData2(ary);
            // } else {//异常
            // listData = ary;
            // }
            return listData;
        }

        function changeData3(list, type) {
            var tmp = JSON.stringify(beforeData);
            var ary = JSON.parse(tmp),
                ary2 = [];
            for (var i = 0; i < ary.length; i++) {
                tmp = ary[i];
                for (var j = 0; j < list.length; j++) {
                    data = list[j];
                    if (tmp.devicecode == data.DeviceCode) {
                        if (data.status == -1) {
                            data.show = "err";
                        } else {
                            data.show = "blue";
                        }
                        data.canShow = true;

                        ary.splice(i, 1);
                        i--;
                        ary2.push(data);
                        break;
                    }
                }
            }
            var tmp, pt;
            for (var i = 0; i < ary.length; i++) {
                tmp = ary[i];
                tmp.show = "gray";
                data.canShow = true;
                if (tmp.gczb && tmp.gczb.length) {
                    pt = tmp.gczb.split(",");
                    if (pt.length == 2 && pt[0] && pt[1]) {
                        tmp.Lon = pt[0];
                        tmp.Lat = pt[1];
                    }
                }
            }
            ary2 = ary2.concat(ary);
            return ary2;
        }

        function changeData2(list, type) {

            var tmp = JSON.stringify(beforeData);
            var ary = JSON.parse(tmp),
                ary2 = [];
            var tmp, data;

            for (var i = 0; i < ary.length; i++) {
                tmp = ary[i];
                for (var j = 0; j < list.length; j++) {
                    data = list[j];
                    if (tmp.devicecode == data.DeviceCode) {
                        data.show = "blue";
                        data.canShow = true;
                        ary.splice(i, 1);
                        i--;
                        break;
                    }
                }
            }
            var tmp, pt;
            for (var i = 0; i < ary.length; i++) {
                tmp = ary[i];
                tmp.show = "gray";
                tmp.canShow = true;
                if (tmp.gczb && tmp.gczb.length) {
                    pt = tmp.gczb.split(",");
                    if (pt.length == 2 && pt[0] && pt[1]) {
                        tmp.Lon = pt[0];
                        tmp.Lat = pt[1];
                    }
                }
            }
            list = list.concat(ary);

            for (var i = 0; i < list.length; i++) {
                tmp = list[i];
                if (tmp.canShow && tmp.status == -1) {
                    tmp.show = "err";
                }
            }
            return list;
        }
        // $("#area").change(function() {
        //     beforeAddCgq(beforeType)
        // });

        var cqgObj = {
            data: [],
            keys: ['风速', '风向', '噪声', 'pm2.5', 'pm10', '温度值', '湿度值', '气压', '风力', 'TSp'],
            keyObj: [], //senserlist
            // remember: [
            // {key: '风速'}, { key: '风向' }, { key: '噪声' }, { key: 'pm2.5' }, { key: 'pm10' }, { key: '温度值' }, { key: '湿度值' }, { key: '气压值' }
            // ],
            remember: [],
            len: [],
            marker: [],
            filterData: '', //信息条筛选数据
            live: [], //离线数据
            showLive: function () {
                var tmp;
                for (var i = 0; i < this.live.length; i++) {
                    map.addOverlay(this.live[i]);
                }
            },
            init: function () {
                this.len = [];
                this.remember = [];
                this.marker = [];
                this.live = [];
                this.filterData = "";
                for (var i = 0, len = this.keys.length; i < len; i++) {
                    this.len.push(0);
                    this.remember.push([]);
                }
            },
            initIpt: function () {

            },
            sumData: function (type) {
                var tmp, key, flag;
                if (type == 1) {
                    for (var k = 0, len3 = this.keys.length; k < len3; k++) {
                        for (var i = 0, len = this.data.length; i < len; i++) {
                            tmp = this.data[i];
                            flag = 1;
                            if (tmp.data && tmp.data.length && (tmp.show == "blue" || tmp.show == "err")) {
                                for (var j = 0, len2 = tmp.data.length; j < len2; j++) {
                                    var key = tmp.data[j].sensorcode;
                                    if (this.keyObj[k].sensorcode == key) {
                                        if (flag) { //记录有8种类型的数组//只记录一次
                                            this.remember[k].push(i);
                                            flag = 0;
                                        }
                                        //统计8种类型的异常
                                        // this.len[k] += parseInt(tmp.data[j].status);
                                        this.len[k] += parseInt(1);
                                        break;

                                    }
                                }
                            }

                        }
                    }
                } else if (type == 2) {
                    for (var k = 0, len3 = this.keys.length; k < len3; k++) {
                        for (var i = 0, len = this.data.length; i < len; i++) {
                            tmp = this.data[i];
                            flag = 1;
                            if (tmp.data && tmp.data.length && tmp.show == 'blue') { //
                                for (var j = 0, len2 = tmp.data.length; j < len2; j++) {
                                    var key = tmp.data[j].sensorcode;
                                    if (this.keyObj[k].sensorcode == key) {
                                        if (flag) { //记录有8种类型的数组//只记录一次
                                            this.remember[k].push(i);
                                            flag = 0;
                                        }
                                        //统计8种类型的异常
                                        // this.len[k] += parseInt(tmp.data[j].status);
                                        this.len[k] += parseInt(1);
                                        break;

                                    }
                                }
                            }

                        }
                    }
                } else { //离线
                    var tmp, lens = 0;

                    for (var i = 0; i < this.data.length; i++) {
                        tmp = this.data[i];
                        if (tmp.show == "gray") {
                            lens++;
                        }
                    }
                    // var tmp;
                    for (var i = 0; i < this.len.length; i++) {
                        this.len[i] = lens;
                    }
                }
            },

            setPage: function (type) {
                if (type == 3) {
                    $("#mapInfo3 .list").html("<ul><li value='-1'><p>离线</p><span>共" + this.len[0] +
                        "个</span></li>");
                    return;
                }
                var str = "<ul>";
                var num;
                for (var i = 0, len = this.keyObj.length; i < len; i++) {
                    str += "<li value='" + this.len[i] + "' sensorcode='" + this.keyObj[i].sensorcode +
                        "'><p>" + this.keyObj[i].sensorname + "</p>";
                    num = this.len[i] || 0;
                    if (num > 0) {
                        str += "<span style='color:#F08E59'>共" + num + "个</span></li>";
                    } else {
                        str += "<span>共" + num + "个</span></li>";
                    }
                }
                str += "</ul>";
                $("#mapInfo3 .list").html(str);
            },
            addMaker: function (type) {
                var data = this.data;
                for (var i = 0; i < data.length; i++) {
                    var pt = new BMap.Point(data[i].Lon, data[i].Lat);
                    var marker;
                    if (type == 1 && data[i].show == "blue") {
                        marker = new BMap.Marker(pt, {
                            icon: new BMap.Icon("/static/image/show/icon-2.png", new BMap.Size(22,
                                22), {
                                imageSize: new BMap.Size(22, 22)
                            })
                        });
                        this.marker.push(marker);
                        map.addOverlay(marker);
                        this.showWin(i, marker, type);
                    } else if (type == 1 && data[i].show == "gray") {
                        marker = new BMap.Marker(pt, {
                            icon: new BMap.Icon("/static/image/show/icon-4.png", new BMap.Size(22,
                                22), {
                                imageSize: new BMap.Size(22, 22)
                            })
                        });
                        this.marker.push(marker);
                        map.addOverlay(marker);
                        this.showWinGray(i, marker, type);
                    } else if (type == 1 && data[i].show == "err") {
                        marker = new BMap.Marker(pt, {
                            icon: new BMap.Icon("/static/image/show/icon-1.png", new BMap.Size(22,
                                22), {
                                imageSize: new BMap.Size(22, 22)
                            })
                        });
                        this.marker.push(marker);
                        map.addOverlay(marker);
                        this.showWin(i, marker, type);
                    } else if (type == 2 && data[i].show == "blue") {
                        marker = new BMap.Marker(pt, {
                            icon: new BMap.Icon("/static/image/show/icon-1.png", new BMap.Size(22,
                                22), {
                                imageSize: new BMap.Size(22, 22)
                            })
                        });
                        this.marker.push(marker);
                        map.addOverlay(marker);
                        this.showWin(i, marker, type);
                    } else if (type == 3 && data[i].show == "gray") {
                        marker = new BMap.Marker(pt, {
                            icon: new BMap.Icon("/static/image/show/icon-4.png", new BMap.Size(22,
                                22), {
                                imageSize: new BMap.Size(22, 22)
                            })
                        });
                        this.marker.push(marker);
                        map.addOverlay(marker);
                        this.showWinGray(i, marker, type);
                    }
                }
            },

            showWin: function (i, marker, type) {
                // point
                var point = this.data[i];
                point.num = i;
                marker.addEventListener("onclick", function (e) {
                    var opts = {
                        width: 300, // 信息窗口宽度
                        height: 60, // 信息窗口高度
                    }
                    var tmpCode = point.DeviceCode || point.devicecode;
                    var enginnersingle = "<div class='openInfoGc' value='" + point.num +
                        "'><h4 class='gcmc' onclick=loadView('" + tmpCode + "','0'," + type + ",'" +
                        point.gcmc + "')>" + point.gcmc +
                        "</h4>";
                    var tmp;
                    // for (var j = 0, length = point.data.length; j < length; j++) {
                    //     tmp = point.data[j];
                    //     if (cqgObj.filterData.length && tmp.sensorcode != cqgObj.filterData) {
                    //         continue;
                    //     }
                    //     if (!tmp.sensorname) { //sensorcode == "0"){
                    //         tmp.sensorname = "其它"
                    //     }

                    //     enginnersingle += "<div onclick=loadView('" + tmpCode + "','" + tmp.sensorcode +
                    //         "'," + type + ",'" + point.gcmc + "')><span>" + tmp.sensorname +
                    //         "</span><span>" + (type == 2 ? "异常" : "") + "传感器共1个</span></div>";
                    // }
                    enginnersingle += "</div>";

                    var infoWindow = new BMap.InfoWindow(enginnersingle, opts);
                    var addnumber = point;

                    this.openInfoWindow(infoWindow);
                });
            },
            showWinGray: function (i, marker, type) {
                var point = this.data[i];
                point.num = i;
                marker.addEventListener("onclick", function (e) {
                    var opts = {
                        width: 200, // 信息窗口宽度
                        height: 60, // 信息窗口高度
                    }
                    var tmpCode = point.DeviceCode || point.devicecode;
                    var enginnersingle =
                        "<div class='openInfoGc' ><h4 class='gcmc' style='margin-top:10px' onclick=loadView('" +
                        tmpCode + "','0'," + type + ",'" + point.gcmc + "')>" + point.gcmc +
                        "</h4></div>";
                    var infoWindow = new BMap.InfoWindow(enginnersingle, opts);
                    var addnumber = point;
                    this.openInfoWindow(infoWindow);
                });
            },
            filter: function (num) {
                if (num == -1) { //全部显示
                    for (var i = 0, len = this.marker.length; i < len; i++) {
                        this.marker[i].show();
                        this.filterData = '';
                    }

                } else { //筛选
                    var ary = this.remember[num];
                    this.filterData = this.keyObj[num].sensorcode;
                    var idx;
                    for (var i = 0, len = this.marker.length; i < len; i++) {
                        this.marker[i].hide();
                    }
                    for (var i = 0, len = ary.length; i < len; i++) {
                        idx = ary[i];
                        this.marker[idx].show();
                    }
                }
            }
        }


        $("#mapInfo3").on('click', 'li', function () {
            return
            var that = $(this);
            var idx;
            if (that.attr('value') == 0) {
                layer.msg('暂无异常', {
                    icon: 1,
                    time: 2000
                });
                return;
            }

            if (that.hasClass('active')) {
                that.removeClass('active');
                idx = -1;
                try {
                    map.closeInfoWindow();
                } catch (e) {}

            } else {
                that.addClass('active').siblings().removeClass('active');
                idx = that.index();
            }
            if (that.attr('value') == -1) {
                return;
            }
            cqgObj.filter(idx);
        });

        function openView(gcbh, sensorcode, DeviceCode) {
            //每个图表的宽度
            var w = ($(".panel").width() * 0.95).toString() + "px";
            //每个图表的高度
            var h = ($(".panel").height() * 0.95).toString() + "px";
            var start = new Date($("#startTime").val()).getTime();
            var end = new Date($("#endTime").val()).getTime();
            var index = layer.open({
                type: 2,
                content: '/DwgxWzOh/DustErrorList?gcbh=' + gcbh + '&sensorcode=' + sensorcode + "&DeviceCode=" +
                    DeviceCode + "&start=" + start + "&end=" + end,
                area: [w, h],
                title: '报警通知'
            });

            // var index = layer.open({
            //     type: 2,
            //     content: '/WebList/EasyUiIndex?FormDm=I_Dust_Notice_List&FormStatus=2&FormParam=PARAM--' + gcbh + '|' + sensorcode + '|',
            //     area: [w, h]
            // });
        }

        function loadView(deviceCode, sensorcode, type, gcmc) {
            try {
                var start = new Date($("#startTime").val()).getTime();
                var end = new Date($("#endTime").val()).getTime();

                var link = "deviceCode=" + deviceCode + "&start=" + start + "&end=" + end;

                if (sensorcode != 0) {
                    link += "&sensorcode=" + sensorcode
                }
                link += "&gcmc=" + gcmc;
                link = encodeURI(link);
                if (type == 2) {
                    $("#tabTitle").hide()
                    $("#tabWarp").height("100%")
                    $("#ifa").attr("src", "/DwgxWzOh/DustErrorList?" + link)
                } else {
                    $("#tabTitle").show()
                    $("#tabWarp").height("80%")

                    $("#ifa").attr("src", "/DwgxWzOh/DeviceChart?" + link)
                    $("#ifb").attr("src", "/DwgxWzOh/PageDustList?" + link)
                }

                $("#tabWarp").height(window.innerHeight * 0.9 - 50);
                layer.open({
                    type: 1,
                    title: "扬尘数据",
                    shadeClose: true,
                    shade: 0.8,
                    area: ['95%', '95%'],
                    content: $("#ifWarp"),
                    end: function () {

                    }
                });
            } catch (e) {
                alert(e);
            }
        }

        function makeBig() {
            $("#tabs").css({
                width: '100%',
                margin: "0 auto"
            })

            setHeight = function () {
                var height = $("#panel1").height();
                $("#gczzt").height(height);
                $(".list").height(height - 320 - 30)
                // $("#tabTitle").find("dd").height(height - 110);
            }
            setHeight();
        }
    </script>
</body>

</html>
</html>