<!DOCTYPE html>
<html>

<head>
    <title>扬尘设备统计图</title>
    <link href="/static/common/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <link href="/static/lib/layer/theme/default/layer.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
            .top-filter {
                background: rgb(245, 248, 253);
                width: 100%;
                display: inline-block;
                position: fixed;
                height: 60px;
                top: 0px;
            }

            #startTime,
            #endTime {
                display: inline-block;
                width: 160px;
                margin: 10px;
            }


            /*    #sensorList {
            -webkit-appearance: menulist;
            width: 160px;
            margin: 10px 30px 10px 15%;
        }*/

            .btn {
                display: inline-block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: white;
                background: #5180D8;
                border-radius: 20px;
                margin-right: 20px;
                text-align: center;
                cursor: pointer;
                margin-left: 20px;
            }

            .sensor-list {
                width: 18%;
                display: inline-block;
                vertical-align: top;
                float: left;
                margin-left: 20px;
                box-sizing: border-box;
                border: 1px solid lightgray;
                border-radius: 10px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
                overflow: auto;
                position: fixed;
                padding: 10px 20px 20px 20px;
                height: 530px;
                overflow: auto;
            }

                .sensor-list li {
                    height: 40px;
                    padding: 5px 0 5px 20px;
                    width: 80%;
                    display: inline-block;
                    line-height: 40px;
                    font-size: 18px;
                    cursor: pointer;
                }

                .sensor-list .active {
                    border: 1px solid #e5e5e5;
                    background: lightgray;
                    border-radius: 50px;
                    width: 80%;
                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
                    color: white;
                }

            #wct {
                /*margin-top: 100px;*/
                width: 78%;
                height: 100%;
                display: inline-block;
                vertical-align: top;
                margin-left: 22%;
                /*margin: 100px 10% 0 10%;*/
                /*margin*/
            }

            /*#mainBody {
            display: table;
        }

        #mainBody>ul,
        #mainBody>div {
            display: table-cell;
        }*/
    </style>
</head>

<body>
    <input type="hidden" value='@ViewData["DeviceCode"]' id="DeviceCode" />
    <div class="top-filter">
        <!-- <select id="sensorList" class="layui-select">
            <option selected="selected" disabled="disabled" value="0">请选择设备</option>
        </select> -->
        <input type="text" class="layui-input" id="startTime" size="20" style="margin-left: 30%;"> -
        <input type="text" class="layui-input" id="endTime" size="20">
        <span class="btn" id="sure" style="margin-top: 10px;">确认</span>
    </div>
    <div id="mainBody" style="margin-top: 100px;">
        <ul class="sensor-list" id="sensorList"></ul>
        <div id="wct"></div>
    </div>
    <script src="/static/lib/jquery-z.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/lib/echarts.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var list;

        $(function () {
            SetBodyWidth();
            var obj = getParams();
            var start = new Date(new Date().getTime() - 24 * 3600 * 1000 - 3 * 60 * 1000);
            var end = new Date(new Date().getTime() - 3 * 60 * 1000);
            if (obj.start) {
                start = new Date(parseInt(obj.start));
            }
            if (obj.end) {
                end = new Date(parseInt(obj.end));
            }

            layui.use('laydate', function () {
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#startTime',
                    type: 'datetime',
                    value: start
                });
                laydate.render({
                    elem: '#endTime',
                    type: 'datetime',
                    value: end
                });
                setTimeout(function () {
                    init();
                }, 200)


            });
        });
        $("#sensorList").on("click", "li", function () {
            $(this).addClass("active").siblings().removeClass("active");
            setTimeout(function () {
                Search();
            }, 100)

        })

        function init() {
            var idx = layer.load(1, {
                time: 10000
            });
            $.ajax({
                url: "/DwgxWzOh/GetSensorList",
                type: "post",
                dataType: "json",
                async: false,
                success: function (json) {
                    layer.close(idx);


                    if (json && json.length) {
                        if (json.length == 8) {
                            json.push({
                                sensorcode: "1809",
                                sensorname: "风力"
                            });
                            json.push({
                                sensorcode: "1810",
                                sensorname: "TSp"
                            });
                        }
                        var str = "";
                        for (var i = 0, len = json.length; i < len; i++) {
                            // str += "<option value='" + json[i].sensorcode + "'>" + json[i].sensorname + "</option>";
                            str += "<li value='" + json[i].sensorcode + "'>" + json[i].sensorname + "</li>";
                        }
                        $("#sensorList").append(str);
                        var obj = getParams();
                        if (obj.sensorcode) {
                            // $("#sensorList").val(obj.sensorcode);
                            $("#sensorList").find("[value='" + obj.sensorcode + "']").click();
                            // Search();
                        }
                    }
                }
            })
        }
        $(window).resize(function () {
            SetBodyWidth();
        });

        //设置宽高
        function SetBodyWidth() {

            var height = $(window).height() - 140;
            $("#mainBody").height(height);
            $("#sensorList").css({
                height: height + "px"
            });
        };


        function getParams() {
            var url = location.href.split("?")[1];
             // location.search; //获取url中"?"符后的字串
            var obj = {};
            // if (url.indexOf("?") != -1) {
            //     var str = url.substr(1);
                var strS = url.split("&");
                for (var i = 0; i < strS.length; i++) {
                    obj[strS[i].split("=")[0]] = (strS[i].split("=")[1]);
                }
            // }
            return obj;
        }
        var maxLimit, minLimit;

        function compare(start, end) {
            var a, b;
            a = (new Date(start)).getTime();
            b = (new Date(end)).getTime();
            if (b - a > 3 * 24 * 60 * 60 * 1000) {
                layer.msg("间隔时间在七天之内", {
                    icon: 2,
                    time: 2000
                });
                return false;
            } else if (b < a) {
                layer.msg("开始时间小于结束时间", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }
            if (b > new Date().getTime() - 3 * 60 * 1000 - 100) {
                layer.msg("请查询3分钟之前的数据", {
                    icon: 2,
                    time: 2000
                });
                return false;
            }
            return true;
        }

        $("#sure").click(function () {
            Search();
        });

        //查询操作
        function Search() {
            var dustType = $("#sensorList .active").attr("value");
            // $("#sensorList").val();
            if (dustType == null) {
                layer.msg("请选择设备", {
                    icon: 2,
                    time: 2000
                });
                return;
            }
            var start = $("#startTime").val();
            var end = $("#endTime").val();
            if (!start || !end) {
                layer.msg("请选择时间间隔", {
                    icon: 2,
                    time: 2000
                });
                return;

            } else if (!compare(start, end)) {
                return;
            }
            var idx = layer.load(1, {
                time: 10000
            });
            $.ajax({
                url: "/DwgxWzOh/GetDeviceChart",
                type: "post",
                data: {
                    deviceCode: encodeURIComponent($("#DeviceCode").val()),
                    sensorCode: dustType,
                    startTime: start,
                    endTime: end
                },
                dataType: "json",
                success: function (json) {
                    layer.closeAll("loading");

                    if (json.Code === 0) {

                        LoadCharts(json, 1);
                    } else {
                        layer.msg(json.Msg, {
                            icon: 2,
                            time: 2000
                        });
                    }
                },
                fail: function () {
                    layer.closeAll("loading");
                }
            });
        };

        //加载wct
        function LoadCharts(json, type) {
            $("#wct").remove();
            $("#mainBody").append("<div id='wct'></div>");

            if (type == 1) {
                list = json;
            } else {
                json = list;
            }

            var myChart = echarts.init(document.getElementById('wct'));
            var data = []
            for (var i = 0; i < json.Datas.xAxis.length; i++) {
                data.push([json.Datas.xAxis[i], json.Datas.series[i]]);
            }
            var end = 100;
            if (data.length > 1000) {
                end = 10
            } else if (data.length > 100) {
                end = 20;
            } else if (data.length > 50) {
                end = 50
            }

            var gcmc = getParams().gcmc
            var title = '扬尘设备折线图';
            if (gcmc) {
                title = decodeURI(gcmc); //+"-"+ title;
                // title = title.length > 20 ? title.substr(0, 20) : title;
            }
            var labName = $("#sensorList").find(".active").html();
            var option = {
                title: { text: title },
                legend: {
                    data: [labName],
                    right: '20',
                    top: '30'
                },
                xAxis: { type: 'time', name: '时间' },
                yAxis: { type: 'value', name: '数值' },
                dataZoom: [{ start: 100 - end, end: 100, show: true, realtime: true }, { type: 'inside' }, { type: 'slider' }],
                tooltip: {},
                series: [{ name: labName, data: data, type: 'line', symbolSize: 6 }]
            };

            myChart.setOption(option);
        };
    </script>
</body>

</html>