@charset "utf-8";
/* CSS Document */

.navbar-header
{
	padding:10px;
	}
.navbar-top-links .dropdown-shezhi{width:150px;min-width:0}
.navbar-top-links .dropdown-shezhi{margin-left:-123px}
.dropdown-shezhi{padding:10px}

.dropdown-shezhi li a{font-size:12px}.dropdown-shezhi li em{font-size:10px}


.nav.navbar-top-links .dropdown-shezhi a{font-size:12px}
.img-circle {border-radius: 5%;}

.nav-header {	padding: 33px 25px;	}
/*
.profile_left {	float: left;}
.profile_right{	float:right; margin:auto;}

.profile-element {padding: 0px 0px 80px 0px;}

.btn-primary {font-size: 25px;padding: 0px;background-color: transparent;border-style: none;}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
background-color: transparent;
border-style:none;
color: #1ab394;
}
*/
.stj_check_select{padding-top:20px;}
/*
.stj_check_select_col{width:30%;float:left;}*/
	
.stj_check_select_col .col-sm-3.control-label {
	text-align: right;
	vertical-align: middle;
	line-height:34px;
}
.stj_btn_y_f
{
	margin-left:10px;
	margin-right:10px;
	
	}
td .col-sm-3.control-label {
	text-align: right;
	vertical-align: middle;
	/*line-height:34px;
	max-height:38px;
	max-width:75px;*/
	overflow:auto;
	padding-right:0px;
	padding-left:0px;
}
.stj_lr2_table
{
/*	width:100%;*/
	    width: 100%;
    margin-top: 20px;
   
	
	}

	
	.yyy
	{
	width: 330px;
overflow: auto;
padding-top: 5px;
	
	    }
	    
.yyy .form-control
{
    margin-left:15px;
    }
.stj_lr_tr
{
	margin-top:4px;}
.Wdate.form-control
{
	background-color: #fff;
	background-image: url(datePicker.png);
	background-repeat: no-repeat;
	background-position: right;
	}
.stj_lr_but
{
	    z-index: 99999;
    width: 100%;
    position: fixed;
    bottom: 0px;
    /* left: 391.5px; */
    top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    /* margin-top: -40px; */
    border-bottom: 1px solid #c2c2c2;
	}
.st_lr_but_n
{
	width:95%;
	text-align:center;
	margin:auto;
	vertical-align:middle;
	line-height:50px;
	height: 50px;
	/*
background-color: #463233;*/
	}
.st_lr_but_n .btn-sm
{
	margin-left:10px;
	}
	.add_del_stj
	{margin-top: 10px;
margin-bottom: 15px;
margin-left: 5px;
		}

.stj_lr_but .but_tz
{
	float:left;
	width:auto;
	color:rgba(0,0,0,1);
	}
.st_lr_but_n_1
{
	float:left; width:30%}
	
.st_lr_but_n_1 .form-control
{
	float: left;
width:auto;
/* padding-left: 6px; */
margin-left: 6px;
margin-top: 10px;
/*
height: 30px;
    line-height: 30px;
*/
	}
	
.stj_lr2_table td label
{
	width:30%;
	/*min-width:140px;*/
	}
.stj_input
{
	width:70%;
	min-width:285px;
	/*width:285px;*/
	padding: 0px;
    padding-left: 5px;
	}
	/*
.stj_label2
{
	width:25px;
	padding-left:5px;
	
	}
.stj_input2
{
	
	width:130px;
	padding: 0px;
    padding-left: 5px;
	}*/
.stj_tab_btn_table
{
	/*background-color:#f3f3f4;
	color:#676a6c;*/
	font-weight: 700;
	border-color:#cfd8db;
     background-color: #f3f7fa;
    color: #333;
	
	}
.stj_tab_btn_table i
{
	padding-right:10px;
	}
.col-sm-9.stj_input select
{   
 /*height: 46px;*/
    font-size: 14px;
	  height: 30px;
	      padding-top: 3px;
    padding-bottom: 3px;
	width: 100%;
}

.col-sm-9.stj_input input
{   
 /*height: 46px;*/
    font-size: 14px;
	    height: 30px;
		    padding-top: 3px;
    padding-bottom: 3px;
	    width: 100%;
}
/*
.col-sm-9.stj_input2 input
{   
 height: 46px;
    font-size: 20px;
	padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
}*/
.dayg input
{
	font-size:20px;
	 /*height: 46px;*/
	padding-left:5px;
	}
.table_wai
{
	width:100%;
	overflow:auto;
	}
.dayg
{
	display:inline-block;
	padding-left:5px;
	}
.dayg .form-control
{
	width:100%;
	    margin-left:0px;
	}
.stj_nav_2 li a
{
	display:inline-block;
	padding-right:5px;
	background-color:transparent;
	border-width:0px;
	}
.stj_nav_2 li i
{
	font-size:14px;
	color:#888;
	vertical-align:10px
	}
.stj_nav_2 .active i
{
	font-size:14px;
	color:#F00;
	vertical-align:10px
	}
.stj_nav_2 .active
{
	    background-color: #dff0fa;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
	}
.stj_nav_2 li
{
	padding-right:10px;
	}
















.stj_nav li a
{
	display:inline-block;
	padding-right:5px;
	background-color:transparent;
	border-width:0px;
	}
.stj_nav li i
{
	font-size:14px;
	color:#888;
	vertical-align:10px
	}
	.stj_nav .active i
{
	font-size:14px;
	color:#F00;
	vertical-align:10px
	}
.stj_nav .active
{
	    background-color: #f0f7fd;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
	}
.stj_nav li
{
	padding-right:10px;
	}
.ryxx
{
	display:inline-block;
	    width: 140px;
    text-align: right;
	    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
	}
.add_del_stj .btn-group
{
	padding-left:5px;
	}
.btn-666
{
	background-color:#666;
	color:#FFF;
	
    border-right-color: #f3f3f4;
    border-right-style: solid;
    border-right-width: 2px;

	}
.btn-default i
{
	padding-right:7px;
	}
.tabs-container
{
	/*
	border-width:1px;
	border-style:solid;
	border-color:#ddd;
	*/
    margin-bottom: 10px;
	    margin-top: 10px;
	}
.col-sm-3.stj_shu {
    width: 100%;
    height: 60%;
    overflow: auto;
	
}

.col-sm-9.stj_shu
{
    width: 100%;
    /* float: right; */
    margin-right: 10px;
    height: 40%;
    /*overflow: auto;*/
	 
	}



.stj_lr2_mianban_title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	padding-bottom:5px;
}
.stj_lr2_mianban
{
	    padding-top: 5px;
    padding-bottom: 5px;
	    padding-left: 10px;
	}
.stj_lr2_neimianban
{
	border-style:solid;
	border-width:1px;
	border-color:#ddd;
	border-top-width:0px;
	}
	
.stj_nav>li.active
{
   height:38px;
       background-color: #f0f7fd;
       border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
    border-radius: 8px 8px 0px 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    }
.stj_ti
{
width:120px;
margin-right: 20px;
}
.stj_input .shuang-top-input
{
border-right-width: 0px;
width:80%;
}

.stj_lr2_table_td .mustinContent label
{
width:auto;
padding-right:15px;
}


.stj_input .chosen-container
{
    float:left;
    }
    .print_a
    {
            display: block;
    padding-top: 10px;
    clear: both;
        }
.stj_input .uploadify-queue
{
    display:inline-block;
    
    }
.gray-bg .wrapper-content{
    padding-top: 10px;
	    height: 100%;
      padding-bottom: 10px;
	    overflow: hidden;

}
/*
.layui-layer-title
{
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
  
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
   
    z-index: 9999;
	    cursor: move;
    position: absolute;
}*/
.layui-layer-setwin
{
    z-index: 9999;
}
.stj_shu{
    width: 100%;
    /* float: right; */
    margin-right: 10px;
    height: 40%;
    overflow: auto;
    padding-bottom: 20px;
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    padding-bottom: 0px;
    border: 1px solid #1a82c4;
    margin-right: 15px;
    overflow: hidden;
}
.stj_shu .panel-success{
height:100%;
    margin-top: 0px;
}
.stj_shu .panel-heading{

    float: left;
    height: 100%;
   
    font-size: 16px;
    padding-left: 0px;
    background-color: #fff;
    padding-right: 0px;
    padding-top: 0px;
    border: 1px solid #1c84c6;
    width: 40px;
    /* border-right: 0px; */
    border-bottom: 0px;
    border-left-width: 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
      background-color: #1c84c6;
	}
	.panel_h3_div
	{

	    padding: 8px 10px;
    background-color: #1b83c5;
	}
	.stj_shu .panel-heading h3{
	font-size:16px;
		line-height:20px;
	color:#FFF;
	padding-top:20px;
	}
	.btn_right{
	    float: right;
    margin-right: 10px;
	}
	.btn_right .btn{
	    background-color: #60b65b;
    border-color: #49b943;
    color: #fff;
    margin-right: 10px;
	}
	.stj_lr2_table_td
	{
	width:44%;}
	.zhushi_shang{
	
	width:6%

	}
.zhushi_shang_div{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    height: 35px;
    white-space: nowrap;
	line-height:30px;
    color: rgba(171, 0, 0,0.6);

}

.stj_input{
    padding-right: 15px;
}
.mustin{
width:10px;
    margin-right: -10px;
}
.luru_left_z{
float:left;
width:50%;

}
.luru_right_z{
float:left;
width:50%;

}

.dropdown-menu li a {
    min-height : 31px;
}

.dropdown-toggle {
    min-height: 34px;
}

.dropdown-toggle .caret {
    position: absolute;
    right: 10px;
}
.dropdown-menu .radio{
    min-height: 31px;
}
