<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/layui/css/layui.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/lib/Huploadify/Huploadify.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/lib/My97DatePicker/skin/whyGreen/datepicker.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/xszj/xszj.css"> -->
    <title>sxjz</title>
    <style type="text/css">
        .layui-table {
            margin: 0px;
            background-color: #f3f3f4;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        * {
            box-sizing: border-box;
        }

        .flex-wrap {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .flex-wrap .line-warp {
            flex: 0 0 45%;
            margin-bottom: 6px;
            display: inline-flex;
            align-items: center;
        }

        .layui-input-inline {
            /*width: 60%;*/
            flex: 1 0 60%;
        }

        .main-warp {
            flex: 0 0 80%;
            padding: 30px;

        }

        .save-boottom {
            position: fixed;
            bottom: 0px;
            width: 100%;
            left: 0px;
            background: rgba(55, 55, 55, 0.5);
            height: 60px;
            text-align: center;
        }

        .must {
            position: relative;
        }

        .must::after {
            position: absolute;
            content: "*";
            color: red;
            top: 5px;
            right: -12px;
        }

        .line-warp>span {
            font-weight: 700;
            /*line-height: 30px;*/
            /*        display: inline-block;
*/
            /*width: 120px;*/
            flex: 0 0 120px;
            text-align: right;
            padding-right: 5px;
            white-space: normal;
            vertical-align: middle;
        }

        .layui-disabled {
            background: #e5e5e5;
            color: #999 !important;
        }

        .layui-disabled:hover {
            color: #999 !important;
        }

        .must-hide {
            display: none !important;
        }

        .line-warp .line-btn {
            width: 40px;
            background-color: #b42f2f;
            color: white;
            text-align: center;
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            padding: 0px;
            cursor: pointer;
            line-height: 38px;
        }

        .layui-tab-title {
            height: auto;
            white-space: pre-wrap;
            display: inline-flex;
            flex-wrap: wrap;
        }

        .layui-tab-title .layui-this {
            background: white;
        }

        .layui-tab-content {
            background: white;
        }

        .layui-tab-content .layui-tab-item {
            display: none;
        }

        .flex-wrap.layui-show {
            display: inline-flex !important;
        }

        #sedWrap .layui-collapse {
            flex: 1 0 100%;
            margin-bottom: 20px;
        }

        .flex-wrap .line-warp.flex-line {
            flex: 0 0 95%;
        }

        .syxz-page,
        #syxz {
            position: absolute;
            top: 38px;
            left: 0px;
            right: 0px;
            height: 300px;
            z-index: 99;
            background: white;
            overflow: auto;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
        }

        #zxsyxz {
            cursor: pointer;
        }

        .syxz-page .layui-icon-addition,
        .syxz-page .layui-icon-subtraction,
        #syxz .layui-icon-addition,
        #syxz .layui-icon-subtraction {
            position: absolute;
            left: -1px;
            top: -1px;
        }
    </style>
</head>

<body>
    <div class="layui-table layui-form">
        <div class="main-warp flex-wrap" id="mainArea">
            <div style="display:none;">
                <input type="text" name="recid" />
                <input type="text" name="fxbaid" />
            </div>
            <div class="line-warp" style="flex: 0 0 95%;display:inline-flex;">
                <span>工程名称</span>
                <div class="layui-input-inline must" style="flex: 1 0 81%;">
                    <input type="text" class="layui-input" name="gcmc" />
                </div>
            </div>
            <div class="line-warp">
                <span>联系人</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" name="lxr" />
                </div>
            </div>
            <div class="line-warp">
                <span>联系电话</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" name="lxdh" lay-verify="required" lay-reqtext="联系电话必填" />
                </div>
            </div>
            <div class="line-warp">
                <span>所在省份</span>
                <div class="layui-input-inline must">
                    <select lay-filter="szsf" name="szsf" id="szsf"></select>
                </div>
            </div>
            <div class="line-warp">
                <span>所在城市</span>
                <div class="layui-input-inline must">
                    <select lay-filter="szcs" name="szcs" id="szcs"></select>
                </div>
            </div>
            <div class="line-warp">
                <span>所在地区</span>
                <div class="layui-input-inline must">
                    <select lay-filter="szxq" name="szxq" id="szxq"></select>
                </div>
            </div>
            <div class="line-warp">
                <span>所在街道</span>
                <div class="layui-input-inline must">
                    <select lay-filter="szjd" name="szjd" id="szjd"></select>
                </div>
            </div>
            <div class="line-warp" style="flex: 0 0 95%;display:inline-flex;">
                <span>工程坐标</span>
                <!--          <div class="layui-input-inline must" style="flex: 1 0 81%;">
                    <input type="text" class="layui-input" name="gcdd" />
                </div> -->
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input layui-disabled" name="gczb" disabled />
                    <span class="line-btn" value="setGczb">选择</span>
                </div>
            </div>
            <div class="line-warp" style="flex: 0 0 95%;display:inline-flex;">
                <span>工程地址</span>
                <div class="layui-input-inline must" style="flex: 1 0 81%;">
                    <input type="text" class="layui-input" name="gcdd" />
                </div>
            </div>
            <div class="line-warp"></div>
            <div class="layui-collapse" style="flex:1 0 100%;margin-bottom:40px;">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title" style="color:red;">建设单位</h2>
                    <div class="layui-colla-content layui-show ">
                        <div class="flex-wrap">
                            <div class="line-warp">
                                <span>建设单位</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input layui-disabled" name="jsdwmc" disabled />
                                    <span class="line-btn" value="jsdw">选择</span>
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>建设单位编号</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input layui-disabled" name="jsdwbh" readonly />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>建设单位法人<br />/主要负责人</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="jsdwfzr" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>手机号码</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="jsdwlxdh" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>资质等级</span>
                                <div class="layui-input-inline ">
                                    <input type="text" class="layui-input layui-disabled" name="zzdj" readonly
                                        value="\" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>建设单位法人</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="jsdwfr" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>法人身份证</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="frsfz" lay-verify="required|identity"
                                        lay-reqtext="建设单位法人身份证必填且为身份证类型" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>项目负责人</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="xmfzr" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>项目负责人身份证</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="fzrsfz" lay-verify="required|identity"
                                        lay-reqtext="建设单位项目负责人身份证必填且为身份证类型" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>项目负责人联系电话</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="fzrlxdh" lay-verify="required|phone"
                                        lay-reqtext="建设单位项目负责人联系电话必填且为手机类型" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 建设单位。。。。。。。。。。。。。。。。。。。。。 -->
            <div class="line-warp">
                <span>类别</span>
                <div class="layui-input-inline must">
                    <select lay-filter="gclxbh" name="gclxbh">
                        <option value="新建" selected="selected">新建</option>
                        <option value="扩建">扩建</option>
                        <option value="改建（装修）">改建（装修）</option>
                        <option value="改建（建筑保温）">改建（建筑保温）</option>
                        <option value="改建（改变用途）">改建（改变用途）</option>
                        <option value="补办证">补办证</option>
                    </select>
                </div>
            </div>
            <div class="line-warp">
                <span>临时性建筑</span>
                <div class="layui-input-inline ">
                    <select name="lsxjz">
                        <option value="否" selected="selected">否</option>
                        <option value="是">是</option>
                    </select>
                </div>
            </div>
            <div class="line-warp">
                <span>特殊消防设计</span>
                <div class="layui-input-inline ">
                    <select name="tsxfsj">
                        <option value="否" selected="selected">否</option>
                        <option value="是">是</option>
                    </select>
                </div>
            </div>
            <div class="line-warp"></div>
            <!--             <fieldset class="layui-elem-field layui-field-title site-title" style="flex:1 0 100%">
                <legend><a name="compatibility"></a></legend>
            </fieldset> -->
            <div class="layui-collapse " style="flex:1 0 100%;margin-bottom:40px;">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title" style="color:red;">下列两行，土建工程按实填写，二次装修工程填写原建筑的数据</h2>
                    <div class="layui-colla-content layui-show ">
                        <div class="flex-wrap" style="width: 100%">
                            <div class="line-warp">
                                <span>总建筑面积（m2）</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="zjzmj" lay-verify="required|number"
                                        lay-reqText="总建筑面积必填且为数字类型" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>建筑高度</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="jzgd" lay-verify="required|number"
                                        lay-reqtext="建筑高度必填且为数字类型" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>地上层数</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="dscs" lay-verify="required|number"
                                        lay-reqtext="地上层数必填且为数字类型" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>地下层数</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="dxcs" lay-verify="required|number"
                                        lay-reqtext="地下层数必填且为数字类型" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-warp">
                <span>火灾危险性</span>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="hzwxx" />
                </div>
            </div>
            <div class="line-warp">
                <span>工程投资额<br />（万元）</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" name="gctze" lay-verify="required|number"
                        lay-reqtext="工程投资额必填且为数字类型" />
                </div>
            </div>
            <div class="line-warp">
                <span>开工日期</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" readonly name="kgrq" id="kgrq" />
                </div>
            </div>
            <div class="line-warp">
                <span>竣工验收完成日期</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" readonly name="jgrq" id="jgrq" />
                </div>
            </div>
            <div class="line-warp">
                <span>建设工程质量监督机构</span>
                <div class="layui-input-inline ">
                    <!-- <input type="text" class="layui-input" name="jzgczljdjg" /> -->
                    <select class="layui-input" name="jzgczljdjg">
                        <option value=""></option>
                        <option value="温岭市建筑工程质量安全事务中心">温岭市建筑工程质量安全事务中心</option>
                    </select>
                </div>
            </div>
            <div class="line-warp">
                <span>施工图设计文件消防审查合格书编号</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" name="xfsjpzwh" />
                </div>
            </div>
            <div class="line-warp">
                <span>审查合格日期</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" name="sjpzzzrq" id="sjpzzzrq" />
                </div>
            </div>
            <div class="line-warp">
                <span>临时性建筑批准文件（依法需办理的）</span>
                <div class="layui-input-inline ">
                    <input type="text" class="layui-input" name="lsxjzpzwj" />
                </div>
            </div>
            <div class="line-warp">
                <span>建筑高度大于250m的建筑采用加强消防设计措施</span>
                <div class="layui-input-inline ">
                    <input type="text" class="layui-input" name="jqxfsjcs" />
                </div>
            </div>
            <div class="line-warp">
                <span>消防设施</span>
                <div class="layui-input-inline must">
                    <div name="xfss" id="xfss" multiple></div>
                    <!-- <input type="text" class="layui-input" name="xfss" /> -->
                    <!-- <select name="xfss" id="xfss" multiple>
                        <option value="" selected>请选择消防设施</option>
                        <option value="室内消火栓系统">室内消火栓系统</option>
                        <option value="室外消火栓系统">室外消火栓系统</option>
                        <option value="火灾自动报警系统">火灾自动报警系统</option>
                        <option value="自动喷水灭火系统">自动喷水灭火系统</option>
                        <option value="气体灭火系统">气体灭火系统</option>
                        <option value="泡沫灭火系统">泡沫灭火系统</option>
                        <option value="其他灭火系统">其他灭火系统</option>
                        <option value="疏散指示标志">疏散指示标志</option>
                        <option value="消防应急照明">消防应急照明</option>
                        <option value="防烟排烟系统">防烟排烟系统</option>
                        <option value="消防电梯">消防电梯</option>
                        <option value="灭火器">灭火器</option>
                        <option value="其他">其他</option>
                    </select> -->
                </div>
            </div>
            <div class="line-warp">
                <span>改变用途</span>
                <div class="layui-input-inline ">
                    <select name="gbyt">
                        <option value="是">是</option>
                        <option value="否" selected="selected">否</option>
                    </select>
                    <!-- <input type="text" class="layui-input" name="gbyt" /> -->
                </div>
            </div>
            <div class="line-warp">
                <span>原有用途</span>
                <div class="layui-input-inline must">
                    <input type="text" class="layui-input" name="zxyyyt" />
                </div>
            </div>
            <div class="line-warp">
                <span>使用性质</span>
                <div class="layui-input-inline must" style="position: relative;cursor: pointer;">
                    <input id="zxsyxz1" style="display: none;" type="text" class="layui-input" readonly
                        name="zxsyxz1" />
                    <input id="zxsyxz2" style="display: none;" type="text" class="layui-input" readonly
                        name="zxsyxz2" />
                    <input id="zxsyxz" type="text" class="layui-input" autocomplete="off" name="zxsyxz" readonly />
                    <div id="syxz" style="display: none;"></div>
                </div>
            </div>
            <!--  <div>注：
            </div> -->
            <div class="line-warp">
                <span>装饰装修</span>
                <div class="layui-input-inline">
                    <div style="display:inline-block">
                        <input type="checkbox" name="zxgc" class="zxgc" lay-filter="zxgc" lay-skin="switch"
                            lay-text="是|否" value="否">
                    </div>
                    <!-- 注：二次装修工程装饰装修 必须选是 -->
                </div>
            </div>
            <div class="layui-collapse zxgc-detail" style="flex:1 0 100%;margin-bottom:40px;display:none;">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title" style="color:red">装饰装修(二次装修工程需要填写以下三行内容)</h2>
                    <div class="layui-colla-content layui-show ">
                        <div class="flex-wrap" style="width: 100%">
                            <div class="line-warp">
                                <span>装修部位</span>
                                <div class="layui-input-inline must">
                                    <!-- <input type="text" class="layui-input" name="zxbw" /> -->
                                    <div class="zxbw" id="zxbw"></div>
                                    <!--                <select name="zxbw" multiple>
                                        <option value="" selected>请选择装修部位</option>
                                        <option value="顶棚">顶棚</option>
                                        <option value="墙面">墙面</option>
                                        <option value="地面">地面</option>
                                        <option value="隔断">隔断</option>
                                        <option value="固定家具">固定家具</option>
                                        <option value="装饰织物">装饰织物</option>
                                        <option value="其他">其他</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>装修面积（m2）</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="zxmj" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>装修所在层数</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="zxcs" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>原建筑名称</span>
                                <div class="layui-input-inline must">
                                    <input type="text" class="layui-input" name="yjzmc" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>耐火等级</span>
                                <div class="layui-input-inline must">
                                    <!-- <input type="text" class="layui-input" name="nhdj" /> -->
                                    <select class="layui-input" name="nhdj">
                                        <option value="一级" selected="selected">一级</option>
                                        <option value="二级">二级</option>
                                        <option value="三级">三级</option>
                                        <option value="四级">四级</option>
                                        <option value="地上二级地下一级">地上二级地下一级</option>
                                        <option value="地上三级地下一级">地上三级地下一级</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line-warp"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-warp">
                <span>建筑保温</span>
                <div class="layui-input-inline ">
                    <!-- <input type="text" class="layui-input" name="jzbw" /> -->
                    <select class="layui-input" name="jzbw">
                        <option value="是">是</option>
                        <option value="否" selected="selected">否</option>
                    </select>
                </div>
            </div>
            <div class="line-warp">
                <span>材料类别</span>
                <div class="layui-input-inline ">
                    <!-- <input type="text" class="layui-input" name="jabwcllb" /> -->
                    <select class="layui-input" name="jabwcllb">
                        <option value="" selected="selected"></option>
                        <option value="A">A</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                    </select>
                </div>
            </div>
            <div class="line-warp">
                <span>保温所在层数</span>
                <div class="layui-input-inline ">
                    <input type="text" class="layui-input" name="jzbwcs" />
                </div>
            </div>
            <div class="line-warp">
                <span>保温部位</span>
                <div class="layui-input-inline ">
                    <input type="text" class="layui-input" name="jzbwsyxz" />
                </div>
            </div>
            <div class="line-warp">
                <span>保温材料</span>
                <div class="layui-input-inline ">
                    <input type="text" class="layui-input" name="jzbwyyyt" />
                </div>
            </div>
            <div class="line-warp">
                <span>其他说明</span>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="qt" />
                </div>
            </div>
            <!-- <div></div> -->
            <div class=" line-warp flex-wrap" style="justify-content: flex-start;">
                <span>是否存在<br />堆场/储罐</span>
                <div class="layui-input-inline">
                    <div style="display:inline-block">
                        <input type="checkbox" name="dccg" class="dccg" lay-filter="dccg" lay-skin="switch"
                            lay-text="是|否" value="否">
                    </div>
                </div>
            </div>
            <div class="line-warp"></div>
            <div class="layui-collapse dccg-detail" style="flex:1 0 100%;margin-bottom:40px;">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title" style="color:red">以下内容，有堆场/储罐时填写</h2>
                    <div class="layui-colla-content layui-show ">
                        <div class="flex-wrap">
                            <div class="line-warp">
                                <span>储罐设置位置</span>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="cgwz" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>总容量（m2）</span>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="cgzrl" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>储罐设置型式</span>
                                <div class="layui-input-inline">
                                    <div class="cgszxs" name="cgszxs" id="cgszxs"></div>
                                    <!--                <select name="cgszxs" multiple>
                                        <option value="浮顶罐（外）">浮顶罐（外）</option>
                                        <option value="浮顶罐（内）">浮顶罐（内）</option>
                                        <option value="固定顶罐">固定顶罐</option>
                                        <option value="卧式罐">卧式罐</option>
                                        <option value="球型罐（液体）">球型罐（液体）</option>
                                        <option value="球形罐（气体）">球形罐（气体）</option>
                                        <option value="可燃气体储罐（干式）">可燃气体储罐（干式）</option>
                                        <option value="可燃气体储罐（湿式）">可燃气体储罐（湿式）</option>
                                        <option value="其他">其他</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>储罐储存形式</span>
                                <div class="layui-input-inline">
                                    <div class="cgccxs" id="cgccxs" name="cgccxs"></div>
                                    <!-- <select name="cgccxs" multiple>
                                        <option value="地上">地上</option>
                                        <option value="半地上">半地上</option>
                                        <option value="地下">地下</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>储罐储存物质名称</span>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="cgccwzmc" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>堆场储量</span>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="ddccl" />
                                </div>
                            </div>
                            <div class="line-warp">
                                <span>堆场储存物质名称</span>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="dcwzmc" />
                                </div>
                            </div>
                            <div class="line-warp"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-warp add-bz" style="flex: 0 0 95%;display:none">
                <span>备注</span>
                <div class="layui-input-inline" style="flex: 1 0 81%;">
                    <textArea type="text" id="bz" class="layui-input" name="bz" style="height:120px;"></textArea>
                </div>
            </div>
            <!--             <fieldset class="layui-elem-field layui-field-title site-title" style="flex:1 0 100%">
                <legend><a name="compatibility">建设单位</a></legend>
            </fieldset> -->
        </div>
        <div class="sed-warp flex-wrap" id="sedWrap" style="padding:30px 30px 60px 30px;overflow: auto;flex:1 0 100%;">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>设计单位</span>
                        <span class="layui-btn add-sed-data" value="sjdw" style="margin-left:60px;">新增</span>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-tab" lay-allowClose="true" lay-filter="sjdw">
                            <ul class="layui-tab-title" id="sjdwHead"></ul>
                            <div class="layui-tab-content" id="sjdwBody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>施工单位</span>
                        <span class="layui-btn add-sed-data" value="sgdw" style="margin-left:60px;">新增</span>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-tab" lay-allowClose="true" lay-filter="sgdw">
                            <ul class="layui-tab-title" id="sgdwHead"></ul>
                            <div class="layui-tab-content" id="sgdwBody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>监理单位</span>
                        <span class="layui-btn add-sed-data" value="jldw" style="margin-left:60px;">新增</span>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-tab" lay-allowClose="true" lay-filter="jldw">
                            <ul class="layui-tab-title" id="jldwHead"></ul>
                            <div class="layui-tab-content" id="jldwBody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>图审单位</span>
                        <span class="layui-btn add-sed-data" value="tsdw" style="margin-left:60px;">新增</span>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-tab" lay-allowClose="true" lay-filter="tsdw">
                            <ul class="layui-tab-title" id="tsdwHead"></ul>
                            <div class="layui-tab-content" id="tsdwBody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>检测单位</span>
                        <span class="layui-btn add-sed-data" value="jcdw" style="margin-left:60px;">新增</span>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-tab" lay-allowClose="true" lay-filter="jcdw">
                            <ul class="layui-tab-title" id="jcdwHead"></ul>
                            <div class="layui-tab-content" id="jcdwBody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>单体建筑</span>
                        <span class="layui-btn add-sed-data" value="dtjz" style="margin-left:60px;">新增</span>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-tab" lay-allowClose="true" lay-filter="dtjz">
                            <ul class="layui-tab-title" id="dtjzHead"></ul>
                            <div class="layui-tab-content" id="dtjzBody"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="save-boottom" style="padding-top: 10px;">
            <div class="layui-btn layui-btn-normal lsbc" lay-submit2 lay-filter="formDemo" style="display:none;">临时保存
            </div>
            <button class="layui-btn" lay-submit lay-filter="formBtn" id="save">保存</button>
        </div>
    </div>
    <script type="text/javascript" src="/static/lib/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js"></script>
    <script type="text/javascript" src="/static/pub/common.js"></script>
    <script type="text/javascript" src="/static/lib/layui_extends/xm-select.js"></script>
    <script type="text/javascript">
        var uploadurl = "";
        var downLoad = "";

        /*
        1. 装饰装修  选 是 
            必填-装修部位
            必填-顶棚墙面地面隔断固定家具装饰织物其他
            必填-装修面积（m2）
            必填-装修所在层数
            必填-原建筑名称
            必填-耐火等级
    zt=sl
        2.检测单位只能填一个
    
        3.施工。设计。图审，单体建筑 都必须有一个
    
        4. isbc ==0 有临时保存按钮
        isbc == 1 没有
    
        edittype 0 新增
                 1 编辑
                 2 删除
        */
        var params = getParams();
        var loadDataDtl = null;

        var zjlx = [];

        var xfss, zxbw, cgszxs, cgccxs, treeData, layTree;
        function setTreeData(list) {
            var tmp, ary = [], obj, child;
            for (var i = 0; i < list.length; i++) {
                tmp = list[i];
                var obj = {
                    id: tmp.bh || tmp.xlid,
                    title: tmp.title || tmp.xl
                }
                if (tmp.children) {
                    child = setTreeData(tmp.children)
                    if (child.length) {
                        obj.children = child;
                    }
                }
                if (tmp.bh || tmp.xl) {
                    ary.push(obj)
                }
            }
            return ary;
        }
        var syxzDoc = $("#syxz")
        $("#zxsyxz").click(function (event) {
            syxzDoc.toggle();
            event.stopPropagation()
        })

        syxzDoc.click(function (event) {
            event.stopPropagation()
        })

        $("body").click(function (event) {
            if (!syxzDoc.is(":hidden")) {
                syxzDoc.toggle()
            }
            var doc = $(".syxz-page").filter(":visible");
            if (doc.length) {
                doc.hide();
            }
        })

        $(".layui-table").on("click", "[name=syxz]", function (event) {
            $(this).parent().find("[id$=page]").toggle();
            event.stopPropagation()
        }).on("click", ".syxz-page", function (event) {
            event.stopPropagation()
        })
        function findTreeList(list, obj) {
            // var list 
            var ary = [], tmp, sed, third;
            for (var i = 0; i < list.length; i++) {
                tmp = list[i];
                if (tmp.children) {
                    for (var j = 0; j < tmp.children.length; j++) {
                        sed = tmp.children[j]
                        if (obj.id.length == 4) {
                            if (sed.id == obj.id) {
                                return [tmp.title, sed.title, sed.title];
                            }
                        } else {
                            if (sed.children) {
                                for (var k = 0; k < sed.children.length; k++) {
                                    third = sed.children[k]
                                    if (third.id == obj.id) {
                                        return [tmp.title, sed.title, third.title];
                                    }
                                }
                            }
                        }
                    }
                }
            }
            return false;
        }
        $(function () {
            // if (params.view) {
            //     $(".save-boottom").hide();
            // }
            if (params.readonly) {
                $(":input").attr("disabled", "disabled").addClass("layui-disabled")
                $(".add-sed-data").hide()
                $(".save-boottom").hide();
                $(".line-btn").hide()
                $(".layui-tab-close").hide();
            }
            ajaxTpl("/wlxf/GetSxqy", "", function (res) {
                if (res.rows && res.rows[0] && res.rows[0].szsf) {

                    var szsf = res.rows[0].szsf,
                        tmp, str = "";
                    for (var i = 0; i < szsf.length; i++) {
                        tmp = szsf[i];
                        if (tmp.szsf == "浙江省") {
                            str += "<option selected>"
                        } else {
                            str += "<option>"
                        }
                        str += tmp.szsf + "</option>";
                    }
                    $("#szsf").append(str);
                    if (layui.form) {
                        layui.form.render()
                    }
                }
            })


            layui.use(['layer', 'form', 'jquery', "element", "laydate", "tree"], function () {
                var form = layui.form,
                    $ = layui.jquery;
                var form = layui.form;
                var element = layui.element;
                var laydate = layui.laydate;
                layTree = layui.tree;

                if (params.fxbaid) {
                    $("[name=fxbaid]").val(params.fxbaid)

                } else {
                    changeProvice({
                        szsf: "浙江省"
                    }, "init");
                    changeCity({
                        szsf: "浙江省",
                        szcs: "台州市"
                    }, "init")
                    changeXq({
                        szsf: "浙江省",
                        szcs: "台州市",
                        szxq: "温岭市"
                    }, "init")
                    $(".lsbc").show();
                }
                ajaxTpl("/wlxf/GetHelpSyxz", {}, function (res) {
                    treeData = setTreeData(res.rows[0])
                    if (params.fxbaid) {
                        loadData(params.fxbaid);
                    }
                    layTree.render({
                        elem: '#syxz',
                        data: treeData,
                        onlyIconControl: true,//是否仅允许节点左侧图标控制展开收缩
                        click: function (obj) {
                            if (!obj.data.children) {//没有下一个子节点
                                var list = findTreeList(treeData, obj.data);
                                if (list) {
                                    $("#zxsyxz1").val(list[0])
                                    $("#zxsyxz2").val(list[1])
                                    $("#zxsyxz").val(list[2])
                                    $("#syxz").hide();
                                }
                            }
                        }
                    })
                });




                // var xmSelect = layui.xmSelect;


                //多选标签-基本配置
                xfss = xmSelect.render({
                    el: '#xfss',
                    name: "xfss",
                    toolbar: {
                        show: true,
                    },
                    data: [
                        { "value": "室内消火栓系统", "name": "室内消火栓系统" },
                        { "value": "室外消火栓系统", "name": "室外消火栓系统" },
                        { "value": "火灾自动报警系统", "name": "火灾自动报警系统" },
                        { "value": "自动喷水灭火系统", "name": "自动喷水灭火系统" },
                        { "value": "气体灭火系统", "name": "气体灭火系统" },
                        { "value": "泡沫灭火系统", "name": "泡沫灭火系统" },
                        { "value": "其他灭火系统", "name": "其他灭火系统" },
                        { "value": "疏散指示标志", "name": "疏散指示标志" },
                        { "value": "消防应急照明", "name": "消防应急照明" },
                        { "value": "防烟排烟系统", "name": "防烟排烟系统" },
                        { "value": "消防电梯", "name": "消防电梯" },
                        { "value": "灭火器", "name": "灭火器" },
                        { "value": "其他", "name": "其他" }
                    ],
                    max: 14
                });
                zxbw = xmSelect.render({
                    el: '#zxbw',
                    name: "zxbw",
                    toolbar: {
                        show: true,
                    },
                    block: {
                        //最大显示数量, 0:不限制
                        showCount: 0,
                    },
                    prop: {
                        name: 'name',
                    },
                    data: [
                        { "value": "顶棚", "name": "顶棚" },
                        { "value": "墙面", "name": "墙面" },
                        { "value": "地面", "name": "地面" },
                        { "value": "隔断", "name": "隔断" },
                        { "value": "固定家具", "name": "固定家具" },
                        { "value": "装饰织物", "name": "装饰织物" },
                        { "value": "其他", "name": "其他" }
                    ],
                    max: 8,
                });
                cgszxs = xmSelect.render({
                    el: '#cgszxs',
                    name: "cgszxs",
                    toolbar: {
                        show: true,
                    },
                    data: [
                        { "value": "浮顶罐（外）", "name": "浮顶罐（外）" },
                        { "value": "浮顶罐（内）", "name": "浮顶罐（内）" },
                        { "value": "固定顶罐", "name": "固定顶罐" },
                        { "value": "卧式罐", "name": "卧式罐" },
                        { "value": "球型罐（液体）", "name": "球型罐（液体）" },
                        { "value": "球形罐（气体）", "name": "球形罐（气体）" },
                        { "value": "可燃气体储罐（干式）", "name": "可燃气体储罐（干式）" },
                        { "value": "可燃气体储罐（湿式）", "name": "可燃气体储罐（湿式）" },
                        { "value": "其他", "name": "其他" }
                    ],
                    max: 10,
                });
                cgccxs = xmSelect.render({
                    el: '#cgccxs',
                    name: "cgccxs",
                    toolbar: {
                        show: true,
                    },
                    data: [
                        { "value": "地上", "name": "地上" },
                        { "value": "半地上", "name": "半地上" },
                        { "value": "地下", "name": "地下" }
                    ],
                    max: 4,
                });

                laydate.render({
                    elem: '#kgrq',
                    done: function (value, date, endDate) {
                        setBzData($("#kgrq"))
                    }
                });
                laydate.render({
                    elem: '#jgrq',

                    done: function (value, date, endDate) {
                        setBzData($("#jgrq"))
                    }
                });
                laydate.render({
                    elem: '#sjpzzzrq',

                    done: function (value, date, endDate) {
                        setBzData($("#sjpzzzrq"))
                    }
                });



                // 省份改变
                form.on('select(szsf)', function (data) {
                    $("#szcs,#szxq,#szjd").html("")
                    // console.log("szsf..change........")
                    changeProvice({
                        szsf: data.value
                    })
                })
                // 城市改变
                form.on('select(szcs)', function (data) {
                    $("#szxq,#szjd").html("")
                    changeCity({
                        szcs: data.value
                    })
                })
                form.on('select(szxq)', function (data) {
                    $("#szjd").html("")
                    changeXq({
                        szxq: data.value
                    })
                })

                form.on('select(gclxbh)', function (data) {
                    if (data.value.indexOf("改建") > -1) {
                        layui.jquery('.zxgc').attr('checked', 'checked'); //改变开关为 开
                    } else {
                        layui.jquery('.zxgc').removeAttr('checked'); //改变开关为 关
                    }
                    $(".zxgc").change()
                    layui.form.render()
                })
                form.on('switch(zxgc)', function (data) {
                    $(".zxgc").change()
                });
                form.on('switch(dccg)', function (data) {
                    if (this.checked) {
                        $(".dccg-detail").show();
                    } else {
                        $(".dccg-detail").hide();
                    }
                });
                form.on('switch(dccg)', function (data) {
                    $(".dccg").change()
                });

                //临时保存
                form.on('submit2(formDemo)', function (data) {
                    var params = getSaveData("lsbc");

                    if (typeof params == "object") {
                        save(params)
                    }
                    return false;
                });

                //监听提交
                form.on('submit(formBtn)', function (data) {
                    var params = getSaveData();
                    if (typeof params == "object") {
                        layer.confirm("请确认保存工程信息?", {
                            icon: 3,
                            title: "提示"
                        }, function (idx) {
                            save(params)
                            layer.close(idx)
                        })
                    }
                    return false;
                });

                element.on('tabDelete(sjdw)', function (data) {
                    confirmDelete(this, data)
                    return false;
                });

                element.on('tabDelete(sgdw)', function (data) {
                    confirmDelete(this, data)
                    return false;
                });
                element.on('tabDelete(jldw)', function (data) {
                    confirmDelete(this, data)
                    return false;
                });
                element.on('tabDelete(tsdw)', function (data) {
                    confirmDelete(this, data)
                    return false;
                });
                element.on('tabDelete(jcdw)', function (data) {
                    confirmDelete(this, data)
                    return false;
                });
                element.on('tabDelete(dtjz)', function (data) {
                    confirmDelete(this, data)
                    return false;
                });
                $(".dccg").change()


            })
        });

        function changeProvice(obj, flag) {
            ajaxTpl("/wlxf/GetSxqy", {
                szsf: obj.szsf || $("#szsf").val(),
            }, function (res) {
                if (res.rows && res.rows[0] && res.rows[0].szcs) {
                    var szcs = res.rows[0].szcs,
                        tmp, str = "";
                    for (var i = 0; i < szcs.length; i++) {
                        tmp = szcs[i];
                        if (flag == "init" && tmp.szcs == "台州市") {
                            str += "<option selected>"
                        } else {
                            str += "<option>"
                        }
                        str += tmp.szcs + "</option>";
                    }
                    $("#szcs").html(str);
                    if (flag != "init" && flag != "load") {
                        changeCity({});
                    } else if (flag == "load") {
                        $("#szcs").val(obj.szcs)
                    }
                    if (layui.form) {
                        layui.form.render()
                    }
                }
            })
        }

        function changeCity(obj, flag) {
            // string szsf = Request["szsf"].GetSafeString();
            // string szcs = Request["szcs"].GetSafeString();
            // string szxq = Request["szxq"].GetSafeString();
            ajaxTpl("/wlxf/GetSxqy", {
                szsf: obj.szsf || $("#szsf").val(),
                szcs: obj.szcs || $("#szcs").val()
            }, function (res) {
                if (res.rows && res.rows[0] && res.rows[0].szxq) {
                    var szxq = res.rows[0].szxq,
                        tmp, str = "";
                    for (var i = 0; i < szxq.length; i++) {
                        tmp = szxq[i];
                        if (flag == "init" && tmp.szxq == "温岭市") {
                            str += "<option selected>"
                        } else {
                            str += "<option>"
                        }
                        str += tmp.szxq + "</option>";
                    }
                    $("#szxq").html(str);
                    if (flag != "init" && flag != "load") {
                        changeXq({});
                    } else if (flag == "load") {
                        console.log(obj.szxq)
                        $("#szxq").val(obj.szxq);
                    }

                    if (layui.form) {
                        layui.form.render()
                    }
                }
            })
        }

        function changeXq(obj, flag) {
            console.log(obj)
            ajaxTpl("/wlxf/GetSxqy", {
                szsf: obj.szsf || $("#szsf").val(),
                szcs: obj.szcs || $("#szcs").val(),
                szxq: obj.szxq || $("#szxq").val()
            }, function (res) {
                if (res.rows && res.rows[0] && res.rows[0].szjd) {
                    var szjd = res.rows[0].szjd,
                        tmp, str = "";
                    for (var i = 0; i < szjd.length; i++) {
                        tmp = szjd[i];
                        str += "<option>" + tmp.szjd + "</option>";
                    }
                    $("#szjd").html(str);
                    if (flag == "load") {
                        $("#szjd").val(obj.szjd);
                    }

                    if (layui.form) {
                        layui.form.render()
                    }
                }
            })
        }
        window.onresize = function () {
            // setWidth();
        }

        function save(params) {
            ajaxTpl("/wlxf/addGcxx", params, function (res) {
                if (res.code == 0) {
                    layer.confirm("保存成功!", {
                        icon: 1,
                        title: "提示"
                    }, function (idx) {
                        try {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } catch (e) {
                            parent.layer.closeAll();
                        }


                        layer.close(idx)
                    })
                } else {
                    layer.alert(res.msg || "保存失败！", {
                        icon: 2,
                        title: "提示"
                    })
                }
            });
        }

        function confirmDelete(that, data) {
            layer.confirm("请确认删除？", {
                icon: 3,
                title: "提示"
            }, function (idx) {
                var li = $(that).parent("li");
                var item = $(data.elem[0]).find(".layui-tab-content").children().eq(data.index)
                var siblings = li.siblings(":visible");
                if (li.attr("recid")) {
                    li.hide();
                    item.hide().removeClass("layui-show");
                    item.append("<input type='text' name='edittype' value='2'>")
                } else {
                    li.remove();
                    item.remove();
                }
                if (siblings.length) {
                    siblings.eq(0).click();
                }
                layer.close(idx)
            })
        }

        $(".zxgc").change(function () {
            if (this.checked) {
                $(".zxgc").attr("value", "是")
                $(".zxgc-detail").show();
            } else {
                $(".zxgc").attr("value", "否")
                $(".zxgc-detail").hide();
            }
        })
        $(".dccg").change(function () {
            if (this.checked) {
                $(".dccg").attr("value", "是")
                $(".dccg-detail").show();
            } else {
                $(".dccg").attr("value", "否")
                $(".dccg-detail").hide();
            }
        })
        var ifaDoc = null;
        $(".layui-table").on("click", ".line-btn", function () {
            var that = $(this);
            var type = that.attr("value")
            var link = "",
                qybh, title;
            ifaDoc = that.parents(".layui-tab-item.layui-show")
            if (type.indexOf("zz") > -1) {
                qybh = ifaDoc.find(":input[name=qybh]").val()
                if (!qybh) {
                    layer.msg("请先选择企业", {
                        icon: 2,
                        time: 2000
                    })
                    return false;
                }
                title = "请选择企业资质"
                link = "/wlxf/qyzz?qybh=" + qybh
            } else {
                title = "请选择企业"
                link = "/wlxf/gcList?type=" + type
            }
            if (type == "setGczb") {
                title = "请选择工程坐标";
                link = "/wlxf/setPosMap?pos=" + that.prev().val();
                // layerIdx = layer.open({
                //     type: 2,
                //     title: title,
                //     content: link,
                //     area: ["80%", "80%"],
                // })
            }
            layerIdx = layer.open({
                type: 2,
                title: title,
                content: link,
                area: ["80%", "80%"]
            })
        })

        function ifaHandle(pos) {
            // console.log(pos)
            $("[name=gczb]").val(pos)
            layer.close(layerIdx)
        }


        $(".add-sed-data").click(function () {
            var sedData = $(this).attr("value")
            switch (sedData) {
                case "sjdw":
                    addSjdw();
                    break;
                case "sgdw":
                    addSgdw();
                    break;
                case "jldw":
                    addJldw();
                    break;
                case "tsdw":
                    addTsdw();
                    break;
                case "jcdw":
                    addJcdw();
                    break;
                case "sgdw":
                    addSgdw();
                    break;
                case "dtjz":
                    addDtjz();
                    break;

            }
            return false;
        })
        var sjdwIdx = 1,
            sgdwIdx = 1,
            jldwIdx = 1,
            tsdwIdx = 1,
            jcdwIdx = 1,
            dtjzIdx = 1;

        var ryList = [
            { lab: "联系人", name: "qyfzr" },
            { lab: "联系电话", name: "lxdh" },
            { lab: "法人代表/企业负责人", name: "qyfr" },
            { lab: "法人身份证", name: "frsfz" },
            { lab: "项目负责人", name: "xmfzr", isMust: true },
            { lab: "项目负责人身份证", name: "fzrsfz", isMust: true },
            { lab: "项目负责人联系电话", name: "fzrlxdh", isMust: true }
        ]

        function addSjdw(obj) {
            var qylist = [
                { lab: "企业编号", type: "btn", isMust: true, name: "qybh", btnValue: "sjdwqy" },
                { lab: "企业名称", type: "btn", isMust: true, name: "qymc", btnValue: "sjdwqy" },
                { lab: "企业资质", type: "btn", isMust: true, name: "qyzz", btnValue: "sjdwqyzz" },
                { lab: "资质证号", type: "btn", name: "zzzh", btnValue: "sjdwqyzz" }
            ];
            var list = qylist.concat(ryList);
            var li = "<li class='layui-this'>设计单位" + sjdwIdx + "</li>"
            var str = "";
            if (obj && obj.recid) {
                li = "<li class='layui-this' fxbaid='" + obj.fxbaid + "' recid='" + obj.recid + "'>设计单位" + sjdwIdx + "</li>";
                str = "<div style='display:none'><input type='text' name='recid' value='" + obj.recid + "' /><input type='text' name='fxbaid' value='" + obj.fxbaid + "' /></div>"
            }
            $("#sjdwHead").children().removeClass('layui-this').end().append(li);

            for (var i = 0; i < list.length; i++) {
                str += setLineWarp(list[i], sjdwIdx)
            }
            str += "<div class='line-warp'></div>"
            $("#sjdwBody").children().removeClass('layui-show').end().append("<div class='layui-tab-item flex-wrap layui-show'>" + str + "</div>")
            sjdwIdx++;

            layui.element.render()
        }



        function addSgdw(obj) {
            var qylist = [
                { lab: "企业编号", type: "btn", isMust: true, name: "qybh", btnValue: "sgdwqy" },
                { lab: "企业名称", type: "btn", isMust: true, name: "qymc", btnValue: "sgdwqy" },
                { lab: "企业资质", type: "btn", isMust: true, name: "qyzz", btnValue: "sgdwqyzz" },
                { lab: "资质证号", type: "btn", name: "zzzh", btnValue: "sgdwqyzz" }
            ];
            var str = "";
            var list = qylist.concat(ryList);
            var li = "<li class='layui-this'>施工单位" + sgdwIdx + "</li>"
            if (obj && obj.recid) {
                li = "<li class='layui-this' fxbaid='" + obj.fxbaid + "' recid='" + obj.recid + "'>施工单位" + sgdwIdx + "</li>"
                str = "<div style='display:none'><input type='text' name='recid' value='" + obj.recid + "' /><input type='text' name='fxbaid' value='" + obj.fxbaid + "' /></div>"
            }
            $("#sgdwHead").children().removeClass('layui-this').end().append(li);

            for (var i = 0; i < list.length; i++) {
                str += setLineWarp(list[i], sgdwIdx)
            }
            str += "<div class='line-warp'></div>"

            $("#sgdwBody").children().removeClass('layui-show').end().append("<div class='layui-tab-item flex-wrap layui-show'>" + str + "</div>")
            sgdwIdx++;

            layui.element.render()
        }

        function addJldw(obj) {
            var qylist = [
                { lab: "企业编号", type: "btn", isMust: true, name: "qybh", btnValue: "jldwqy" },
                { lab: "企业名称", type: "btn", isMust: true, name: "qymc", btnValue: "jldwqy" },
                { lab: "企业资质", type: "btn", isMust: true, name: "qyzz", btnValue: "jldwqyzz" },
                { lab: "资质证号", type: "btn", name: "zzzh", btnValue: "jldwqyzz" }
            ];
            var str = "";
            var list = qylist.concat(ryList);
            var li = "<li class='layui-this'>监理单位" + jldwIdx + "</li>"
            if (obj && obj.recid) {
                li = "<li class='layui-this' fxbaid='" + obj.fxbaid + "' recid='" + obj.recid + "'>监理单位" + jldwIdx + "</li>"
                str = "<div style='display:none'><input type='text' name='recid' value='" + obj.recid + "' /><input type='text' name='fxbaid' value='" + obj.fxbaid + "' /></div>"
            }
            $("#jldwHead").children().removeClass('layui-this').end().append(li);
            for (var i = 0; i < list.length; i++) {
                str += setLineWarp(list[i], jldwIdx)
            }
            str += "<div class='line-warp'></div>"

            $("#jldwBody").children().removeClass('layui-show').end().append("<div class='layui-tab-item flex-wrap layui-show'>" + str + "</div>")
            jldwIdx++;

            layui.element.render()
        }

        function addTsdw(obj) {
            var qylist = [
                { lab: "企业编号", type: "btn", isMust: true, name: "qybh", btnValue: "tsdwqy" },
                { lab: "企业名称", type: "btn", isMust: true, name: "qymc", btnValue: "tsdwqy" },
                { lab: "企业资质", type: "btn", isMust: true, name: "qyzz", btnValue: "tsdwqyzz" },
                { lab: "资质证号", type: "btn", name: "zzzh", btnValue: "tsdwqyzz" }
            ];
            var list = qylist.concat(ryList);
            var str = "";

            var li = "<li class='layui-this'>图审单位" + tsdwIdx + "</li>"
            if (obj && obj.recid) {
                li = "<li class='layui-this' fxbaid='" + obj.fxbaid + "' recid='" + obj.recid + "'>图审单位" + tsdwIdx + "</li>"
                str = "<div style='display:none'><input type='text' name='recid' value='" + obj.recid + "' /><input type='text' name='fxbaid' value='" + obj.fxbaid + "' /></div>"
            }
            $("#tsdwHead").children().removeClass('layui-this').end().append(li);
            for (var i = 0; i < list.length; i++) {
                str += setLineWarp(list[i], tsdwIdx)
            }
            str += "<div class='line-warp'></div>"

            $("#tsdwBody").children().removeClass('layui-show').end().append("<div class='layui-tab-item flex-wrap layui-show'>" + str + "</div>")
            tsdwIdx++;

            layui.element.render()
        }

        function addJcdw(obj) {
            var qylist = [
                { lab: "企业编号", type: "btn", isMust: true, name: "qybh", btnValue: "jcdwqy" },
                { lab: "企业名称", type: "btn", isMust: true, name: "qymc", btnValue: "jcdwqy" },
                { lab: "企业资质", type: "btn", isMust: true, name: "qyzz", btnValue: "jcdwqyzz" },
                { lab: "资质证号", type: "btn", name: "zzzh", btnValue: "jcdwqyzz" }
            ];
            var list = qylist.concat(ryList);
            var str = "";

            var li = "<li class='layui-this'>检测单位" + jcdwIdx + "</li>"
            if (obj && obj.recid) {
                li = "<li class='layui-this' fxbaid='" + obj.fxbaid + "' recid='" + obj.recid + "'>检测单位" + jcdwIdx + "</li>"
                str = "<div style='display:none'><input type='text' name='recid' value='" + obj.recid + "' /><input type='text' name='fxbaid' value='" + obj.fxbaid + "' /></div>"
            }
            $("#jcdwHead").children().removeClass('layui-this').end().append(li);
            for (var i = 0; i < list.length; i++) {
                str += setLineWarp(list[i], jcdwIdx)
            }
            str += "<div class='line-warp'></div>"

            $("#jcdwBody").children().removeClass('layui-show').end().append("<div class='layui-tab-item flex-wrap layui-show'>" + str + "</div>")
            jcdwIdx++;

            layui.element.render()
        }

        function addDtjz(obj) {
            var list = [
                { lab: "单体建筑名称", name: "fgcmc", isMust: true },
                { lab: "结构类型", name: "jgxs", isMust: true },
                // { lab: "使用性质", name: "syxz", isMust: true },
            ];

            var list2 = [
                { lab: "层数（地上）", name: "dscs", isMust: true },
                { lab: "层数（地下）", name: "dxcs", isMust: true },
                { lab: "建筑高度（m）", name: "jzgd", isMust: true },
                { lab: "占地面积（m2）", name: "zdmj", isMust: true },
                { lab: "建筑面积（m2）（地上）", name: "dsjzmj", isMust: true },
                { lab: "建筑面积（m2）（地下）", name: "dxjzmj", isMust: true },
            ];
            var str = "";
            var li = "<li class='layui-this'>单体建筑" + dtjzIdx + "</li>"
            if (obj && obj.recid) {
                li = "<li class='layui-this' fxbaid='" + obj.fxbaid + "' recid='" + obj.recid + "'>单体建筑" + dtjzIdx + "</li>";
                str = "<div style='display:none'><input type='text' name='recid' value='" + obj.recid + "' /><input type='text' name='fxbaid' value='" + obj.fxbaid + "' /></div>"
            }
            $("#dtjzHead").children().removeClass('layui-this').end().append(li);

            for (var i = 0; i < list.length; i++) {
                str += setLineWarp(list[i], dtjzIdx)
            }

            str += setSyxz(dtjzIdx);
            str += setLineSelectWarp({ lab: "耐火等级", name: "nhdj", isMust: true });

            for (var i = 0; i < list2.length; i++) {
                str += setLineWarp(list2[i], dtjzIdx)
            }


            $("#dtjzBody").children().removeClass('layui-show').end().append("<div class='layui-tab-item flex-wrap layui-show'>" + str + "</div>")
            treeRender(dtjzIdx)
            dtjzIdx++;

            layui.element.render()
            layui.form.render()
        }
        function setSyxz(idx) {
            var str = '<div class="line-warp"><span>使用性质</span>';
            str += '<div class="layui-input-inline must" style="position: relative;cursor: pointer;">' +//zxsyxz1
                '<input id="syxz' + idx + '1" style="display: none;" type="text" class="layui-input" readonly="" name="syxz1">' +
                '<input id="syxz' + idx + '2" style="display: none;" type="text" class="layui-input" readonly="" name="syxz2">' +
                '<input id="syxz' + idx + '3" type="text" class="layui-input" autocomplete="off" name="syxz" readonly="">' +
                '<div id="syxz' + idx + 'page" class="syxz-page" style="display: none;"></div>' +
                '</div></div>'

            return str;

        }
        function treeRender(idx) {
            layTree.render({
                elem: '#syxz' + idx + "page",
                data: treeData,
                onlyIconControl: true,//是否仅允许节点左侧图标控制展开收缩
                click: function (obj) {
                    if (!obj.data.children) {//没有下一个子节点
                        var list = findTreeList(treeData, obj.data);
                        if (list) {
                            $('#syxz' + idx + 1).val(list[0])
                            $('#syxz' + idx + 2).val(list[1])
                            $('#syxz' + idx + 3).val(list[2])
                            $('#syxz' + idx + "page").hide();
                        }
                    }
                }
            })

        }

        // $(".layui-table").on("click", "[name^=zxsyxz]", function () {
        //     $(this).parent().find("[id$=page]").toggle();
        //     console.log($(this).parent().find("[id$=page]"))
        // })

        function setLineSelectWarp(obj, idx) {
            var str = '<div class="line-warp"><span>' + obj.lab + '</span>';
            if (obj.isMust) {
                str += '<div class="layui-input-inline must">';
            } else {
                str += '<div class="layui-input-inline">';
            }


            str += '<select name="' + obj.name + '">' +
                '<option value="一级" selected="selected">一级</option>' +
                '<option value="二级">二级</option>' +
                '<option value="三级">三级</option>' +
                '<option value="四级">四级</option>' +
                '<option value="地上二级地下一级">地上二级地下一级</option>' +
                '<option value="地上三级地下一级">地上三级地下一级</option>' +
                '</select>'

            str += '</div>' + '</div>';
            return str;
        }

        function setLineWarp(obj, idx) {
            var str = '<div class="line-warp"><span>' + obj.lab + '</span>';
            if (obj.isMust) {
                str += '<div class="layui-input-inline must">';
            } else {
                str += '<div class="layui-input-inline">';
            }

            if (obj.type == "btn") {
                str += '<input type="text" class="layui-input layui-disabled" name="' + obj.name + '" disabled />' +
                    '<span class="line-btn"  value="' + obj.btnValue + '">选择</span>'
            } else {
                str += '<input type="text" class="layui-input" name="' + obj.name + '"  />'
            }
            str += '</div>' + '</div>';
            return str;
        }


        var layer, layerIdx;
        layui.use('layer', function () {
            layer = layui.layer;
        });

        function closeIfa(type, obj) {
            layer.close(layerIdx);

            if (type == "sure") { //保存
                if (ifaDoc.length) {

                    if (obj.qybh) {
                        ifaDoc.find(":input[name=qyzz]").val("")
                        ifaDoc.find(":input[name=zzzh]").val("")
                    }
                    for (var key in obj) {
                        if (key == "zzdj") {
                            // zzdj: "建筑工程专项甲级"
                            // zzzsbh: "AW131003975"

                            // zzdj: "建筑工程专项甲级"
                            // zzmc: "AW131003975"
                            ifaDoc.find(":input[name=qyzz]").val(obj[key])
                        } else if (key == "zzmc" || key == "zzzsbh") {
                            ifaDoc.find(":input[name=zzzh]").val(obj[key])
                        } else {
                            ifaDoc.find(":input[name=" + key + "]").val(obj[key])
                        }
                    }

                    // }
                } else { //建设单位
                    ifaDoc = $("#mainArea");
                    var keyObj = {
                        qyfzr: "jsdwfzr",
                        lxsj: "jsdwlxdh",
                        qymc: "jsdwmc",
                        qybh: "jsdwbh",
                        qyfr: "jsdwfr",
                    }
                    for (var key in obj) {

                        ifaDoc.find(":input[name=" + keyObj[key] + "]").val(obj[key])
                    }
                }
                // var leftArea = $("#leftArea");
                // leftArea.find("[name=projectid]").val(obj.gcbh);
                // leftArea.find("[name=projectname]").val(obj.gcmc);
                // getGcbh(obj.gcbh);
            }
        }

        function getSaveData(type) {
            var lineWrap = $("#mainArea").find(".line-warp");
            var tmp, ipt;

            var keys1 = ["zxbw", "xfss", "cgszxs", "cgccxs"];

            //如果 没有装饰装修  不校验这些参数是否必填
            var zszxKeys = ["zxbw", "zxmj", "zxcs", "yjzmc", "nhdj"];
            var zxgcValue = lineWrap.find("[name=zxgc]").val();
            if (type != "lsbc") {
                for (var i = 0; i < lineWrap.length; i++) {
                    tmp = lineWrap.eq(i);
                    ipt = tmp.find(":input:visible")
                    if (tmp.find(".must").length && keys1.indexOf(ipt.attr("name")) == -1 && ipt.val() == "") {
                        if (zxgcValue != "是" && zszxKeys.indexOf(ipt.attr("name")) > -1) {
                            continue;
                        }

                        layer.alert("请输入" + tmp.children("span").text(), {
                            icon: 2,
                            title: "提示"
                        })
                        ipt.focus();
                        return false;
                    }
                }
            }

            var gcxx = getDataByDoc($("#mainArea"), "main")

            if (type == "lsbc") {
                gcxx.isbc = 0;
            } else {
                gcxx.isbc = 1;
            }
            var temp = getXmSelect(gcxx);

            if (gcxx.isbc == 1) {//如果是保存
                if (!gcxx.xfss) {
                    layer.alert("请输入消防设施!", {
                        icon: 2,
                        title: "提示"
                    })
                    return false
                }
                if (zxgcValue == "是" && !gcxx.zxbw) {//当装饰装修选择是的时候  装修部位必填
                    layer.alert("请输入装修部位!", {
                        icon: 2,
                        title: "提示"
                    })
                    return false

                }
                // gcxx
            }

            var sjdw = [];
            var child = $("#sjdwBody").children();
            var willdelete = child.find(":input[name=edittype][value=2]").length;
            if (type != "lsbc") {
                if (child.length - willdelete < 1) {
                    layer.alert("设计单位必须填一个", {
                        icon: 2,
                        title: "提示"
                    })
                    return false;
                } else {
                    for (var i = 0; i < child.length; i++) {
                        if (!jyMust(child.eq(i), "设计单位", i, type)) {
                            return false;
                        }
                        sjdw.push(getDataByDoc(child.eq(i)))
                    }
                }
            } else {
                for (var i = 0; i < child.length; i++) {
                    sjdw.push(getDataByDoc(child.eq(i)))
                }
            }


            var sgdw = [];
            var child = $("#sgdwBody").children();
            var willdelete = child.find(":input[name=edittype][value=2]").length;

            for (var i = 0; i < child.length; i++) {
                if (!jyMust(child.eq(i), "施工单位", i, type)) {
                    return false;
                }
                sgdw.push(getDataByDoc(child.eq(i)))
            }

            var jldw = [];
            var child = $("#jldwBody").children();

            if (type != "lsbc") {
                for (var i = 0; i < child.length; i++) {
                    if (!jyMust(child.eq(i), "监理单位", i, type)) {
                        return false;
                    }
                    jldw.push(getDataByDoc(child.eq(i)))
                }
            } else {
                for (var i = 0; i < child.length; i++) {
                    jldw.push(getDataByDoc(child.eq(i)))
                }
            }

            var tsdw = [];
            var child = $("#tsdwBody").children();
            var willdelete = child.find(":input[name=edittype][value=2]").length;

            if (type != "lsbc") {
                if (child.length - willdelete < 1) {
                    layer.alert("图审单位必须填一个", {
                        icon: 2,
                        title: "提示"
                    })
                    return false;
                } else {
                    for (var i = 0; i < child.length; i++) {
                        if (!jyMust(child.eq(i), "图审单位", i, type)) {
                            return false;
                        }
                        tsdw.push(getDataByDoc(child.eq(i)))
                    }
                }
            } else {
                for (var i = 0; i < child.length; i++) {
                    tsdw.push(getDataByDoc(child.eq(i)))
                }
            }

            var jcdw = [];
            var child = $("#jcdwBody").children();
            var willdelete = child.find(":input[name=edittype][value=2]").length;

            if (type != "lsbc") {
                if (child.length - willdelete > 1) {
                    layer.alert("检测单位只能填一个", {
                        icon: 2,
                        title: "提示"
                    })
                    return false;
                } else {
                    for (var i = 0; i < child.length; i++) {
                        if (!jyMust(child.eq(i), "检测单位", i, type)) {
                            return false;
                        }
                        jcdw.push(getDataByDoc(child.eq(i)))
                    }
                }
            } else {
                for (var i = 0; i < child.length; i++) {
                    jcdw.push(getDataByDoc(child.eq(i)))
                }
            }

            var dtjz = [],
                obj;
            var child = $("#dtjzBody").children();
            var willdelete = child.find(":input[name=edittype][value=2]").length;
            if (type != "lsbc") {
                if (child.length - willdelete < 1) {
                    layer.alert("单体建筑必须填一个", {
                        icon: 2,
                        title: "提示"
                    })
                    return false;
                } else {
                    for (var i = 0; i < child.length; i++) {
                        obj = getDataByDoc(child.eq(i))
                        if (jyMust(child.eq(i), "单体建筑", i, type) && jy(obj, i)) {
                            dtjz.push(obj)
                        } else {
                            return false;
                        }
                    }
                }
            } else {
                for (var i = 0; i < child.length; i++) {
                    obj = getDataByDoc(child.eq(i))
                    dtjz.push(obj)
                }
            }
            delete gcxx[""];
            return {
                gcxx: JSON.stringify([gcxx]),
                sjdw: JSON.stringify(sjdw),
                sgdw: JSON.stringify(sgdw),
                jldw: JSON.stringify(jldw),
                tsdw: JSON.stringify(tsdw),
                jcdw: JSON.stringify(jcdw),
                dtjz: JSON.stringify(dtjz)
            }
        }

        function jyMust(doc, lab, idx, type) {
            var lineWrap = doc.find(".line-warp")
            var tmp, ipt;
            if (type != "lsbc") {
                for (var i = 0; i < lineWrap.length; i++) {
                    tmp = lineWrap.eq(i);
                    ipt = tmp.find(":input:visible")
                    if (tmp.find(".must").length && ipt.val() == "") {

                        layer.alert("请输入第" + (idx + 1) + "条" + lab + "的" + tmp.children("span").text(), {
                            icon: 2,
                            title: "提示"
                        })
                        return false;
                    }
                }
            }
            return true;
        }
        var verList = [
            // { lab: "层数（地上）且为整数", name: "dscs", type: "int" },
            // { lab: "层数（地下）且为整数", name: "dxcs", type: "int" },
            { lab: "建筑高度（m）", name: "jzgd", type: "float" },
            { lab: "占地面积（m2）", name: "zdmj", type: "float" },
            { lab: "建筑面积（m2）（地上）", name: "dsjzmj", type: "float" },
            { lab: "建筑面积（m2）（地下）", name: "dxjzmj", type: "float" }
        ]

        function jy(obj, idx) {
            var tmp;
            for (var i = 0; i < verList.length; i++) {
                tmp = verList[i]
                if (tmp.type == "int") {
                    if (obj[tmp.name] != parseInt(obj[tmp.name])) {
                        layer.alert("请输入第" + (idx + 1) + "条单体建筑的" + tmp.lab, {
                            icon: 2,
                            title: "提示"
                        })
                        return false;
                    }
                } else if (tmp.type == "float") {
                    if (obj[tmp.name] != parseFloat(obj[tmp.name])) {
                        layer.alert(tmp.lab, {
                            icon: 2,
                            title: "提示"
                        })
                        return false;
                    }
                }
            }
            return true;
        }

        function getDataByDoc(doc, type) {
            var ipt = doc.find(":input");
            var tmp, obj = {};
            for (var i = 0; i < ipt.length; i++) {
                tmp = ipt.eq(i);
                obj[tmp.attr("name")] = tmp.val();
            }
            if (type != "main" && !obj.edittype) {
                if (obj.recid) {
                    obj.edittype = 1
                } else {
                    obj.edittype = 0
                }
            }
            delete obj.undefined;
            delete obj[""];
            return obj;
        }

        function getXmSelect(obj) {
            var xfssVal = xfss.getValue();
            var zxbwVal = zxbw.getValue();
            var cgszxsVal = cgszxs.getValue();
            var cgccxsVal = cgccxs.getValue();

            function getValue(ary) {
                var list = [];
                for (var i = 0; i < ary.length; i++) {
                    list.push(ary[i].value)
                }
                return list.join(",")
            }
            obj.xfss = getValue(xfssVal);
            obj.zxbw = getValue(zxbwVal);
            obj.cgszxs = getValue(cgszxsVal);
            obj.cgccxs = getValue(cgccxsVal);
        }

        function setXmSelect(type, value) {
            // if(){}
            var doc;
            switch (type) {
                case "xfss":
                    doc = xfss;
                    break;
                case "zxbw":
                    doc = zxbw;
                    break;
                case "cgszxs":
                    doc = cgszxs;
                    break;
                case "cgccxs":
                    doc = cgccxs;
                    break;
            }
            doc.setValue(value)
        }
        var before;

        function dateFormat(fmt, date) {
            var o = {
                "M+": date.getMonth() + 1, //月份
                "d+": date.getDate(), //日
                "h+": date.getHours(), //小时
                "m+": date.getMinutes(), //分
                "s+": date.getSeconds(), //秒
                "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                "S": date.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }


        function setBzData(doc) {
            var bz = $("#bz")
            var lab = doc.parents(".line-warp").children("span").text();
            var name = doc.attr("name");
            var aft = doc.val()

            if (name != "bz" && name != "zxgc") {
                if (before != aft) {
                    var str = bz.val();
                    var ary = [];
                    if (str.length && str.indexOf("，") > -1) {
                        ary = str.split("，")
                    } else if (str.length) {
                        ary = [str]
                    }

                    ary.push(dateFormat("yyyy-MM-dd hh:mm:ss", new Date()) + " " + lab + "由【" + (before || '空') + "】改为【" + aft + "】");
                    bz.val(ary.join("，"))
                }
            }
        }

        function loadData(id) {
            var keys = ["xfss", "zxbw", "cgszxs", "cgccxs"];
            ajaxTpl("/wlxf/getGcxx?fxbaid=" + id, {}, function (res) {
                var doc, obj, key;

                if (res.gcxx && res.gcxx.length) {

                    var obj = res.gcxx[0];
                    // obj.zt = "sl"
                    if (obj.zt == "SL") {
                        $(".add-bz").css("display", "inline-flex");

                        $("#mainArea").on("focus", ":input", function () {
                            before = $(this).val();
                        }).on("change", ":input", function () {
                            var that = $(this);
                            setBzData($(this))
                            // var bz = $("#bz")
                            // var lab = that.parents(".line-warp").children("span").text();
                            // var name = that.attr("name");
                            // var aft = that.val()

                            // if (name != "bz" && name != "zxgc") {
                            //     if (before != aft) {
                            //         var str = bz.val();
                            //         var ary = [];
                            //         if (str.length && str.indexOf("，") > -1) {
                            //             ary = str.split("，")
                            //         } else if (str.length) {
                            //             ary = [str]
                            //         }
                            //         ary.push(lab + "由<" + (before || '空') + ">改为<" + aft + ">");
                            //         bz.val(ary.join("，"))
                            //     }
                            // }
                        })
                    }
                    if (obj.isbc == "0") { //是否临时保存
                        $(".lsbc").show();
                    }
                    var doc = $("#mainArea");
                    // setXfss();
                    for (key in obj) {
                        if (key == "recid") {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                        if (key == "zxgc") {
                            doc.find(":input[name='" + key + "']").attr("checked", obj[key] == "是" ? "checked" : false)
                        } else if (key == "dccg") {
                            doc.find(":input[name='" + key + "']").attr("checked", obj[key] == "是" ? "checked" : false)
                            if (obj[key] == "是") {
                                $(".dccg-detail").show();
                            } else {
                                $(".dccg-detail").hide();
                            }
                        } else if (keys.indexOf(key) > -1) {
                            setXmSelect(key, obj[key].split(","))
                        } else if (['szsf', 'szcs', 'szxq'].indexOf(key) > -1) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                            if (key == "szsf") {
                                changeProvice({
                                    szsf: obj.szsf,
                                    szcs: obj.szcs
                                }, "load")
                            } else if (key == "szxq") {
                                changeCity({
                                    szsf: obj.szsf,
                                    szcs: obj.szcs,
                                    szxq: obj.szxq
                                }, "load")
                            } else if (key == "szcs") {
                                changeXq({
                                    szsf: obj.szsf,
                                    szcs: obj.szcs,
                                    szxq: obj.szxq,
                                    szjd: obj.szjd
                                }, "load")
                            }

                        } else {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                } else {
                    $(".lsbc").show();
                }
                if (res.sjdw && res.sjdw.length) {
                    for (var i = 0; i < res.sjdw.length; i++) {
                        obj = res.sjdw[i]
                        addSjdw(obj);
                        doc = $("#sjdwBody").children().eq(i);
                        for (key in obj) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                }

                if (res.sgdw && res.sgdw.length) {
                    for (var i = 0; i < res.sgdw.length; i++) {
                        obj = res.sgdw[i]
                        addSgdw(obj);
                        doc = $("#sgdwBody").children().eq(i);
                        for (key in obj) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                }
                if (res.jldw && res.jldw.length) {
                    for (var i = 0; i < res.jldw.length; i++) {
                        obj = res.jldw[i]
                        addJldw(obj);
                        doc = $("#jldwBody").children().eq(i);
                        for (key in obj) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                }
                if (res.tsdw && res.tsdw.length) {
                    for (var i = 0; i < res.tsdw.length; i++) {
                        obj = res.tsdw[i]
                        addTsdw(obj);
                        doc = $("#tsdwBody").children().eq(i);
                        for (key in obj) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                }
                if (res.jcdw && res.jcdw.length) {
                    for (var i = 0; i < res.jcdw.length; i++) {
                        obj = res.jcdw[i]
                        addJcdw(obj);
                        doc = $("#jcdwBody").children().eq(i);
                        for (key in obj) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                }
                if (res.dtjz && res.dtjz.length) {
                    for (var i = 0; i < res.dtjz.length; i++) {
                        obj = res.dtjz[i]
                        addDtjz(obj);
                        doc = $("#dtjzBody").children().eq(i);
                        for (key in obj) {
                            doc.find(":input[name='" + key + "']").val(obj[key]);
                        }
                    }
                }

                layui.form.render();
                $(".zxgc").change()
                $(".dccg").change()
                if (params.readonly) {
                    $(".add-sed-data").hide()
                    $(".save-boottom").hide();
                    $(".line-btn").hide()
                    $(".layui-tab-close").hide();
                    $(":input").attr("disabled", "disabled").addClass("layui-disabled")
                    $("xm-select").addClass("layui-disabled");
                    setTimeout(function () {
                        $(".xm-icon-close").hide()
                    }, 100)
                    $("body").append("<style>.xm-body{display:none!important;}</style>")
                }
            })
        }

    </script>
</body>

</html>