<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link type="text/css" rel="Stylesheet" href="/static/common/reset.css" />
    <link type="text/css" rel="Stylesheet" href="/static/oa/css/load.css" />
    <style>
        .data-view {
            text-align: left;
        }

        .m-role {
            width: 90%;
        }

            .m-role .xb {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }

            .m-role .sfsyr {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }

            .role-list .m-role input,
            .m-role select {
                width: 90%;
            }

        .role-line {
            width: 60%;
            display: inline-block;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

        .m-role span {
            text-align: center;
        }

        .role-list .checkbox {
            width: 16px;
            height: 16px;
        }

        .role-list {
        }

        #roleLine {
            border: 1px solid #C6C6C6;
        }

            #roleLine > div {
                display: table-cell;
                width: 50%;
            }

            #roleLine p {
                background: #F1F1F1;
                color: #303030;
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #E5E5E5;
                border-left: 1px solid #E5E5E5;
            }

            #roleLine div:first-child p {
                border-left: 0px;
            }

            #roleLine .role-list span {
                width: 70%;
                text-align: left;
                margin-left: 10px;
            }

        #roleLeft,
        #roleRight {
            height: 300px;
            overflow: auto;
            padding: 10px 0;
            cursor: pointer;
        }


        #roleLine .role-list .close {
            width: 30px;
            height: 30px;
            display: inline-block;
            background: url('/static/oa/images/close.png') no-repeat;
            background-position: 7px 7px;
        }

        #dataView {
            /*display: inline-block;*/
            margin: 0px 10%;
            padding-top: 20px;
            box-sizing: border-box;
        }

        .m-role input, .m-role select {
            width: 70%;
        }
        /*860px; 700px*/
    </style>
</head>

<body>
    <div id="dataView" class="data-view">
        <div class="m-role">
            <label>
                <span>
                    制度类目：
                </span>
                <select id="typeid">
                    <option value="0">请选择制度类目</option>
                </select>
            </label>
        </div>
        <div class="m-role">
            <label>
                <span>
                    制度名称：
                </span>
                <input type="text" id="name" />
            </label>
        </div>
        <div class="m-role">
            <label>
                <span>
                    制度文件：
                </span>
                <input type="text" id="fileoss" />
            </label>
        </div>
        <div class="save" style="margin-top: 50px;border: 0px;"><span class="btn">保存</span></div>
    </div>
    <script src="/static/lib/jquery-2.0.3.min.js"></script>
    <script src="/static/common/common.js"></script>
    <script src="/static/lib/layer/layer.js"></script>
    <script>
        var recid = "@ViewBag.gzzdid";
        var typeid = "@ViewBag.typeid";

        $(function () {
            if (recid) {
                $('#name').val('@ViewBag.name');
                $('#fileoss').val('@ViewBag.fileoss');
            }

       
            ajaxTpl('/dhoa/GetGZZDName', '', function (data) {
                if (data.length) {
                    var str = '';
                    for (var i = 0, len = data.length; i < len; i++) {
                        str += "<option value='" + data[i].typeid + "'>" + data[i].name + "</option>";
                    }
                    if (data.length == 1) {
                        $('#typeid').html(str);
                    } else {
                        $('#typeid').append(str);
                    }
                    if (typeid) {
                        $('#typeid').val(typeid);
                    }
                }
            });
        })

        $("#dataView .save").click(function () {
            var typeid = $('#typeid').val();
            var name = $('#name').val();
            var fileoss = $('#fileoss').val();


            if (typeid == 0) {
                layer.msg('请制度类目', {
                    icon: 2,
                    time: 2000
                });
                return;
            }
            if (name.lenth == 0) {
                layer.msg('请输入制度名称', {
                    icon: 2,
                    time: 2000
                });
                return;
            }
            if (fileoss.lenth == 0) {
                layer.msg('请选择制度文件', {
                    icon: 2,
                    time: 2000
                });
                return;
            }
            var obj = {
                gzzdid: recid,
                typeid: typeid,
                name: name,
                fileoss: fileoss
            };
            save(obj)
            }
        );

        function save(obj) {
            ajaxTpl('/dhoa/GZZDModify', obj, function (data) {
                if (data.code =='0') {
                    layer.alert('保存成功');
                    try {
                        setTimeout(function () {
                            parent.layer.closeAll();
                        },1000)
                    }
                    catch(e)
                    {
                    }
                }
                else {

                    layer.msg(data.msg, {
                        icon: 2,
                        time: 2000
                    });
                }
            });
        }

    </script>
</body>

</html>