@{
    Layout = "~/Views/User/_dialoglayout.cshtml";
}

<div id="viewdiv"></div>
<div id="viewvideo"></div>
<div id="viewimage"></div>
<div id="viewredos"></div>
<div>  
		<a href="#" onclick="javascript:viewDetail();" id="btnView" class="easyui-linkbutton" iconCls="icon-view" plain="true" disabled="true">查看详情</a>
		<a href="#" onclick="javascript:viewQx();" id="btnQx" class="easyui-linkbutton" iconCls="icon-btn-view-qx" plain="true" disabled="true">查看曲线</a>
		<a href="#" onclick="javascript:viewVideo();" id="btnVideo" class="easyui-linkbutton" iconCls="icon-btn-view-video" plain="true" disabled="true">查看视频</a>
		<a href="#" onclick="javascript:viewRedo();" id="btnRedo" class="easyui-linkbutton" iconCls="icon-btn-view-redo" plain="true" disabled="true">查看重做记录</a>
</div> 
