@using BD.Jcbg.Common;
@{
    Layout = "~/Views/dwgxsxjzy/_baselayout.cshtml";
}
@section head
{
<link href="@SkinManager.GetUserRoot("huploadify/Huploadify.css")" rel="stylesheet" type="text/css" />
<script src="@SkinManager.GetUserRoot("huploadify/jquery.Huploadify.js")" type="text/javascript" charset="utf-8"></script>
<script language="javascript" type="text/javascript">
    var type = '@ViewBag.type';
    $(function () {
        try {
            $('#reportfile').Huploadify({
                auto: true,
                fileTypeExts: '*.xls;*.xlsx',
                multi: false,
                hideDelFileBtn: true,
                formData: {type:type},
                fileSizeLimit: 1024 * 100,
                showUploadedPercent: true,//是否实时显示上传的百分比，如20%
                showUploadedSize: true,
                removeTimeout: 9999999,
                uploader: '/dwgxsxjzy/doimportQyry',
                onUploadStart: function () {
                },
                onInit: function () {
                },
                onUploadComplete: function (file, data) {

                    var jdata = JSON.parse(data);
                    if (jdata.code != "0" && jdata.msg != "") {
                        layer.alert(jdata.msg);
                    }
                    else {
                        parent.layer.closeAll();
                        parent.layer.alert("导入成功！");
                    }


                },
                onCancel: function (file) {
                }
            });
        } catch (e) {
            alert(e);
        }

    });
</script>
} 

<div class="container" style="margin-top:20px;">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="jcjg" class="col-sm-3 control-label">导入文件(支持excel的xls,xlsx格式)</label>
            <div class="col-sm-9">
                <div id="reportfile"></div>
            </div>
        </div>        
    </form>
</div>

