@{
    Layout = "~/Views/User/_contentlayout2.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">

    var smsService = {
        sendSpan: 0,
        send: function () {
            var phone = $('#phone').val();

            if (phone == "") {
                layer.alert('手机号码不能为空！', {
                    icon: 0,
                    skin: 'layer-ext-moon'
                });
                return false;
            }
            var p1 = /^1\d{10}$/;

            if (!p1.test(phone)) {
                layer.alert('手机号码格式错误！', {
                    icon: 0,
                    skin: 'layer-ext-moon'
                });
                return false;
            }

            this.setSendVCButtonId();

            $.ajax({
                type: "POST",
                url: "/sms/getverifycodespan",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.code != "0") {
                        var msg = data.msg;
                        if (msg == "")
                            msg = "获取短信发送间隔失败";
                        layer.alert(msg, {
                            icon: 0,
                            skin: 'layer-ext-moon'
                        });
                    } else {
                        smsService.sendSpan = data.msg * 1;
                        $.ajax({
                            type: "POST",
                            url: "/sms/DoSendResetPassVerifyCode?receiver=" + phone,
                            dataType: "json",
                            async: false,
                            success: function (data) {
                                if (data.msg != "") {
                                    layer.alert(msg, {
                                        icon: 0,
                                        skin: 'layer-ext-moon'
                                    });
                                    
                                } else {
                                    smsService.setButtonText();
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                            },
                            beforeSend: function (XMLHttpRequest) {
                            }
                        });
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });

        },
        setSendVCButtonId: function () {
            try {
                var btns = document.getElementsByTagName("input");
                for (var i = 0; i < btns.length; i++) {
                    if (btns[i].value == "获取验证码" && btns[i].type == "button") {
                        btns[i].id = "btn_send_vc";
                    }
                }
            } catch (err) {
                alert(err);
            }
        },
        setButtonText: function () {
            if (smsService.sendSpan == 0) {
                document.getElementById("btn_send_vc").value = "获取验证码";
                document.getElementById("btn_send_vc").disabled = false;
            } else {

                document.getElementById("btn_send_vc").value = smsService.sendSpan + "秒后再次发送";
                document.getElementById("btn_send_vc").disabled = true;
                smsService.sendSpan = smsService.sendSpan - 1;
                window.setTimeout(smsService.setButtonText, 1000);
            }
        }
    }
    $(function () {
        try {
            InitKeydown();
        } catch (err) {
            alert(e);
        }
    });

    function InitKeydown() {
        try {
            $("#phone").keydown(function (e) {
                var ev = document.all ? window.event : e;
                if (ev.keyCode == 13) {
                    smsService.send();
                }
            });
            $("#yzm").keydown(function (e) {
                var ev = document.all ? window.event : e;
                if (ev.keyCode == 13) {
                    doSubmit();
                }
            });
        } catch (e) {
            layer.alert('初始化按键事件异常', {
                icon: 0,
                skin: 'layer-ext-moon'
            });
        }
    }

    function GetMaskedPhone(phone) {
        var ret = $.trim(phone);
        var len = ret.length;
        if (len == 11 ) {
            ret = ret.substr(0, 3) + "****" + ret.substr(7, 4);
        }
        return ret;
    }

    function isValid() {
        try {
            if ($('#currentusername').val() == "") {
                layer.alert('请填写用户名！', {
                    icon: 0,
                    skin: 'layer-ext-moon'
                });
                return false;
            }
            if ($("#phone").val() == "") {
                layer.alert('请填写手机号码！', {
                    icon: 0,
                    skin: 'layer-ext-moon'
                });
                return false;
            }
            else if (!checkphone()) {
                layer.alert('请输入有效的手机号码！', {
                    icon: 0,
                    skin: 'layer-ext-moon'
                });
                return false;
            }
            if ($("#yzm").val() == "") {
                layer.alert('请输入手机验证码！', {
                    icon: 0,
                    skin: 'layer-ext-moon'
                });
                return false;
            }


        } catch (e) {
            alert(e);
        }
        return true;
    }
    function checkphone() {
        var reg = /^1\d{10}$/;
        var phone = $('#phone').val();
        return reg.test(phone);
    }
    function doSubmit() {
        var ret = false;
        // 校验表单
        if (!isValid())
            return false;

        var yzm = $("#yzm").val();
        var phone = $('#phone').val();
        var username = $('#currentusername').val();

        // 校验验证码与用户信息
        $.ajax({
            type: "POST",
            url: "/dwgxzj/checkresetpass?yzm=" + encodeURIComponent(yzm) + '&username=' + encodeURIComponent(username) + '&phone=' + encodeURIComponent(phone),
            dataType: "json",
            async: false,
            success: function (data) {
                ret = data.code == "0";
                if (data.msg != "") {
                    layer.alert(data.msg, {
                        icon: 0,
                        skin: 'layer-ext-moon'
                    });
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
            },
            beforeSend: function (XMLHttpRequest) {
            }
        });
        if (!ret) {
            return false;
        }

        try{
            $.ajax({
                type: "POST",
                url: "/dwgxzj/doresetpass?username=" + encodeURIComponent(username),
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.code == "0") {
                        /*
                        layer.alert('密码重置成功，账号和新密码将以短信的方式发送到您手机，收到后请尽快修改密码。', {
                            icon: 0,
                            skin: 'layer-ext-moon'
                        });*/
                        $.ajax({
                            type: "POST",
                            url: "/sms/DoSendResetPassUserInfo?usercode=" + encodeURIComponent(username) + '&phone=' + encodeURIComponent(phone),
                            dataType: "json",
                            async: false,
                            success: function (data) {
                                if (data.msg != "") {
                                    ret = false;
                                    alert(data.msg);
                                } else {
                                    ret = true;
                                    layer.alert("账号和新密码已经以短信方式发送到您的手机，请查收。", {
                                        icon: 0,
                                        skin: 'layer-ext-moon'
                                    }, function () {
                                        parent.layer.closeAll();
                                    });
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                            },
                            beforeSend: function (XMLHttpRequest) {
                            }
                        });
                    } else {
                        if (data.msg == "")
                            data.msg = "重置失败";
                        layer.alert(data.msg, {
                            icon: 0,
                            skin: 'layer-ext-moon'
                        });
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                beforeSend: function (XMLHttpRequest) {
                }
            });
        } catch (e) {
            alert(e);
        }
        return ret;
    }
    </script>
}

<ul class="list-group">
    <li class='list-group-item' id='li_username'>
        <div class="input-group">
            <span class="input-group-addon">用　户　名</span>
            <input type="text" class="form-control" id='currentusername' name="currentusername" value="">
        </div>
    </li>
    <li class='list-group-item' id='li_sjhm'>
        <div class="input-group">
            <span class="input-group-addon">手 机 号  码</span>
            <input type="text" class="form-control" id='phone' name="phone" value="" placeholder="请填写手机号">
            <span class="input-group-btn">
                <input class="btn btn-default" type="button" id="btn_send_vc" name="btn_send_vc" value="获取验证码" onclick="smsService.send()" />
            </span>
        </div>
    </li>
    <li class='list-group-item' id='li_yzm'>
        <div class="input-group">
            <span class="input-group-addon">手机验证码</span>
            <input type="text" class="form-control" id='yzm' name="yzm">
        </div>
    </li>
</ul>
<div class="navbar navbar-default navbar-fixed-bottom">
    <form class="navbar-form navbar-right" role="search">
        <input class="btn btn-default" type="button" onclick="doSubmit()" value="重置密码" />
        &nbsp;&nbsp;
    </form>
</div>
