<!DOCTYPE html>

<html>
<head>
    <!--移动设备-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--高速模式,webkit内核-->
    <meta name="renderer" content="webkit">
    <!--不支持IE兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--禁止搜索引擎转码,并附带广告-->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="/Contents/Css/bootstrap.css" rel="stylesheet" />
    <link href="/Contents/Css/font-awesome.css" rel="stylesheet" />
    <link href="/Contents/Css/animate.css" rel="stylesheet" />
    <link href="/Contents/Css/style.css" rel="stylesheet" />
    <script src="/Contents/Js/jquery.js"></script>
    <script src="/Contents/js/bootstrap.js"></script>
    <script src="/Contents/PlugIns/Layer/layer.js"></script>
    <script src="/Contents/Js/metisMenu.js"></script>
    <script src="/Contents/PlugIns/echarts.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
