@using BD.Jcbg.Common;
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["title"]</title>
    <!-- 引入 echarts.js -->

    <script type="text/javascript" src="@SkinManager.GetSxgaPath("js/echarts.min.js?v=2.1.4")"></script>
    <script type="text/javascript" src="@SkinManager.GetSxgaPath("js/jquery-1.8.0.min.js?v=2.1.4")"></script>
</head>
<body style="height: 100%; margin: 0">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom <div id="main" style="width: 600px;height:400px;"></div>-->

    <div id="container" style="height: 100%"></div>
    <script type="text/javascript">

        var myChart;
        $(function () {
            $.ajax({
                url: "/Sxga/getTbData",
                async: true,
                dataType: "json",
                type: "POST",
                data: {
                    date1: '@ViewData["date1"]'
                },
                success: function (result) {
                    if (result.success == true) {
                        if (result.data.length == 0) {
                            $('#container').append("<div id='child' style='width: 600px;height:400px;'>无统计数据!</div>");
                        } else {


                            for (i = 0; i < result.data.length; i++) {

                            }


                            var dom = document.getElementById("container");
                            myChart = echarts.init(dom);
                            var option = {
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                    }
                                },
                                legend: {
                                    data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: {
                                    type: 'value'
                                },
                                yAxis: {
                                    type: 'category',
                                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                                },
                                series: [
                                    {
                                        name: '直接访问',
                                        type: 'bar',
                                        stack: '总量',
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: [320, 302, 301, 334, 390, 330, 320]
                                    },
                                    {
                                        name: '邮件营销',
                                        type: 'bar',
                                        stack: '总量',
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: [120, 132, 101, 134, 90, 230, 210]
                                    },
                                    {
                                        name: '联盟广告',
                                        type: 'bar',
                                        stack: '总量',
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: [220, 182, 191, 234, 290, 330, 310]
                                    },
                                    {
                                        name: '视频广告',
                                        type: 'bar',
                                        stack: '总量',
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: [150, 212, 201, 154, 190, 330, 410]
                                    },
                                    {
                                        name: '搜索引擎',
                                        type: 'bar',
                                        stack: '总量',
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: [820, 832, 901, 934, 1290, 1330, 1320]
                                    }
                                ]
                            };;
                            if (option && typeof option === "object") {
                                myChart.setOption(option, true);
                            }
                        }


                    } else {
                        $('#main').append("<div id='child' style='width: 600px;height:400px;'>" + result.msg + "</div>");

                    }

                }
            });
        })
        /*
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    textStyle: {

                        fontSize: 20
                    },
                    text: '月统计',
                    left: 'center'
                },
                grid: {
                    left: '7%',
                    right: '7%',
                    top: '20%',
                    containLabel: true
                },
                tooltip: {
                    textStyle: {
                        fontSize: 20
                    }
                },
                legend: {
                    top: '10%',
                    data: ['满意率'],
                    textStyle: {
                        fontSize: 20
                    }
                },
                xAxis: {

                    data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"],
                    axisLabel: {
                        show: true,
                        textStyle: {
                            fontSize: 16
                        }
                    }
                },
                yAxis: {
                    name: "单位(%)",
                    nameTextStyle: {
                        fontSize: 16
                    },
                    axisLabel: {
                        show: true,
                        textStyle: {
                            fontSize: 16
                        }
                    }
                },
                series: [{
                    name: '满意率',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10.5, 20],
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            fontSize: 16,
                            formatter: '{c}%'
                        }
                    },
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            */
    </script>




</body>
</html>