<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="BD.Jcbg.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="BD.Qycxgl.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>
	<spring>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
		</parsers>
		<context>
			<!--Dao-->
			<resource uri="~/configs/daobase.xml" />
			<resource uri="~/configs/dao.xml" />
			<!--Service-->
			<resource uri="~/configs/service.xml" />
		</context>
	</spring>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="getAPIInfoUrl" value=""/>
    <add key="http_config_retry" value="5"/>
    <add key="log4jConfigUrl" value=""/>
    <add key="isHttpRequest" value="0"/>
    <!--
    
    <add key="host" value="117.149.225.223"/>
    <add key="port" value="8880"/>
    -->
    <add key="host" value="220.191.245.59"/>
    <add key="port" value="80"/>
    <add key="isZjcaCertAgent" value="false"/>
  </appSettings>
    
  <system.web>
		<httpRuntime maxRequestLength="2097151" executionTimeout="6000" appRequestQueueLimit="100" maxQueryStringLength="2097151"/>
    <globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" />
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="2880" stateNetworkTimeout="20"></sessionState>
		<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/user/login" timeout="2880" name=".xCookie" protection="All" cookieless="UseCookies" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="2097151"></requestLimits>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <remove fileExtension=".woff2"/>
            <remove fileExtension=".woff"/>
            <remove fileExtension=".properties"/>
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".properties" mimeType="text/html" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    <handlers>
      <add name="fob" verb="*" path="/configs" type="System.Web.HttpForbiddenHandler" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>  
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />  
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>  
      </dependentAssembly> 
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesSoap" />
        <binding name="ServicesSoap1" />
        <binding name="ServicesSoap2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServicesSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServicesSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://whums.jzyglxt.com/webservice/services.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicesSoap"
        contract="ServiceReference1.ServicesSoap" name="ServicesSoap" />
      <endpoint address="http://whums.jzyglxt.com/webservice/services.asmx"
        binding="customBinding" bindingConfiguration="ServicesSoap12"
        contract="ServiceReference1.ServicesSoap" name="ServicesSoap12" />
      <endpoint address="http://whums.jzyglxt.com/webservice/services.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicesSoap1"
        contract="RemoteUserService.ServicesSoap" name="ServicesSoap1" />
      <endpoint address="http://whums.jzyglxt.com/webservice/services.asmx"
        binding="customBinding" bindingConfiguration="ServicesSoap121"
        contract="RemoteUserService.ServicesSoap" name="ServicesSoap121" />
      <endpoint address="http://whums.jzyglxt.com/webservice/services.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicesSoap2"
        contract="ServiceReference1.ServicesSoap" name="ServicesSoap2" />
      <endpoint address="http://whums.jzyglxt.com/webservice/services.asmx"
        binding="customBinding" bindingConfiguration="ServicesSoap122"
        contract="ServiceReference1.ServicesSoap" name="ServicesSoap122" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <BD.Jcbg.Web.Properties.Settings>
      <setting name="BD_Jcbg_Web_RemoteUserService_Services" serializeAs="String">
        <value>http://whums.jzyglxt.com/webservice/services.asmx</value>
      </setting>
    </BD.Jcbg.Web.Properties.Settings>
  </applicationSettings>
</configuration>
