<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BD.Jcbg.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <BD.Jcbg.Service.Properties.Settings>
            <setting name="BD_Jcbg_Service_XsXhWebService_QrpwsImpService"
                serializeAs="String">
                <value>http://211.155.231.169:80/qrp/qrpws</value>
            </setting>
            <setting name="BD_Jcbg_Service_JyJzqyWebService_InterfaceService"
                serializeAs="String">
                <value>http://wenz.jyjzqy.com/Service/InterfaceService.asmx</value>
            </setting>
            <setting name="BD_Jcbg_Service_XsPinMingWebService_SupplyProjectInfo"
                serializeAs="String">
                <value>http://xs.pt.pinming.cn:8090/SupplyProjectInfo.asmx</value>
            </setting>
            <setting name="BD_Jcbg_Service_UserWebService_Services" serializeAs="String">
                <value>http://xsjcjg.jzyglxt.com:8082/webservice/services.asmx</value>
            </setting>
        </BD.Jcbg.Service.Properties.Settings>
    </applicationSettings>
</configuration>