@{
    Layout = "~/Views/jc/_treetablelayout.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">
        var g_dwbh = '@ViewBag.dwbh';
        var g_xmfz1 = [];
        var g_xmfz2 = [];
        var g_syxm = [];

        $(function () {
            try {
                initData();
                showData();
                showTree();


            } catch (err) {
                alert(err);
            }
        });
        function showTree() {
            $("#main-table").treetable({ expandable: true });
            $("#main-table tbody tr").mousedown(function () {
                $("tr.selected").removeClass("selected");
                $(this).addClass("selected");
            });
            $('#main-table').treetable('expandAll');
        }
        function initData() {
            try {
                $.ajax({
                    type: "POST",
                    url: "/jc/getjcdwxmfz?dwbh="+encodeURIComponent(g_dwbh),
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        try {
                            $.each(data, function (i, value) {
                                if (value.sjxsflbh == "")
                                    g_xmfz1.push(value);
                                else
                                    g_xmfz2.push(value);
                            });
                        } catch (e) {
                            alert(e);
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        layer.closeAll();
                    },
                    beforeSend: function (XMLHttpRequest) {
                        layer.msg('正在加载数据……', { icon: 16 });
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "/jc/getjcdwxm?dwbh=" + encodeURIComponent(g_dwbh)+"&yx=0&yzb=0",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        try {
                            g_syxm = data;
                        } catch (e) {
                            alert(e);
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        layer.closeAll();
                    },
                    beforeSend: function (XMLHttpRequest) {
                        layer.msg('正在加载数据……', { icon: 16 });
                    }
                });
            } catch (e) {
                alert(e);
            }
        }

        function showData() {
            try {
                var checkboxid = "";
                $.each(g_xmfz1, function (i, fz1) {
                    checkboxid = "select_all_1_" + fz1.xsflbh;
                    $("#main-t-body").append("<tr data-tt-id='" + fz1.xsflbh + "'><td><span class='folder'>" + fz1.xsflmc + "</span></td><td style='text-align:center'><input type='checkbox' id='" + checkboxid + "' onchange=\"checkAllChange(this.checked,1,'" + fz1.xsflbh + "')\"/><label for='" + checkboxid + "'>全选</label></td></tr>");
                    $.each(g_xmfz2, function (j, fz2) {
                        if (fz2.sjxsflbh != fz1.xsflbh)
                            return true;
                        checkboxid = "select_all_2_" + fz1.xsflbh+"_"+fz2.xsflbh;
                        $("#main-t-body").append("<tr data-tt-id='" + fz2.xsflbh + "' data-tt-parent-id='" + fz2.sjxsflbh + "'><td><span class='folder'>" + fz2.xsflmc + "</span></td><td style='text-align:center'><input type='checkbox' id='" + checkboxid + "'  onchange=\"checkAllChange(this.checked,2,'" + fz2.xsflbh + "')\"/><label for='" + checkboxid + "'>全选</label></td></tr>");
                        $.each(g_syxm, function (k, xm) {
                            if (xm.xsflbh != fz2.xsflbh)
                                return true;
                            checkboxid = "syxm_" + fz1.xsflbh + "_" + fz2.xsflbh + "_" + xm.recid;
                            var ischecked = "";
                            if (xm.sfyx == "True")
                                ischecked = " checked ";
                            $("#main-t-body").append("<tr data-tt-id='" + xm.syxmbh + "' data-tt-parent-id='" + xm.xsflbh + "'><td><span class='file'>" + xm.syxmmc + "</span></td><td style='text-align:center'><input type='checkbox' id='" + checkboxid + "' " + ischecked + "/></td></tr>");
                        });
                    });

                });

            } catch (e) {
                alert(e);
            }
        }
        function checkAllChange(ischecked, level, xsfl) {
            xsfl = "_" + xsfl + "_";
            $('input[type="checkbox"][id*="' + xsfl + '"]').each(function () {
                $(this).prop("checked", ischecked);
            });
        }
        // 外层调用接口
        function getTreeValue() {
            var ids = "";
            try {
                $('input[type="checkbox"][id^="syxm_"]').each(function () {
                    if (ids != "")
                        ids += ",";
                    var checkvalue = "0";
                    if ($(this).is(':checked'))
                        checkvalue = "1";
                    var id = $(this).attr("id");
                    id = id.substr(id.lastIndexOf("_") + 1);
                    ids += id + ":" + checkvalue;
                });
            } catch (e) {
                alert(e);
            }
            return ids;
        }
    </script>
}
<table id="main-table">
    <thead>
        <tr>
            <th style="text-align:center; width:300px;">试验项目</th>
            <th style="text-align:center;">是否启用</th>
        </tr>
    </thead>
    <tbody id="main-t-body"></tbody>
</table>