@{
    Layout = "~/Views/jc/_baidumaplayout.cshtml";
}
@section head
{
    <script type="text/javascript">
        var opts = {
            width: 100,     // 信息窗口宽度
            height: 50,     // 信息窗口高度
            title: ""  // 信息窗口标题
        }
        var g_map = undefined;
        var g_title = '@ViewBag.title';
        var g_pos = '@ViewBag.pos';
        var g_defaultpos = null;
        $(function () {
            initMap();
            
            if (g_pos == "") {
                $.ajax({
                    type: "POST",
                    url: "/jc/GetDefaultMap",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        try {
                            g_defaultpos = data;
                            setCenterPoint(g_defaultpos.title, g_defaultpos.pos);
                        } catch (e) {
                            alert(e);
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        layer.closeAll();
                    },
                    beforeSend: function (XMLHttpRequest) {
                        layer.msg('正在加载数据……', { icon: 16 });
                    }
                });
            }
            else
                setCenterPoint(g_title, g_pos);
        });
        function getPos() {
            return g_pos;
        }
        function initMap() {
            g_map = new BMap.Map("allmap");            // 创建Map实例
            g_map.addControl(new BMap.NavigationControl()); //缩放控件
            g_map.addControl(new BMap.MapTypeControl({ mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP] })); //地图类型控件
            g_map.addControl(new BMap.ScaleControl({ anchor: BMAP_ANCHOR_TOP_LEFT }));                    // 左上 //比例尺控件
            g_map.enableScrollWheelZoom();                            //启用滚轮放大缩小
            g_map.disableDoubleClickZoom();
            g_map.addEventListener("dblclick", function (e) {   //单击地图，确定工程地点
                g_pos = e.point.lng + ',' + e.point.lat;
                addPoint(g_title, e.point.lng, e.point.lat);
            });
        }
        function setCenterPoint(text, pos) {
            try {
                if (g_map == undefined)
                    return;
                if (pos == "")
                    return;
                var arrPos = pos.split(',');
                if (arrPos.length < 2)
                    return;
                if (arrPos[0] != "0" && arrPos[1] != "0") {
                    addPoint(text, arrPos[0], arrPos[1]);
                    g_map.centerAndZoom(new BMap.Point(arrPos[0], arrPos[1]), 12);
                }
                else {
                    g_map.centerAndZoom(text, 12);
                }                        // 初始化地图,设置中心点坐标和地图级别。
            } catch (e) {
                alert(e);
            }
        }
        // 百度地图API功能



        function addPoint(text, lng, lat) {
            g_map.clearOverlays();

            var point = new BMap.Point(lng, lat);
            var marker = new BMap.Marker(point);

            g_map.addOverlay(marker);

            var gc = new BMap.Geocoder();
            var pt = new BMap.Point(lng, lat);
            var dress = gc.getLocation(pt, function (rs) {
                var addComp = rs.addressComponents;
                var label = new BMap.Label(text, { "offset": new BMap.Size(9, -15) });
                marker.setLabel(label);
                marker.addEventListener("click", function () { this.openInfoWindow(new BMap.InfoWindow(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber, opts)); });
                //var infoWindow = new BMap.InfoWindow(addComp.province+addComp.city+addComp.district+addComp.street+addComp.streetNumber, opts);  // 创建信息窗口对象
                //map.openInfoWindow(infoWindow,point); //开启信息窗口
            });
        }
        function addPointText(text, pos) {
            try {

                if (pos != "") {
                    var arrPos = pos.split(',');
                    if (arrPos.length < 2)
                        return;

                    addPoint(text, arrPos[0], arrPos[1]);
                }
            } catch (e) {
                alert(e);
            }
        }
        /*
        function search() {
            // 百度地图API功能
            var local = new BMap.LocalSearch(map, {
                renderOptions: { map: map }
            });
            var place = document.getElementById("searchtext").value;
            local.search(place);
        }*/
    </script>
}
<div id="allmap"></div>