@{
    Layout = "~/Views/User/_albumlayout.cshtml";
}
@section head{
<script language="javascript" type="text/javascript">
    var g_imagestr = "@ViewBag.images";
    $(function () {
        
        if (g_imagestr == "" ) {
            layer.alert("没有可显示的文件");
        } else {
            var imgArr = g_imagestr.split("||");
            var firstId = "";
            $.each(imgArr, function (i, item) {
                if (firstId == "")
                    firstId = "img_"+i;
                var imgStr = "<li><img data-original=\"" + item + "\" src=\"" + item + "\" alt=\"\" class='img-thumbnail' id='" + "img_" + i + "'></li>";
                $("#images").append(imgStr);

            });

            $('#images').viewer();
            if (firstId != "")
                $("#" + firstId).click();
        }
    });
</script>
}
<div class="col-sm-8 col-md-6">
    <div class="docs-galley">
        <ul id="images" class="docs-pictures clearfix"></ul>
    </div>
</div>