@using BD.Jcbg.Common;
@{
    Layout = "~/Views/jc/_pageoffice.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">

        function Save() {
        }
        function AfterDocumentOpened() {
            document.getElementById("PageOfficeCtrl1").Document.Application.ActiveWindow.DisplayHeadings = false; //隐藏行号列标
        }
        $(function () {
        });
        function printView() {
            try {
                document.getElementById("PageOfficeCtrl1").PrintPreview();
            } catch (e) {
                alert(e);
            }
        }
    </script>
}
<div style=" width:auto; height:700px;" id="divContent">
    @Html.Raw(@ViewBag.EditorHtml)
</div>
