body {
    height:100%;
    width:100%;
   
  
}
html {
height:100%;
width:100%;
}
ul {
margin:0;
padding:0;
}
.img_width_25 {
height:25px;
width:25px;
}

.main_caidan_btn {
    position: absolute;
    left: 0px;
    color: #fff;
        font-size: 20px;
    top: 50%;
    margin-top: -30px;
    background-color: #0099cc;
    padding: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.main_caidan_kuang {
 /*  width: 220px;*/ 
    height: 100%;
    background-color: #fafafa;
    /* position: absolute; */
    /* left: 0px; */
     z-index: 13; 
    overflow: auto;
    padding-bottom: 10px;
        border-right: 1px solid #e1e1e1;
}
.yonghu {
            height: 60px;
    margin-bottom: 10px;
        margin-top: 10px;
            display: none;
             }
            .yonghu img {
                height: 60px;
    float: left;
    margin-left: 10px;
            }
        .yonghu_name {
        color: #fff;
    float: left;
    margin-left: 10px;
    padding-top: 35px;
    font-size: 16px;
        }
   
        .kuang_zhu {
          height: 50px;
        clear: both;
   
        width: 100%;
        border-top-left-radius: 5px;
      margin-top: 5px;
    margin-bottom: 5px;
        }
      .i_div {
      border-radius: 4px;
    text-align: center;
    width: 40px;
    float: left;
    height: 40px;
    margin-top: 5px;
    font-size: 35px;
    margin-left: 5px;
    line-height: 50px;
    position: relative;
            }
         .zhu_title_word_div {
           line-height: 40px;
      color: rgb(78, 90, 123);
       font-size: 16px;
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
    float: left;
    margin-left: 20px;
    font-weight: 600;
      max-width: 120px;
    text-align: left;
        }
   .yinwen_title {
   display:none;
            font-size: 12px;
    line-height: 14px;
    text-align: center;
        }
.caidan_ul {

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.caidan_ul li {
list-style:none;
}
    .size3{
     border-radius: 5px;
   /* background-color: rgba(0,0,0,0.3);  */
    color: #fff;

        }
.size3 .i_div {
            color:#fff;
         
    color: #fff;
  
            }
       .active .size3 {
           background-image: url(../images/top_banner.jpg);
    background-size: 100% 100%;
        }
.erji_caidan  {
display:none;
position:absolute;
width:520px;
height:100%;
   background-color: rgb(255, 255, 255);
   left:-750px;
       overflow: auto;
   z-index:12;
   padding-left:10px;
   padding-right:10px;
   box-sizing:border-box;
   /*    padding-bottom: 70px;*/  
       border-right: 1px solid #e1e1e1;
}


.erji_caidan_ul {
        margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    display:none;
        padding-bottom: 70px;
}
.erji_caidan_li{
    list-style:none;
        width: 115px;
    margin-top: 10px;
        display: inline-block;
            padding-top: 10px;
    padding-bottom: 10px;
}
.erji_i_div {
    /*  height: 60px;
  width: 60px;*/
    font-size: 40px;
    color: #fff;
    background-color: brown;
    border-radius: 8px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
}
.erji_titile_word_div {
        color: #000;
    text-align: center;
    margin-top: 10px;
        font-size: 15px;
}
.erji_caidan_li.active {

        background-color: #0078d7;

}



.third_caidan  {
display:none;
position:absolute;
width:250px;
height:100%;
   background-color: rgba(51,51,51,0.9);
   left:-1000px;

   z-index:11;
   padding-left:10px;
   padding-right:10px;
}

.third_caidan_ul {
    margin-top: 40px;
    padding-left: 0px;
    display:none;

}
.third_caidan_li {
list-style:none;
    border-bottom: 1px solid #4b4b4b;
}
.third_kuang {
        height: 50px;
    color: #fff;
   
    padding-left: 10px;
}
.third_i_div {
        float: left;
    font-size: 28px;
    margin-top: 3px;
}
.third_title_word_div {
    float: left;
    margin-left: 20px;
    font-size: 16px;
    line-height: 50px;
}


.i_div .fa {
      font-size: 30px;
    line-height: 40px;
}

.erji_i_div .fa {
line-height:60px;
}



.goodless {
position:absolute;
height:100%;
width:100%;
background-color:rgba(255,255,255,0.3);
top:0;
bottom:0;
z-index:10;
display:none;
}
.half_one {
        color: #fff;
    font-size: 18px;
        background-color:rgba(0, 172, 238, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
        border-radius: 5px;
        margin-top:20px;

}
.erji_caidan_ul .erji_caidan_ul {
margin-top:0px;
}
.half_one .shu {
        background-color: #ff0000;
    width: 5px;
    height: 25px;
    float: left;
    /* padding-right: 10px; */
    margin-right: 10px;
    
}
/**************************************************************************************************************************/
.test2 .erji_kuang {
        background-color: #53c7a0;
  margin:2px;
      height: 111px;
}
.erji_caidan_li.test2 {

        list-style: none;
    width: 115px;
    height: 115px;
    /* margin-top: 10px; */
    display: inline-block;
    /* padding-top: 10px; */
    margin-top:0;
    padding: 0;
    bottom: 0;
    float: left;
}


.test1 .erji_kuang {
        background-color: #FF6161;
  margin:2px;
      height: 111px;
}

.half_one {
margin-bottom: 20px;
margin-top:0px;
}

 .erji_caidan_ul li {
clear:both;
padding-top:20px;
}
.erji_caidan_ul .erji_caidan_li {
    clear:none;

}


.test0 .erji_kuang {
       

      height: 156px;
    padding: 5px;
     border: 1px dashed rgba(0,0,0,0.5);
    border-top: 0px;
        border-left: 0px;
}
.test0 .erji_caidan_li {

        list-style: none;
    width: 120px;
    height: 150px;
    /* margin-top: 10px; */
    display: inline-block;
    /* padding-top: 10px; */
    margin-top:0;
    padding: 0;
    bottom: 0;
    float: left;
   
}
.test0 .erji_i_div {
    height: 106px;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 50%;
}
.test0 .erji_i_div img
{
    max-width: 75px;
    max-height: 75px;
    /* top: 50%; */
    margin-top: 25px;
    left: 10px;
	margin-left: 5px;
}

/************************************************************************************************************************/
.erji_i_div {

    position:relative;
}
.shangbiao_num {
         position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    font-size: 18px;
    background-color: #ff0000;
    /* height: 30px; */
    line-height: 30px;
    /* width: 30px; */
    border-radius: 50%;
    font-weight: bolder;
    /* display: none; */
    padding-left: 10px;
    padding-right: 10px;


}
.hover_img {

position: absolute;
}

.hover_img_one
{
    left: 6px;
    height: 38px;
    top: 6px;
    width: 38px;
    position: absolute;
}
.color_one_1 {
     background-color: #00acee;

}
.color_one_2 {
    background-color: #FF6161;

}
.color_one_3 {
     background-color: #53c7a0;

}
.color_one_4 {
    background-color: #ffb80c;

}
.color_one_5 {
     background-color: #3cc6d0;

}


.color_one_1 {
     background-color: #00acee;
     background-image:url("../images/color_1.jpg");
     background-size:100% 100%;

}
.color_one_2 {
    background-color: #169643;

}
.color_one_3 {
     background-color: #f57745;

}
.color_one_4 {
    background-color: #1ea7ed;

}
.color_one_5 {
     background-color: #1bbc9b;

}

.color_one_6 {
    background-color: #4286f5;

}
.color_one_7 {
     background-color: #5cbd5b;

}
.color_one_8 {
    background-color: #4286f5;

}
.color_one_9 {
     background-color: #6969f0;

}

.color_one_10 {
     background-color: #3e81da;

}

.color_one_11 {
     background-color: #349ce3;

}
.color_one_12 {
     background-color: #fe6665;

}

.color_er_1 {
    background-color:#5a6a7a;
}
.color_er_2 {
    background-color:#f05050;
}
.color_er_3 {
    background-color:#545ca6;
}
.color_er_4 {
    background-color:#1ab667;
}
.color_er_5 {
    background-color:#4cb6cb;
}
.color_er_6 {
    background-color:#fad733;
}
.color_er_7 {
    background-color:#2255a4;
}
.color_er_8 {
    background-color:#feba50;
}

.shangbiao_num_1 {
        display: block;
    background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: 0px 0px;
}

.shangbiao_num_2 {
      display: block;
    background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
  
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -66px 0px;
}
.shangbiao_num_3 {
      display: block;
    background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
  
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -132px 0px;
}


.shangbiao_num_4 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
   /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -198px 0px;
	
}


.shangbiao_num_5 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
      /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -264px 0px;
	
}


.shangbiao_num_6 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
     /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -330px 0px;
	
}


.shangbiao_num_7 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
     /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -396px 0px;
	
}



.shangbiao_num_8 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -462px 0px;
	
}



.shangbiao_num_9 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
     /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -528px 0px;
	
}
.shangbiao_num_0 {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
   /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -594px 0px;
	
}
.shangbiao_num_more {
      display: block;
	background-image: url(../images/count_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    /* right: -10px; */
    /* top: -8px; */
    height: 38px;
    width: 38px;
    background-attachment: scroll;
    background-position: -660px 0px;
	
}


.mian_all {
    height: 100%;
    width: 100%;
        background-color: transparent;
    margin-top: 50px;
   
}
.main {
padding-right:50px;
}


.top_main_right {
float:right;
}

.xiaoxi_biaoji {
        display: inline;
    background-color: #ffb80c;
      /* padding: 2px; */
    border-radius: 5px;
   
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
        line-height: 20px;
            vertical-align: middle;
}

.all_gongneng_li{

    padding: 0 16px;
    /* margin-right: 10px; */
    border-right:1px solid #0876f1;
    height: 50px;
    /* line-height: 50px; */
        float: left;
       line-height: 50px;
       cursor:pointer;

}
.all_gongneng_li_font {
color:#fff;
}

.all_gongneng_ul .tooltip-arrow {
        border-bottom-color: #fff;
}
.all_gongneng_ul .tooltip-inner {
    max-width:500px;
        background-color: #fff;
        color:#0099cc;
}

.top_main_left {
width:300px;
float:left;
    height: 50px;
}
.top_main_company_name{

  max-width:320px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
  
   padding-left:10px;
   padding-right:10px;
    float:left;
    color: #fff;}

.top_main_shouqi {
      


        float: left;
    line-height: 50px;
    width: 80px;
      background-color: rgba(255,255,255,0.1);
    /* margin-top: 10px; */
    /* border-radius: 5px; */
    border-right: 1px solid #2a2f32;
    color: #fff;
    /* margin-left: 10px; */
    padding-right: 5px;
    padding-left: 5px;
    cursor:pointer;
}
    .top_main_shouqi:hover {
        color: #0099cc;
    }
.main_caidan_kuang {
float:left;
}



.S_left_container {

height:100%;
width:75px;
position:absolute;
left:0;
    top: 0;
    padding-top: 50px;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 13;

}


.S_left_container_min {
width:78px;
background-color:rgba(51,51,51,1);
height:100%;

position:absolute;
left:-80px;
    top: 0;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 13;
        overflow: auto;

}


.S_left_container_min_li .i_div {
margin-left:12px;
}

.S_left_container_min_ul {
margin-top:10px;
}

.S_left_container_min_li {
        border-radius: 5px;
    /* background-color: rgba(0,0,0,0.3); */
    color: #fff;
    height: 60px;
    clear: both;
    width: 100%;
    border-top-left-radius: 5px;
    margin-top: 10px;

}


.test_fenggong td{
        color: #194d87;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
   
}
    .test_fenggong .erji_titile_word_div {
   
        display: none;
    }
.test_fenggong .erji_i_div {
height:100%;
    padding-left: 10px;
    padding-right: 10px;
}

.zhu_titile_word_div_font {
       white-space: nowrap;
    /* max-width: 150px; */
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    /* color: #000; */
}


.active .kuang_zhu .zhu_titile_word_div_font {
    color:#fff;
}
.active .kuang_zhu .i_div {
background-color:transparent;
background-image:none;
}


.erji_i_div i {
color:#194d87;
}

.kuang_zhu:hover {
background-color:rgba(0,0,0,0.1);
}











.xianshi {
display:block;
}
.no_xianshi {
display:none;
}