@{
    Layout = "~/Views/workflow/_workflow.cshtml";
}


<script language="javascript" type="text/javascript">
	var workflow_reports_g_pageSize = 20;
	var workflow_reports_g_editIndex = undefined;

	var workflow_reports_g_edit_companys = null;
	var workflow_reports_g_search_companys = null;
	var workflow_reports_g_default_company = null;

	$(function () {
		try {
			workflow_reports_initDs();
			$('#workflow_reports_maintable').datagrid({
				title: '流程报表管理',
				loadMsg: "正在加载……",
				border: false,
				url: '/workflow/getreports?rows=' + workflow_reports_g_pageSize + '&_=' + Math.random(),
				rownumbers: true,
				nowrap: true,
				idField: 'ReportId',
				striped: false,
				fit: true,
				singleSelect: true,
				pagination: true,
				pageNumber: 1,
				pageSize: workflow_reports_g_pageSize,
				pageList: [workflow_reports_g_pageSize, 40, 50, 100, 1000, 10000],
				columns: [[
				{ field: 'CompanyId', title: '所属单位', width: 200, sortable: true, align: "center",
					formatter: function (value, row, index) {
						return row.CompanyName;
					},
					editor: {
						type: 'combobox',
						options: {
							valueField: "CompanyId",
							textField: "CompanyName",
							mode: "local",
							editable: false,
							panelHeight: 'auto',
							required: true,
							data: workflow_reports_g_edit_companys,
							onChange: function (newvalue, oldvalue) {
								try {
									if (workflow_reports_inEdit()) {
										$('#workflow_reports_maintable').datagrid('selectRow', workflow_reports_g_editIndex);
										var data = $('#workflow_reports_maintable').datagrid('getSelected');
										for (var i = 0; i < workflow_reports_g_edit_companys.length; i++) {
											if (workflow_reports_g_edit_companys[i].CompanyId == newvalue) {
												data.CompanyName = workflow_reports_g_edit_companys[i].CompanyName;
												break;
											}
										}
									}
								} catch (e) {
									$.messager.alert('单位选择事件异常', e.message, 'warning');
								}

							}
						}
					}
				},
				{ field: 'ReportName', title: '报表名称', width: 200, sortable: true, align: "center", editor: { type: 'validatebox', options: { required: true, validType: 'maxLength[200]'}} },
				{ field: 'ReportUrl', title: '报表相对路径', width: 300, sortable: true, align: "center", editor: { type: 'validatebox', options: { required: true, validType: 'maxLength[1000]'}} },
				{ field: 'InUse', title: '状态', width: 60, sortable: true, align: "center",
					formatter: function (value, row, index) {
						if (row.InUse)
							return "正常";
						return "禁用";
					},
					editor: {
						type: 'combobox',
						options: {
							valueField: "id",
							textField: "text",
							mode: "local",
							editable: false,
							panelHeight: 'auto',
							data: [
								{ "id": "0", "text": "禁用" },
								{ "id": "1", "text": "启用" }
							]
						}
					}
				},
				{ field: 'UserRealName', title: '创建人', width: 100, sortable: true, align: "center" },
				{ field: 'CreateTime', title: '创建时间', width: 120, sortable: true, align: "center",
					formatter: function (value, row, index) {
						var timeVal = row.CreateTime;
						if (timeVal == null || timeVal == "")
							return "";
						var dt = eval("new " + timeVal.substr(1, timeVal.length - 2));
						return dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
					}
				}
				]],
				toolbar: "#workflow_reports_tb",
				onClickRow: function (rowIndex, rowData) {
					if (!workflow_reports_inEdit())
						workflow_reports_showToolbar(rowData);
				},
				onDblClickRow: function (rowIndex, rowData) {
					if (!workflow_reports_inEdit())
						workflow_reports_editRecord();
				}
			});

			workflow_reports_initSearch();
		} catch (e) {
			$.messager.alert('初始化页面异常', e.message, 'warning');
		}

	});
	function workflow_reports_initDs() {
		try {
			$.ajax({
				type: "POST",
				url: "/workflow/getcompanys",
				dataType: "json",
				async: false,
				success: function (data) {
					workflow_reports_g_edit_companys = new Array();

					workflow_reports_g_search_companys = [{ "CompanyId": "", "CompanyName": "不限"}];
					if (data == null || data.length == 0)
						workflow_reports_g_edit_companys = [{ "CompanyId": "", "CompanyName": "请选择单位"}];
					else {
						for (var i = 0; i < data.length; i++) {
							workflow_reports_g_edit_companys[workflow_reports_g_edit_companys.length] = data[i];
							workflow_reports_g_search_companys[workflow_reports_g_search_companys.length] = data[i];
						}
					}
					workflow_reports_g_default_company = workflow_reports_g_edit_companys[0];
				},
				complete: function (XMLHttpRequest, textStatus) {
					$("body").unmask();
				},
				beforeSend: function (XMLHttpRequest) {
					$("body").mask("正在加载单位数据...");
				}
			});
		} catch (e) {
			$.messager.alert('加载初始化数据集异常', e.message, 'warning');
		}
	}
	function workflow_reports_initSearch() {
		try {
			$("#workflow_reports_search_companys").combobox({
				valueField: "CompanyId",
				textField: "CompanyName",
				mode: "local",
				editable: false,
				panelHeight: 'auto',
				data: workflow_reports_g_search_companys
			});
		} catch (e) {
			$.messager.alert('初始化查询控件异常', e.message, 'warning');
		}
	}
	function workflow_reports_search() {
		try {
			if (workflow_reports_inEdit()) {
				$.messager.alert('提示', '请先完成当前的编辑的记录', 'info');
				return;
			}
			workflow_reports_gridReload();
		} catch (e) {
			$.messager.alert('查找记录异常', e.message, 'warning');
		}
	}
	function workflow_reports_showToolbar(rowData) {
		try {
			$("#workflow_reports_btnedit").linkbutton('enable');
			$("#workflow_reports_btndelete").linkbutton('enable');
		} catch (e) {
			$.messager.alert('显示工具条异常', e.message, 'warning');
		}
	}
	function workflow_reports_showNoRecToolbar() {
		try {
			$("#workflow_reports_maintable").datagrid('unselectAll');
			$("#workflow_reports_btnedit").linkbutton('disable');
			$("#workflow_reports_btndelete").linkbutton('disable');
			$("#workflow_reports_btnsave").linkbutton('disable');
			$("#workflow_reports_btncancel").linkbutton('disable');
		} catch (e) {
			$.messager.alert('显示无记录工具条异常', e.message, 'warning');
		}
	}
	function workflow_reports_showEditToolbar(isedit) {
		try {
			var selectRow = $("#workflow_reports_maintable").datagrid("getSelected") != null;
			$("#workflow_reports_btnadd").linkbutton(isedit ? 'disable' : 'enable');
			$("#workflow_reports_btnedit").linkbutton(isedit ? 'disable' : (selectRow ? 'enable' : 'disable'));
			$("#workflow_reports_btndelete").linkbutton(isedit ? 'disable' : (selectRow ? 'enable' : 'disable'));
			$("#workflow_reports_btnsave").linkbutton(isedit ? 'enable' : 'disable');
			$("#workflow_reports_btncancel").linkbutton(isedit ? 'enable' : 'disable');
		} catch (e) {
			$.messager.alert('显示编辑工具条异常', e.message, 'warning');
		}
	}
	function workflow_reports_inEdit() {
		var ret = false;
		try {
			ret = workflow_reports_g_editIndex != undefined;
		} catch (e) {
			$.messager.alert('判读是否处于编辑状态异常', e.message, 'warning');
		}
		return ret;
	}
	function workflow_reports_addRecord() {
		try {
			if (workflow_reports_inEdit()) {
				$.messager.alert('提示', '请先完成当前的编辑的记录', 'info');
				return;
			}
			workflow_reports_showEditToolbar(true);
			var data = {
				ReportId: 0,
				ReportName: "",
				ReportUrl: "",
				InUse: true,
				CompanyId: workflow_reports_g_default_company.CompanyId,
				UserId: "",
				CreateTime: "",
				CompanyName: workflow_reports_g_default_company.CompanyName,
				UserRealName: ""
			};
			$('#workflow_reports_maintable').datagrid('insertRow', {
				index: 0,
				row: data
			});
			workflow_reports_g_editIndex = 0;
			$('#workflow_reports_maintable').datagrid('selectRow', workflow_reports_g_editIndex).datagrid('beginEdit', workflow_reports_g_editIndex);

		} catch (e) {
			$.messager.alert('添加记录异常', e.message, 'warning');
		}
	}
	function workflow_reports_editRecord() {
		try {
			if (workflow_reports_inEdit()) {
				$.messager.alert('提示', '请先完成当前的编辑的记录', 'info');
				return;
			}
			workflow_reports_showEditToolbar(true);
			var data = $('#workflow_reports_maintable').datagrid('getSelected');
			workflow_reports_g_editIndex = $('#workflow_reports_maintable').datagrid('getRowIndex', data);
			$('#workflow_reports_maintable').datagrid('selectRow', workflow_reports_g_editIndex).datagrid('beginEdit', workflow_reports_g_editIndex);

		} catch (e) {
			$.messager.alert('修改记录异常', e.message, 'warning');
		}
	}
	function workflow_reports_deleteRecord() {
		try {
			var rec = $("#workflow_reports_maintable").datagrid('getSelected');
			if (rec == null) {
				$.messager.alert('提示', '请选择要操作的记录', 'info');
				return;
			}
			$.messager.confirm('提示', '确定要删除选中的记录吗?', function (r) {
				if (r) {
					$.ajax({
						type: "POST",
						url: "/workflow/deletereport?id=" + rec.ReportId,
						dataType: "json",
						success: function (data) {
							try {
								if (data.code == 0) {
									var index = $("#workflow_reports_maintable").datagrid('getRowIndex', rec);
									$("#workflow_reports_maintable").datagrid('deleteRow', index);
									$('#workflow_reports_maintable').datagrid('acceptChanges');
									workflow_reports_showNoRecToolbar();
									$.messager.alert('提示', '删除成功', 'info');
								}
								else
									$.messager.alert('提示', data.msg, 'info');
							} catch (e) {
								$.messager.alert('提示', e.message, 'warning');
							}
						},
						complete: function (XMLHttpRequest, textStatus) {
							$("body").unmask();
						},
						beforeSend: function (XMLHttpRequest) {
							$("body").mask("正在删除...");
						}
					});
				}
			});
		} catch (e) {
			$.messager.alert('删除记录异常', e.message, 'warning');
		}
	}
	function workflow_reports_gridReload() {
		try {
			$('#workflow_reports_maintable').datagrid('load', {
				companyid: $("#workflow_reports_search_companys").combobox("getValue"),
				reportname: $("#workflow_reports_search_reportname").val(),
				reporturl: $("#workflow_reports_search_reporturl").val()
			});
			workflow_reports_showNoRecToolbar();
		} catch (e) {
			$.messager.alert('加载表格异常', e.message, 'warning');
		}
	}
	function workflow_reports_cancelRecord() {
		if (!workflow_reports_inEdit())
			return;
		try {
			$('#workflow_reports_maintable').datagrid('rejectChanges');
			$('#maintable').datagrid('deleteRow', workflow_reports_g_editIndex);

			workflow_reports_g_editIndex = undefined;
			workflow_reports_showEditToolbar(false);
		}
		catch (e) {
			$.messager.alert('取消编辑异常', e.message, 'warning');
		}
	}
	function workflow_reports_saveRecord() {
		if (!workflow_reports_inEdit())
			return;
		try {

			$('#workflow_reports_maintable').datagrid('selectRow', workflow_reports_g_editIndex);

			if (!workflow_reports_validateRecord()) {
				return;
			}
			$('#workflow_reports_maintable').datagrid('acceptChanges');
			var row = $('#workflow_reports_maintable').datagrid('getRows')[workflow_reports_g_editIndex];
			$.ajax({
				type: "POST",
				url: "/workflow/savereport",
				data: workflow_reports_getRecordParams(row),
				dataType: "json",
				success: function (data) {
					try {
						if (data.code != "0") {
							$.messager.alert('提示', '保存失败，请稍后再试', 'info');
						}
						else {
							$('#workflow_reports_maintable').datagrid('getRows')[workflow_reports_g_editIndex] = data.record[0];
							$('#workflow_reports_maintable').datagrid('refreshRow', workflow_reports_g_editIndex);
							$('#workflow_reports_maintable').datagrid('selectRow', workflow_reports_g_editIndex);
							workflow_reports_g_editIndex = undefined;
							workflow_reports_showEditToolbar(false);
						}
					} catch (e) {
						$.messager.alert('保存表单数据返回结果处理异常', e.message, 'warning');
					}
				},
				complete: function (XMLHttpRequest, textStatus) {
					$("body").unmask();
				},
				beforeSend: function (XMLHttpRequest) {
					$("body").mask("正在保存...");
				}
			});
		}
		catch (e) {
			$.messager.alert('保存表单数据异常', e.message, 'warning');
		}
	}
	function workflow_reports_validateRecord() {
		if (!workflow_reports_inEdit())
			return false;
		var ret = true;
		try {
			if (!$('#workflow_reports_maintable').datagrid("validateRow", workflow_reports_g_editIndex)) {
				$.messager.alert('提示', '请把鼠标移到红三角感叹号上查看错误提示', 'info');
				return false;
			}
		} catch (e) {
			ret = false;
			$.messager.alert('校验表单异常', e.message, 'warning');
		}
		return ret;
	}
	function workflow_reports_getRecordParams(record) {
		var ret = "";
		try {
			ret =
			"reportid=" + record.ReportId + "&reportname=" + encodeURIComponent(record.ReportName) +
			"&companyid=" + encodeURIComponent(record.CompanyId) + "&companyname=" + encodeURIComponent(record.CompanyName) +
			"&inuse=" + record.InUse + "&reporturl=" + encodeURIComponent(record.ReportUrl);
		} catch (e) {
			$.messager.alert('表单数据序列化异常', e.message, 'warning');
		}
		return ret;

	}
</script>
<table id="workflow_reports_maintable"></table>  
<div id="workflow_reports_tb" style="padding:5px;height:auto;">  
	<div>  
		<a onclick="workflow_reports_addRecord();" id="workflow_reports_btnadd" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
		<a onclick="workflow_reports_editRecord();" id="workflow_reports_btnedit" class="easyui-linkbutton" iconCls="icon-edit" plain="true" disabled="true">修改</a>
		<a onclick="workflow_reports_saveRecord();" id="workflow_reports_btnsave" class="easyui-linkbutton" iconCls="icon-save" plain="true" disabled="true">保存</a>
		<a onclick="workflow_reports_cancelRecord();" id="workflow_reports_btncancel" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" disabled="true">取消</a>
		<a onclick="workflow_reports_deleteRecord();" id="workflow_reports_btndelete" class="easyui-linkbutton" iconCls="icon-remove" plain="true" disabled="true">删除</a>
	</div>  
	<div>
		所属单位：<input id="workflow_reports_search_companys" style="width:200px" />
		报表名称：<input id="workflow_reports_search_reportname" style="width:200px" />
		报表相对路径：<input id="workflow_reports_search_reporturl" style="width:200px" />
		<a href="javascript:workflow_reports_search();" class="easyui-linkbutton" iconCls="icon-search" >查找</a>  
	</div>
</div>
