@using BD.WorkFlow.Common;
@{
    Layout = "~/Views/workflow/_workflowweboffice.cshtml";
}
@section head
{
    <script language="javascript" type="text/javascript">

        function Save(serial) {
            $("#serial").val(serial);
            document.getElementById("PageOfficeCtrl1").WebSave();
            return document.getElementById("PageOfficeCtrl1").CustomSaveResult.length == 0;
        }
        function AfterDocumentOpened() {
            if (window.parent.officeLoadCallback != undefined) {
                window.parent.officeLoadCallback();
            }
        }
        $(function () {
        });
    </script>
}
<form id="formOffice" method="post">
    <input type="hidden" id="serial" name="serial" />
    <div style=" width:auto; height:700px;" id="divContent">
        @Html.Raw(@ViewBag.EditorHtml)
    </div>
</form>