@{
    Layout = "~/Views/workflow/_workflow.cshtml";
}


<script language="javascript" type="text/javascript">
	var workflow_workrelate_g_pageSize = 20;
	var workflow_workrelate_g_username = '@ViewBag.Username';
	var workflow_workrelate_g_rollid = 0;
	$(function () {
	    try {
	        $('#workflow_workrelate_maintable').datagrid({
	            title: '我参与的工作',
	            loadMsg: "正在加载……",
	            border: false,
	            url: '/workflow/getworkrelatelist?rows=' + workflow_workrelate_g_pageSize + '&_=' + Math.random(),
	            rownumbers: true,
	            nowrap: true,
	            idField: 'formid',
	            striped: false,
	            fit: true,
	            singleSelect: true,
	            pagination: true,
	            pageNumber: 1,
	            pageSize: workflow_workrelate_g_pageSize,
	            pageList: [workflow_workrelate_g_pageSize, 40, 50, 100, 1000, 10000],
	            columns: [[
				{ field: 'serialno', title: '流水号', width: 100, sortable: false, align: "center" },
				{ field: 'formname', title: '工作名称', width: 600, sortable: true, align: "center",
				    formatter: function (value, row, index) {
				        var ret = value;
				        //if (row.ExtraInfo3 != null && row.ExtraInfo3 != "")
				        //    ret += "(" + row.ExtraInfo3 + ")";
				        if (row.extrainfo2 != null && row.extrainfo2 != "")
				            ret += "(" + row.extrainfo2 + ")";
				        return ret;
				    }
				},
				{ field: 'dostate', title: '状态', width: 60, sortable: true, align: "center",
				    formatter: function (value, row, index) {
				        if (value == -1)
				            return "临时保存";
				        else if (value == 0)
				            return "进行中";
				        else if (value == 1)
				            return "已完成";
				        else if (value == 3)
				            return "已撤销";
				        return "未知";
				    }
				},
				{ field: 'userrealname', title: '发起人', width: 100, sortable: false, align: "center" },
				{ field: 'donetime', title: '时间', width: 120, sortable: true, align: "center",
				formatter: function (value, row, index) {
				    return value;
				        var timeVal = value;
				        if (timeVal == null || timeVal == "")
				            return "";
				        var dt = eval("new " + timeVal.substr(1, timeVal.length - 2));
				        return dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
				    }
				}
				]],
	            toolbar: "#workflow_workrelate_tb",
	            onClickRow: function (rowIndex, rowData) {
	                workflow_workrelate_showToolbar(rowData);
	            },
	            onDblClickRow: function (rowIndex, rowData) {
	                workflow_workrelate_viewRecord();
	            }
	        });
	        workflow_workrelate_initDs();
	        $("#workflow_workrelate_viewtab").tabs({
	            fit: true,
	            border: false,
	            plain: true,
	            onSelect: function (title, index) {
	                try {
	                    if (index == 0) {
	                        $("#workflow_workrelate_viewtable1").datagrid('unselectAll');
	                        workflow_workrelate_g_rollid = 0;
	                    }
	                    else {
	                        workflow_workrelate_showundo(0);
	                    }
	                }
	                catch (e) {
	                }
	            }
	        });
	    } catch (e) {
	        $.messager.alert('初始化页面异常', e.message, 'warning');
	    }

	});
	function workflow_workrelate_initDs() {
		try {
			$("#workflow_workrelate_search_status").combobox({
				valueField: "state",
				textField: "text",
				mode: "local",
				editable: false,
				panelHeight: 'auto',
				data: [{
					state: '',
					text: '不限'
				}, {
					state: '-1',
					text: '临时保存'
				},
				{
					state: '0',
					text: '进行中'
				},
				{
					state: '1',
					text: '已完成'
				},
				{
					state: '3',
					text: '已撤销'
				}]
			});
			$("#workflow_workrelate_search_status").combobox("select", "");
		} catch (e) {
			$.messager.alert('初始化查询条件异常', e.message, 'warning');
		}
	}
	function workflow_workrelate_search() {
		try {
			workflow_workrelate_gridReload();
		} catch (e) {
			$.messager.alert('查找记录异常', e.message, 'warning');
		}
	}
	function workflow_workrelate_showToolbar(rowData) {
		try {
			$("#workflow_workrelate_btnview").linkbutton('enable');
		} catch (e) {
			$.messager.alert('显示工具条异常', e.message, 'warning');
		}
	}
	function workflow_workrelate_showNoRecToolbar() {
		try {
			$("#workflow_workrelate_maintable").datagrid('unselectAll');
			$("#workflow_workrelate_btnview").linkbutton('disable');
		} catch (e) {
			$.messager.alert('显示无记录工具条异常', e.message, 'warning');
		}
	}
	function workflow_workrelate_gridReload() {
		try {
			$('#workflow_workrelate_maintable').datagrid('load', {
				key: $("#workflow_workrelate_search_key").val(),
				state: $("#workflow_workrelate_search_status").combobox("getValue")
			});
			workflow_workrelate_showNoRecToolbar();
		} catch (e) {
			$.messager.alert('加载表格异常', e.message, 'warning');
		}
	}
	function workflow_workrelate_viewRecord() {
		try {
			var rec = $("#workflow_workrelate_maintable").datagrid('getSelected');
			$("#workflow_workrelate_btnroll").linkbutton('disable');
			if (rec == null) {
				$.messager.alert('提示', '请选择要操作的记录', 'info');
				return;
			}
			$('#workflow_workrelate_viewtable2').datagrid({
				title: '',
				loadMsg: "正在加载……",
				border: false,
				url: '/workflow/getdonetasks?serial=' + rec.serialno + '&_=' + Math.random(),
				rownumbers: true,
				nowrap: true,
				idField: 'Taskid',
				striped: false,
				fit: true,
				singleSelect: true,
				pagination: false,
				columns: [[
				{ field: 'TaskName', title: '任务名称', width: 100, sortable: false, align: "center" },
				{ field: 'DateCompleted', title: '完成时间', width: 100, sortable: true, align: "center",
					formatter: function (value, row, index) {
						var timeVal = value;
						if (timeVal == null || timeVal == "")
							return "";
						var dt = eval("new " + timeVal.substr(1, timeVal.length - 2));
						return dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
					}
				},
				{ field: 'GrantorRealName', title: '来自', width: 60, sortable: false, align: "center" },
				{ field: 'UserRealName', title: '完成人', width: 60, sortable: false, align: "center" },
				{ field: 'IsBack', title: '退回件', width: 40, sortable: true, align: "center",
					formatter: function (value, row, index) {
						if (value)
							return "是";
						return "否";
					}
				},
				{ field: 'Opinion', title: '审批意见', width: 80, sortable: true, align: "center" }
				]]
			});
			$('#workflow_workrelate_viewtable1').datagrid({
			    title: '',
			    loadMsg: "正在加载……",
			    border: false,
			    url: '/workflow/gettodotasks?serial=' + rec.serialno + '&_=' + Math.random(),
			    rownumbers: true,
			    nowrap: true,
			    idField: 'Taskid',
			    striped: false,
			    fit: true,
			    singleSelect: true,
			    pagination: false,
			    onSelect: function (rowIndex, rowData) {
			        //alert(rowData.PreTaskid);
			        if (rowData.PreUserId == workflow_workrelate_g_username && rec.dostate == 0) {
			            workflow_workrelate_showundo(1);
			            workflow_workrelate_g_rollid = rowData.PreTaskid;
			            

			        }
			        else {
			            workflow_workrelate_showundo(0);
			        }
			    },
			    columns: [[
				{ field: 'TaskName', title: '任务名称', width: 100, sortable: false, align: "center" },
				{ field: 'UserRealName', title: '下一步操作人', width: 100, sortable: false, align: "center" },
				{ field: 'DateAccepted', title: '接收时间', width: 100, sortable: true, align: "center",
				    formatter: function (value, row, index) {
				        var timeVal = value;
				        if (timeVal == null || timeVal == "")
				            return "";
				        var dt = eval("new " + timeVal.substr(1, timeVal.length - 2));
				        return dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
				    }
				},

				{ field: 'PreUserRealName', title: '来自', width: 60, sortable: false, align: "center" },
				{ field: 'IsBack', title: '退回件', width: 40, sortable: true, align: "center",
				    formatter: function (value, row, index) {
				        if (value)
				            return "是";
				        return "否";
				    }
				},
				{ field: 'TaskStatus', title: '状态', width: 60, sortable: false, align: "center",
				    formatter: function (value, row, index) {
				        if (value == 7)
				            return "已撤销";
				        return "办理中";
				    }
				}
				]],
			    onLoadSuccess: function (data) {
			        if (data.total == 0)
			            $('#workflow_workrelate_viewtab').tabs('select', 1);
			        else
			            $('#workflow_workrelate_viewtab').tabs('select', 0);

			    }
			});
			$("#workflow_workrelate_viewdiv").dialog({
			    title: "审批过程查看",
			    collapsible: false,
			    minimizable: false,
			    maximizable: false,
			    resizable: false,
			    draggable: false,
			    closable: true,
			    modal: true,
			    fit: false,
			    cache: false,
			    width: 500,
			    height: 400,
			    buttons: [{
			        text: '撤回',
			        iconCls: "icon-undo",
			        id: "workflow_workrelate_roll",
			        handler: function () {
			            workflow_workrelate_RollRecord();
			        }
			    }, {
			        text: "关闭",
			        iconCls: "icon-cancel",
			        id: "workflow_workrelate_cancelview",
			        handler: function () {
			            $("#workflow_workrelate_viewdiv").dialog("close");
			        }
			    }]
			});
            workflow_workrelate_showundo(0);
		} catch (e) {
			$.messager.alert('审批过程查看异常', e.message, 'warning');
		}
	}
	function workflow_workrelate_showundo(isshow) {
	    if (isshow == 1) {
            $("#workflow_workrelate_roll").linkbutton('enable');
        }
        else {
            $("#workflow_workrelate_roll").linkbutton('disable');
        }
    }
    function workflow_workrelate_RollRecord() {
        if (workflow_workrelate_g_rollid == 0) {
            $.messager.alert('提示', "已退回到初始步骤，不能再退回！", 'warning');
        }
	    try {
	        $.ajax({
	            type: "POST",
	            url: "/workflow/rolltask?taskid=" + workflow_workrelate_g_rollid,
	            dataType: "json",
	            success: function (data) {
	                try {
	                    if (data.code == 0) {
	                        
	                        $.messager.alert('提示', '撤销工作成功', 'info');
	                        $("#workflow_workrelate_viewdiv").dialog("close");
	                    }
	                    else
	                        $.messager.alert('提示', data.msg, 'info');
	                } catch (e) {
	                    $.messager.alert('提示', e.message, 'warning');
	                }
	            },
	            complete: function (XMLHttpRequest, textStatus) {
                    
	                $("body").unmask();
	            },
	            beforeSend: function (XMLHttpRequest) {
	                $("body").mask("正在撤销...");
	            }
	        });
	        //alert(workflow_workrelate_g_rollid);
	    }
	    catch (e) {
	        $.messager.alert('任务撤回异常', e.message, 'warning');
	    }
     }

</script>
<table id="workflow_workrelate_maintable"></table>  
<div id="workflow_workrelate_tb" style="padding:5px;height:auto;">  
	<div>  
		<a onclick="workflow_workrelate_viewRecord();" id="workflow_workrelate_btnview" class="easyui-linkbutton" iconCls="icon-donetasks" plain="true" disabled="true">审批过程查看</a>
	</div>  
	<div>
		工作状态：<input id="workflow_workrelate_search_status" style="width:200px" />
		关键字：<input id="workflow_workrelate_search_key" style="width:200px" />
		<a href="javascript:workflow_workrelate_search();" class="easyui-linkbutton" iconCls="icon-search" >查找</a>  
	</div>
</div>
<div id="workflow_workrelate_viewdiv">
<div id="workflow_workrelate_viewtab">   
    <div title="审批中" data-options="closable:false">
        <table id="workflow_workrelate_viewtable1"></table>     
    </div>   
    <div title="已完成" data-options="closable:false">
       <table id="workflow_workrelate_viewtable2"></table> 
    </div>   
</div>  
</div>