@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv=Content-Type content="text/html; charset=gb2312">
    <style>
    </style>

</head>

<body lang=ZH-CN>

    <p align=center style='text-align:center'>
        <b>
            <span style='font-size:14.0pt;font-family:宋体'>开工备案协议</span>
        </b>
    </p>

    <p><span lang=EN-US>&nbsp;</span></p>

    <p><span style='font-family:宋体'>阅读须知内容如下</span><span lang=EN-US>:</span></p>

    <p><span style='font-family:宋体'>&nbsp;&nbsp;本公司对该项目工程的劳动用工和工资支付负总责，实行实名制考勤制度，设置劳资专管员专门负责农民工工资管理，每月根据实际考勤情况制作工资清单，并由本公司在银行开设专户转款用于支付农民工工资，若发生农民工工资支付纠纷，本公司愿意承担相关法律责任，并承诺无条件同意政府启动工资保证金及接受行政处罚或行政处理。</span></p>



</body>

</html>

